/* Default styles */
body, html {
	color: #000;
	font-family: $font;
	font-size: 16px;
	background-color: white;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-text-size-adjust: 90%;
	-ms-text-size-adjust: 90%;
}

.top {
	background-color: $blue;
	height: 133px;
}

ul, li {
	-webkit-text-size-adjust: 90%;
	-ms-text-size-adjust: 90%;
}

.clearfix:after,
.center:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.center {
	width: 1100px;
	margin: 0 auto;
	position: relative;
}

.section {
	&__heading {
		text-transform: uppercase;
		text-align: center;
		font-size: 38px;
		font-weight: $med;
		line-height: 1.2;

		&--small {
			font-size: 28px;
		}
	}
}

.required {
	color: $green;
}

/* @media (max-width: 1400px) {
	.top {
		height: 186px;
	}
} */