// Mixins
@mixin transition($element, $time, $effect) {
	-webkit-transition: $element $time $effect;
	-moz-transition: $element $time $effect;
	-ms-transition: $element $time $effect;
	-o-transition: $element $time $effect;
	transition: $element $time $effect;
}

@mixin flexbox($direction, $justify, $align) {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: $direction;
	flex-direction: $direction;
	-webkit-justify-content: $justify;
	justify-content: $justify;
	-webkit-align-items: $align;
	align-items: $align;
}

@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model;
	-moz-box-sizing: $box-model;
	-ms-box-sizing: $box-model;
	-o-box-sizing: $box-model;
	box-sizing: $box-model;
}

@mixin fit-content() {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: -ms-fit-content;
	width: -o-fit-content;
	width: fit-content;
}