//- Variables

//- Colors:
$blue: #007fca;
$blue--dark: #006ac4;
$green: #00af16;
$green--light: #26bb39;
$grey: #f8fafb;
$grey--dark: #dee6ea;
$red: #e01147;
$muted: rgba(black, 0.7);

//- Font
$font: 'PFDInTextCondPro', 'Open Sans', sans-serif;
$reg: 400;
$med: 600;
$bold: bold;