/* --- director --- */
.director {
	padding: 60px 0;
	background-color: $grey--dark;
	color: white;

	&__heading {
		margin-bottom: 50px;
		color: black;
	}

	&__container {
		background-color: white;
		color: black;
		box-shadow: 0px 0px 10px 3px RGBA(0, 0, 0, 0.1);

		&-img {
			width: 365px;
			line-height: 0;
			float: left;
		}

		&-text {
			width: 735px;
			padding: 50px;
			float: left;
			@include box-sizing(border-box);
		}
	}

	&__subheading {
		font-size: 22px;
		font-weight: $reg;
		margin-bottom: 25px;
	}

	&__paragraph {
		font-size: 16px;
		color: $muted;
		line-height: 1.2;
		margin-bottom: 20px;

		&--med {
			font-weight: $med;
		}
	}

	&__list {
		margin-bottom: 10px;

		&-item {
			line-height: 1.2;
			color: $muted;
			margin-bottom: 10px;
			position: relative;

			&:before {
				content: '•';
				position: absolute;
				font-size: 12px;
				color: $blue;
				left: -13px;
				top: 2px;
			}
		}
	}

	&__info {
		&-face {
			min-height: 70px;
			margin-right: 20px;
			line-height: 0;
			border-radius: 50%;
			overflow: hidden;
			float: left;
		}

		&-text {
			padding-top: 10px;
			float: left;
		}

		&-name {
			font-size: 18px;
			font-weight: $med;
			line-height: 1.2;
		}

		&-post {
			font-size: 16px;
			font-weight: $reg;
			line-height: 1.2;
		}
	}
}