<section id="s-director" class="director section">
    <div class="center">
        <h2 class="section__heading director__heading">Обращение Генерального директора ГК "Алтимстрой"</h2>
        <div class="director__container clearfix">
            <div class="director__container-img"><img src="../img/elem/director__container-img.jpg" alt="Фотография Генерального директора ГК Алтимстрой"></div>
            <div class="director__container-text">
                <p class="director__subheading">Дорогие партнеры!</p>
                <p class="director__paragraph">С момента начала деятельности основными приоритетами нашей компании являются клиентоориентированность и постоянное расширение ассортимента строительной продукции, которую мы предлагаем. За время работы накоплен значительный опыт по успешному выполнению даже самых сложных задач по подбору и поставке материалов на объекты наших Заказчиков.</p>
                <p class="director__paragraph director__paragraph--med">Являясь официальным дистрибьютором таких известных производителей, как Волма, Knauf, Юнис, Основит, Технониколь, Weber, наша компания постоянно расширяет сотрудничество. Благодаря этому мы можем предложить не просто продажу строительных материалов, но и ряд существенных дополнительных сервисов, таких как:</p>
                <ul class="director__list">
                    <li class="director__list-item">консультация наших специалистов (совместно с представителями заводов-производителей) по выбору продукции для выполнения поставленной задачи на основе технических характеристик и экономического расчета эффективностиприменения того или иного решения;</li>
                    <li class="director__list-item">обучение правильному применению поставляемой продукции с бесплатным выездом на объекты технических специалистов, организация мастер-классов в учебных центрах заводов-партнеров;</li>
                    <li class="director__list-item">расчет специальной цены и дополнительных скидок от производителей на крупные заказы.</li>
                </ul>
                <p class="director__paragraph">Системный подход позволяет нам предлагать наиболее оптимальное решение для наших Заказчиков.</p>
                <p class="director__paragraph">Наша компания открыта для сотрудничества и нацелена, как на расширение и укрепление существующих партнерских отношений, так и на развитие новых деловых связей. Будем рады видеть Вас среди наших постоянных клиентов.</p>
                <div class="director__info clearfix">
                    <div class="director__info-face"><img src="../img/elem/director__info-face.jpg" alt="Лицо Генерального директора ГК Алтимстрой"></div>
                    <div class="director__info-text">
                        <p class="director__info-name">Тарало Александр Иванович</p>
                        <p class="director__info-post">Генеральный директор ГК "Алтимстрой"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>