<section class="compare section">
	<div class="center">
		<h2 class="section__heading compare__heading">Сравнение ПГП Волма с другими материалами</h2>
		<div class="compare__container clearfix"><img src="../img/elem/compare__table.jpg" width="640" alt="Сравнение ПГП Волма с другими материалами" class="compare__table">
			<div class="compare__analyze">
				<p class="compare__analyze-text">Себестоимость возведения 1 м² перегородок в сухих помещениях<br>в 2,17 раз ниже, чем при использовании перегородки из ячеистого бетона</p><a href="/static_files/analize_pgp.ppt" title="Скачать полный сравнительный анализ" onclick="_gaq.push(['_trackEvent', 'Скачать полный сравнительный анализ', 'click']);" class="btn btn--bordered compare__analyze-btn">Скачать полный сравнительный анализ</a>
			</div>
		</div>
	</div>
</section>