section.compare.section
	.center
		h2.section__heading.compare__heading Сравнение ПГП Волма с другими материалами
		.compare__container.clearfix
			img(src='../img/elem/compare__table.jpg', width='640', alt='Сравнение ПГП Волма с другими материалами').compare__table
			.compare__analyze
				p.compare__analyze-text Себестоимость возведения 1 м² перегородок в сухих помещениях
					br
					| в 2,17 раз ниже, чем при использовании перегородки из ячеистого бетона
				a(href='/static_files/analize_pgp.ppt', title='Скачать полный сравнительный анализ', onclick='_gaq.push(["_trackEvent", "Скачать полный сравнительный анализ", "click"]);').btn.btn--bordered.compare__analyze-btn Скачать полный сравнительный анализ