/* --- Compare --- */
.compare {
	padding: 60px 0;
	background-color: $grey;

	&__heading {
		margin-bottom: 50px;
	}

	&__table {
		display: block;
		float: left;
	}

	&__analyze {
		width: 340px;
		margin-left: 40px;
		background-color: white;
		padding: 50px 40px;
		box-shadow: 0px 0px 10px 0px RGBA(0, 0, 0, 0.07);
		float: left;

		&-text {
			font-size: 22px;
			font-weight: $reg;
			line-height: 1.2;
			padding-top: 25px;
			position: relative;

			&:before {
				content: '';
				display: block;
				height: 2px;
				width: 30px;
				position: absolute;
				top: 0;
				left: 0;
				background-color: $green;
			}
		}

		&-btn {
			display: block;
			width: 100%;
			padding: 17px 19px;
			margin-top: 35px;
			text-align: center;
			text-decoration: none;
			@include box-sizing(border-box);
		}
	}
}