<section class="chief section">
    <div class="center">
        <h2 class="section__heading chief__heading">Бесплатный шеф-монтаж от завода Волма</h2>
        <p class="chief__subheading">В связи с плотным графиком работы специалистов по шеф-монтажу,<br>заявка формируется за 2-3 недели до даты обучения</p>
        <div class="chief__container clearfix">
            <div class="chief__block"><img src="../img/elem/chief__icon-1.png" alt="Для небольших объектов" class="chief__block-icon">
                <h3 class="chief__block-heading">Для небольших объектов</h3>
                <p class="chief__block-paragraph">Единоразовый выезд на Ваш объект для обучения правильному<br>применению продукции ВОЛМА, во время которого специалисты<br>показывают эталонную работу.</p>
                <p class="chief__block-paragraph"> <strong>Продолжительность: </strong> 1-2 дня. <br>Доступно при заказе от 1 машины.</p><a href="#" title="Оставить заявку" data-win="popup--chief" class="chief__block-btn btn btn--bordered open-popup">Оставить заявку</a>
            </div>
            <div class="chief__block"><img src="../img/elem/chief__icon-2.png" alt="Для крупных объектов" class="chief__block-icon">
                <h3 class="chief__block-heading">Для крупных объектов</h3>
                <p class="chief__block-paragraph">Помимо обучения правильному применению продукции ВОЛМА, включает<br>последующие выезды на Ваш объект с целью контроля соблюдения<br>технологии при производстве работ.</p>
                <p class="chief__block-paragraph"> <strong>Продолжительность: </strong> на всем этапе работ по объекту.<br>Доступно для крупных объектов.</p><a href="#" title="Оставить заявку" data-win="popup--chief" class="chief__block-btn btn btn--bordered open-popup">Оставить заявку</a>
            </div>
        </div>
    </div>
</section>