/* --- Chief --- */
.chief {
	padding: 60px 0 70px;
	background-color: $grey;

	&__heading {
		margin-bottom: 10px;
	}

	&__subheading {
		font-size: 20px;
		font-weight: $reg;
		text-align: center;
		line-height: 1.2;
		margin-bottom: 50px;
	}

	&__container {
		background-color: white;
		box-shadow: 0px 0px 10px 0px RGBA(0, 0, 0, 0.07);
	}

	&__block {
		width: 50%;
		float: left;
		padding: 50px;
		@include box-sizing(border-box);

		&-icon {
			display: inline-block;
			margin-bottom: 25px;
		}

		&-heading {
			font-size: 22px;
			font-weight: $reg;
			line-height: 1.2;
			margin-bottom: 25px;
		}

		&-paragraph {
			margin-bottom: 25px;
			line-height: 1.2;
			font-weight: $reg;
			color: rgba(black, 0.55);

			strong {
				font-weight: $med;
			}
		}

		&-btn {
			display: inline-block;
			padding: 16px 25px;
		}
	}
}