<section id="s-package" class="package section">
    <div class="center">
        <h2 class="section__heading package__heading">Комплектация объекта материалами ВОЛМА</h2>
        <div class="package__container clearfix">
            <div class="package__catalog"><img src="../img/elem/package__catalog-img.png" alt="Комплектация объекта материалами ВОЛМА" class="package__catalog-img"><a href="/static_files/catalog.pdf" title="Скачать каталог" onclick="_gaq.push(['_trackEvent', 'Скачать каталог', 'click']);" class="package__catalog-btn btn btn--bordered">Скачать каталог</a></div>
            <div class="package__list clearfix">
                <div class="package__list-item clearfix"><img src="../img/elem/package__list-icon-1.png" alt="Штукатурные смеси" class="package__list-icon">
                    <div class="package__list-content">
                        <p><a href="/categories/shtukaturniye_smesi" class="package__list-link">Штукатурные смеси</a></p>
                    </div>
                </div>
                <div class="package__list-item clearfix"><img src="../img/elem/package__list-icon-2.png" alt="Шпаклёвочные смеси" class="package__list-icon">
                    <div class="package__list-content">
                        <p><a href="/categories/shpaklevochniye_smesi" class="package__list-link">Шпаклёвочные смеси</a></p>
                    </div>
                </div>
                <div class="package__list-item clearfix"><img src="../img/elem/package__list-icon-3.png" alt="Плиточные клеи" class="package__list-icon">
                    <div class="package__list-content">
                        <p><a href="/categories/plitochniye_klei" class="package__list-link">Плиточные клеи</a></p>
                    </div>
                </div>
                <div class="package__list-item clearfix"><img src="../img/elem/package__list-icon-4.png" alt="Смеси для выравнивания пола" class="package__list-icon">
                    <div class="package__list-content">
                        <p><a href="/categories/smesi_dlya_pola" class="package__list-link">Смеси для выравнивания пола</a></p>
                    </div>
                </div>
                <div class="package__list-item clearfix"><img src="../img/elem/package__list-icon-5.png" alt="Гипсокартон" class="package__list-icon">
                    <div class="package__list-content">
                        <p><a href="/categories/gkl" class="package__list-link">Гипсокартон</a></p>
                    </div>
                </div>
                <div class="package__list-item clearfix"><img src="../img/elem/package__list-icon-6.png" alt="Монтажные смеси" class="package__list-icon">
                    <div class="package__list-content">
                        <p><a href="/categories/montazhniye_smesi" class="package__list-link">Монтажные смеси</a></p>
                    </div>
                </div>
                <div class="package__list-item clearfix"><img src="../img/elem/package__list-icon-7.png" alt="Пазогребневые плиты" class="package__list-icon">
                    <div class="package__list-content">
                        <p><a href="/categories/pgp" class="package__list-link">Пазогребневые плиты</a></p>
                    </div>
                </div>
                <div class="package__list-item clearfix"><img src="../img/elem/package__list-icon-8.png" alt="Утеплитель" class="package__list-icon">
                    <div class="package__list-content">
                        <p><a href="/categories/uteplitel" class="package__list-link">Утеплитель</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>