section.package.section#s-package
	.center
		h2.section__heading.package__heading Комплектация объекта материалами ВОЛМА
		.package__container.clearfix
			.package__catalog
				img(src='../img/elem/package__catalog-img.png', alt='Комплектация объекта материалами ВОЛМА').package__catalog-img
				a(href='/static_files/catalog.pdf', title='Скачать каталог', onclick='_gaq.push(["_trackEvent", "Скачать каталог", "click"]);').package__catalog-btn.btn.btn--bordered Скачать каталог
			.package__list.clearfix
				.package__list-item.clearfix
					img(src='../img/elem/package__list-icon-1.png', alt='Штукатурные смеси').package__list-icon
					.package__list-content
						p
							a(href='/categories/shtukaturniye_smesi').package__list-link Штукатурные смеси
				.package__list-item.clearfix
					img(src='../img/elem/package__list-icon-2.png', alt='Шпаклёвочные смеси').package__list-icon
					.package__list-content
						p
							a(href='/categories/shpaklevochniye_smesi').package__list-link Шпаклёвочные смеси
				.package__list-item.clearfix
					img(src='../img/elem/package__list-icon-3.png', alt='Плиточные клеи').package__list-icon
					.package__list-content
						p
							a(href='/categories/plitochniye_klei').package__list-link Плиточные клеи
				.package__list-item.clearfix
					img(src='../img/elem/package__list-icon-4.png', alt='Смеси для выравнивания пола').package__list-icon
					.package__list-content
						p
							a(href='/categories/smesi_dlya_pola').package__list-link Смеси для выравнивания пола
				.package__list-item.clearfix
					img(src='../img/elem/package__list-icon-5.png', alt='Гипсокартон').package__list-icon
					.package__list-content
						p
							a(href='/categories/gkl').package__list-link Гипсокартон
				.package__list-item.clearfix
					img(src='../img/elem/package__list-icon-6.png', alt='Монтажные смеси').package__list-icon
					.package__list-content
						p
							a(href='/categories/montazhniye_smesi').package__list-link Монтажные смеси
				.package__list-item.clearfix
					img(src='../img/elem/package__list-icon-7.png', alt='Пазогребневые плиты').package__list-icon
					.package__list-content
						p
							a(href='/categories/pgp').package__list-link Пазогребневые плиты
				.package__list-item.clearfix
					img(src='../img/elem/package__list-icon-8.png', alt='Утеплитель').package__list-icon
					.package__list-content
						p
							a(href='/categories/uteplitel').package__list-link Утеплитель