/* --- Package --- */
.package {
	padding: 60px 0 70px;
	background-color: white;
	border-bottom: 1px $grey--dark solid;

	&__heading {
		margin-bottom: 50px;
	}

	&__catalog {
		width: 225px;
		padding: 50px 30px;
		margin-right: 35px;
		box-shadow: 0px 0px 10px 0px #EDEDED;
		float: left;

		&-img {
			display: block;
			margin: 0 auto 10px;
		}

		&-btn {
			display: block;
			width: 180px;
			padding: 17px 0;
			margin: 0 auto;
			border: 2px $green solid;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: $med;
			color: black;
		}
	}

	&__list {
		width: 780px;
		padding: 25px 0;
		float: left;

		&-item {
			width: 50%;
			float: left;
			padding-left: 45px;
			margin: 25px 0;
			@include box-sizing(border-box);
		}

		&-link {
			text-decoration: none;
			color: inherit;
			@include transition(color, 0.2s, ease);

			&:hover, &:focus {
				color: $green;
			}
		}

		&-icon {
			display: block;
			float: left;
		}

		&-content {
			font-size: 22px;
			font-weight: $reg;
			padding-left: 20px;
			padding-top: 10px;
			float: left;
		}
	}
}