<section class="stats section">
    <div class="center">
        <h2 class="section__heading stats__heading">Волму выбирает рынок</h2>
        <div class="stats__container stats__container--award clearfix">
            <div class="stats__award">
                <div class="stats__award-place">2</div>
                <div class="stats__award-text">По объему продаж<br>гипсокартона (ГКЛ) в РФ</div>
            </div>
            <div class="stats__award">
                <div class="stats__award-place">1</div>
                <div class="stats__award-text">По объему продаж<br>пазогребневых плит (ПГП) в РФ</div>
            </div>
            <div class="stats__award">
                <div class="stats__award-place">2</div>
                <div class="stats__award-text">По объему продаж<br>сухих строительных смесей в РФ</div>
            </div>
        </div>
        <div class="stats__container clearfix">
            <div class="stats__numbers">
                <div class="stats__numbers-num">1 800</div>
                <div class="stats__numbers-text">сотрудников</div>
            </div>
            <div class="stats__numbers">
                <div class="stats__numbers-num">13 500 м<sup>2</sup></div>
                <div class="stats__numbers-text">площадь складов<br>готовой продукции в ЦФО</div>
            </div>
            <div class="stats__numbers">
                <div class="stats__numbers-num">6</div>
                <div class="stats__numbers-text">заводов в РФ и СНГ</div>
            </div>
            <div class="stats__numbers">
                <div class="stats__numbers-num">3</div>
                <div class="stats__numbers-text">карьера<br>и месторождения гипса</div>
            </div>
        </div>
    </div>
</section>