/* --- Stats --- */
.stats {
	color: white;
	padding: 60px 0;
	background-color: $blue;

	&__heading {
		margin-bottom: 45px;
	}

	&__container {
		&--award {
			padding-bottom: 45px;
			border-bottom: 1px $blue--dark solid;
		}
	}

	&__award {
		min-height: 160px;
		width: 33.33%;
		position: relative;
		text-align: center;
		background-image: url('../img/elem/stats__award-bg.png');
		background-position: center top;
		background-repeat: no-repeat;
		float: left;

		&:before {
			content: '';
			display: block;
			height: 4px;
			width: 50px;
			position: absolute;
			background-color: $green;
			top: 100px;
			left: 158px;
		}

		&-place {
			padding-top: 32px;
			font-size: 65px;
			font-weight: $bold;
			margin-bottom: 50px;

			&:after {
				content: 'Место';
				display: block;
				margin-top: 13px;
				font-size: 22px;
				font-weight: $reg;
				text-transform: uppercase;
			}
		}

		&-text {
			font-size: 22px;
			font-weight: $reg;
			line-height: 1.2;
		}
	}

	&__numbers {
		padding: 45px 0 0;
		width: 25%;
		float: left;
		text-align: center;

		&-num {
			font-weight: $med;
			font-size: 50px;
			margin-bottom: 10px;

			sup {
				vertical-align: super;
				font-size: 26px;
			}
		}

		&-text {
			font-weight: $reg;
			font-size: 22px;
			line-height: 1.2;
		}
	}
}