section.stats.section
	.center
		h2.section__heading.stats__heading Волму выбирает рынок
		.stats__container.stats__container--award.clearfix
			.stats__award
				.stats__award-place 2
				.stats__award-text По объему продаж
					br
					| гипсокартона (ГКЛ) в РФ
			.stats__award
				.stats__award-place 1
				.stats__award-text По объему продаж
					br
					| пазогребневых плит (ПГП) в РФ
			.stats__award
				.stats__award-place 2
				.stats__award-text По объему продаж
					br
					| сухих строительных смесей в РФ
		.stats__container.clearfix
			.stats__numbers
				.stats__numbers-num 1 800
				.stats__numbers-text сотрудников
			.stats__numbers
				.stats__numbers-num 13 500 м
					sup 2
				.stats__numbers-text площадь складов
					br
					| готовой продукции в ЦФО
			.stats__numbers
				.stats__numbers-num 6
				.stats__numbers-text заводов в РФ и СНГ
			.stats__numbers
				.stats__numbers-num 3
				.stats__numbers-text карьера
					br
					| и месторождения гипса