<% extend 'elements/layout/layout.htm' %>

<% include 'elements/cart/cart.htm' %>

<% include 'elements/popup/popup.htm' %>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='/helpers/js/jquery.form-validator.min.js'></script>
<script src='/helpers/js/jquery.maskedinput.min.js'></script>
<script src='/helpers/js/lightgallery.min.js'></script>
<script src='/helpers/js/lg-video.min.js'></script>
<script src='/helpers/js/prices.js'></script>
<script src='/helpers/js/popup.js'></script>
<script src='/helpers/js/header.js'></script>
<script src='/helpers/js/dropzone.min.js'></script>
<script src='/helpers/js/spec--counter.js'></script>
<script src='/helpers/js/order.js'></script>
<script src='/helpers/js/choser.js'></script>
<script src='/helpers/js/recalculateCart.js'></script>
<script src='/helpers/js/run.js'></script>

<% block 'pagename' : %>cart<% end %>