<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="/img/elem/favicon.png" rel="shortcut icon">
    <title><%- @title %></title>
    <link href="/css/cp.css" rel="stylesheet">
  </head>
  <body>
    <section id="admin" class="admin">
      <div class="center">
		<% if not @admin : %>
			<div class="admin__content">
			<div class="admin__form-wrapper">
				<form action="/cp/auth" method="post" class="admin__form">
					<% if @err : %>
						<%= @err %>
					<% else : %>
						<h2>Пожалуйста, авторизуйтесь!</h2>
					<% end %>	
					<fieldset class="admin__form-fieldset">
						<label class="admin__form-label">Логин</label>
						<input type="text" name="login" required class="admin__form-field">
					</fieldset>
					<fieldset class="admin__form-fieldset">
						<label class="admin__form-label">Пароль</label>
						<input type="password" name="password" required class="admin__form-field">
					</fieldset>
					<fieldset class="admin__form-fieldset">
						<input type="submit" value="Авторизоваться" class="admin__form-submit">
					</fieldset>
				</form>
			</div>
			</div>
		<% else : %>
			<div class="admin__content">
				<div class="admin__form-wrapper">
					<% if @success : %>
						<h1>Данные успешно импортированы</h1>
					<% end %>
					<form action="/cp/upload" method="post" enctype="multipart/ford-data" class="admin__form">
						<p>prices.xlsx:</p>
						<fieldset class="admin__form-fieldset">
							<input type="file" name="pricesFile" class="admin__form-field">
						</fieldset>
						<fieldset class="admin__form-fieldset">
							<input type="submit" value="Загрузить" class="admin__form-submit">
						</fieldset>
					</form>
					<p class="admin__exit"><a href="/cp/logout" class="admin__exit-link">Выйти</a></p>
				</div>
			</div>
		<% end %>
      </div>
    </section>
  </body>
</html>