<% extend 'elements/layout/layout.htm' %>

<% include 'elements/promo/promo--home.htm' %>
<% include 'elements/advantages/advantages.htm' %>
<% include 'elements/stats/stats.htm' %>
<% include 'elements/created/created.htm' %>
<% include 'elements/videos/videos--home.htm' %>
<% include 'elements/package/package.htm' %>
<% include 'elements/last-objects/last-objects.htm' %>
<% include 'elements/action/action--request.htm' %>
<% include 'elements/delivery/delivery.htm' %>
<% include 'elements/director/director.htm' %>
<% include 'elements/feedbacks/feedbacks.htm' %>
<% include 'elements/map/map.htm' %>
<% include 'elements/contacts/contacts.htm' %>

<% include 'elements/popup/popup.htm' %>
<% include 'elements/scripts/scripts--home.htm' %>

<% block 'pagename' : %>home<% end %>