<% extend 'elements/layout/layout.htm' %>

<% include 'elements/promo/promo--mont.htm' %>
<% include 'elements/spec/spec--mont.htm' %>
<% include 'elements/sphere/sphere--mont.htm' %>
<% include 'elements/action/action--special.htm' %>
<% include 'elements/advantages/advantages.htm' %>
<% include 'elements/created/created.htm' %>
<% include 'elements/compare/compare.htm' %>
<% include 'elements/action/action--calc.htm' %>
<% include 'elements/package/package.htm' %>
<% include 'elements/last-objects/last-objects.htm' %>
<% include 'elements/action/action--request.htm' %>
<% include 'elements/chief/chief.htm' %>
<% include 'elements/quality/quality--mont.htm' %>
<% include 'elements/videos/videos--mont.htm' %>

<% include 'elements/popup/popup.htm' %>
<% include 'elements/scripts/scripts--inner.htm' %>

<% block 'pagename' : %>mont<% end %>