<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1170">
    <meta name="description" content="SEO Description">
    <meta name="keywords" content="SEO keywords">
    <link href="../img/elem/favicon.png" rel="shortcut icon">
    <title><%- @title %></title>
    <link href="../css/main.min.css" rel="stylesheet"><!--[if gte IE 9]>
    <link href="../helpers/css/fonts-ie.css" rel="stylesheet"><![endif]-->
  </head>
  <body>
    <div class="thanks-container">
      <h1 class="thanks__heading">Ваш заказ оформлен!</h1>
      <p class="thanks__info">На Ваш email отправлено подтверждение об оформленном заказе<br>Вы можете отследить заказ по вашему ID: <span class="thanks__id"><%= @orderId %> </span>по телефону: <a href="tel:74950000001">+7 (495) 000-00-01</a></p><a href="/" title="Вернуться на главную" class="thanks__close"></a>
    </div>
  </body>
</html>