/* --- Footer --- */
.footer {
	padding: 50px 0 60px;
	background-color: #2e508f;
	color: white;

	&__col {
		width: 25%;
		padding-left: 40px;
		border-left: 1px rgba(white, 0.15) solid;
		float: left;
		@include box-sizing(border-box);

		&:first-child {
			border-left: none;
			padding-left: 0;
		}
	}

	&__logo {
		display: block;
		margin-bottom: 115px;
	}

	&__copyright {
		font-size: 14px;
		font-weight: $reg;
		line-height: 25px;
		color: rgba(white, 0.75);

		a {
			display: inline-block;
			border-bottom: 2px rgba(white, 0.15) solid;
			text-decoration: none;
			line-height: 1.2;
			font-weight: $med;
			color: inherit;
			@include transition(border-bottom-color, 0.2s, ease);

			&:hover,
			&:focus {
				border-bottom-color: rgba(white, 0.7);
			}
		}
	}

	&__list {
		&-item {
			margin-bottom: 13px;
			font-size: 14px;
		}

		&-link {
			color: white;
			font-weight: $med;
			text-decoration: none;
			@include transition(color, 0.2s, ease);

			&:hover,
			&:focus {
				color: rgba(white, 0.6);
			}
		}
	}

	&__tel {
		font-size: 24px;
		font-weight: $med;
		margin-bottom: 8px;

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	&__time {
		font-size: 13px;
		font-weight: $reg;
		margin-bottom: 75px;
	}

	&__mail {
		margin-bottom: 17px;
		font-weight: $med;

		a {
			display: inline-block;
			border-bottom: 2px rgba(white, 0.15) solid;
			color: inherit;
			line-height: 1.2;
			text-decoration: none;
			@include transition(border-bottom-color, 0.2s, ease);

			&:hover,
			&:focus {
				border-bottom-color: rgba(white, 1);
			}
		}
	}

	&__btn {
		display: inline-block;
		padding: 18px 25px;
		margin-bottom: 5px;
		border: 2px rgba(white, 0.15) solid;
		background-color: rgba(white, 0);
		text-transform: uppercase;
		text-decoration: none;
		color: inherit;
		font-weight: $med;
		@include transition(all, 0.2s, ease);

		&:hover,
		&:focus {
			background-color: rgba(white, 0.15);
			border-color: transparent;
			box-shadow: 0px 0px 8px 0px rgba(black, 0.15);
		}
	}
}