footer.footer
	.center
		.footer__container.clearfix
			.footer__col
				img(src='../img/elem/header__logo.png', width='210', alt='Алтим-строй - Официальный дилер ВОЛМА в ЦФО').footer__logo
				p.footer__copyright © 2015 Алтим-Строй
					br
					| Дизайн и разработка сайта - 
					a(href='http://m8digital.ru') M8 Digital
			.footer__col
				ul.footer__list
					li.footer__list-item
						a(href='/categories/pgp').footer__list-link Пазогребневые плиты (ПГП)
					li.footer__list-item
						a(href='/categories/gkl').footer__list-link Гипсокартоновые листы (ГКЛ)
					li.footer__list-item
						a(href='/categories/uteplitel').footer__list-link Утеплитель
					li.footer__list-item
						a(href='/categories/shtukaturniye_smesi').footer__list-link Штукатурные смеси
					li.footer__list-item
						a(href='/categories/plitochniye_klei').footer__list-link Плиточные клеи
					li.footer__list-item
						a(href='/categories/shpaklevochniye_smesi').footer__list-link Шпаклёвочные смеси
					li.footer__list-item
						a(href='/categories/smesi_dlya_pola').footer__list-link Смеси для выравнивания пола
					li.footer__list-item
						a(href='/categories/montazhniye_smesi').footer__list-link Монтажные смеси
			.footer__col
				ul.footer__list
					li.footer__list-item 
						a(href=(pageName=='home') ? '#s-advantages':'/#s-advantages').footer__list-link Преимущества
					li.footer__list-item 
						a(href=(pageName=='home') ? '#s-package':'/#s-package').footer__list-link Комлектация объектов
					li.footer__list-item 
						a(href=(pageName=='home') ? '#s-director':'/#s-director').footer__list-link О компании
					li.footer__list-item 
						a(href=(pageName=='home') ? '#s-delivery':'/#s-delivery').footer__list-link Доставка и оплата
					li.footer__list-item 
						a(href=(pageName=='home') ? '#s-created':'/#s-created').footer__list-link Объекты
					li.footer__list-item 
						a(href=(pageName=='home') ? '#s-videos':'/#s-videos').footer__list-link Видео
					li.footer__list-item 
						a(href=(pageName=='home') ? '#s-feedbacks':'/#s-feedbacks').footer__list-link Отзывы
					li.footer__list-item 
						a(href=(pageName=='home') ? '#s-contacts':'/#s-contacts').footer__list-link Контакты
			.footer__col
				p.footer__tel
					a(href='tel:' + (phone[1])) #{phone[0]}
				p.footer__time ПН - ПТ с 9:00 до 19:00
				p.footer__mail
					a(href='mailto:sales@altimstroy.ru') sales@altimstroy.ru
				a(href='#', data-win='popup--lead').open-popup.footer__btn Оставить заявку