@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	background-color: #252E3F;
	color: white;
	font-family: 'Trebuchet MS', sans-serif;
}

.center {
	width: 800px;
	position: relative;
	margin: 0 auto;
}

.admin__content {
	width: 500px;
	padding: 30px;
	margin: 200px auto;
	background-color: #007FCA;
	border-radius: 3px;
	box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.07);
	border-bottom: 3px #035F96 solid;
	text-align: center;
}

.admin__form-wrapper {
	display: inline-block;
	width: 80%;
}

.admin__form-label {
	display: block;
	text-align: left;
	margin-bottom: 5px;
}

.admin__form-fieldset {
	border: none;
	margin: 0 0 15px;
	padding: 0;
	box-shadow: none;
}

.admin__form-field[type="text"],
.admin__form-field[type="password"] {
	height: 50px;
	width: 100%;
	padding: 0 0 0 20px;
	border: none;
	color: white;
	background-color: #1a8ccf;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.admin__form-submit {
	height: 56px;
	width: 100%;
	margin-top: 20px;
	text-transform: uppercase;
	background-color: #00af16;
	border: none;
	box-shadow: none;
	color: white;
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: bold;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}

.admin__form-submit:hover,
.admin__form-submit:focus {
	background-color: #26bb39;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
}

.admin__exit {
	margin-bottom: 0;
	text-align: right;
}

.admin__exit-link {
	color: white;
	text-decoration: none;
}