<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://maps.google.com/maps/api/js"></script>
<script src="../helpers/js/jquery.form-validator.min.js"></script>
<script src="../helpers/js/jquery.maskedinput.min.js"></script>
<script src="../helpers/js/lightgallery.min.js"></script>
<script src="../helpers/js/owl.carousel.min.js"></script>
<script src="../helpers/js/lg-video.min.js"></script>
<script src="../helpers/js/dropzone.min.js"></script>
<script src="../helpers/js/carousel.js"></script>
<script src="../helpers/js/popup.js"></script>
<script src="../helpers/js/select.js"></script>
<script src="../helpers/js/header.js"></script>
<script src="../helpers/js/choser.js"></script>
<script src="../helpers/js/cities.js"></script>
<script src="../helpers/js/run.js"></script>
<script src="../helpers/js/map.js"></script>
<script>
    var __cs = __cs || [];
    __cs.push(["setAccount", "V7s9iD_kbYkHk6zqaxr_eeqVelzrQvUK"]);
    __cs.push(["setHost", "//server.comagic.ru/comagic"]);
</script>
<script type="text/javascript" async src="//app.comagic.ru/static/cs.min.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-72979752-1', 'auto');
    ga('send', 'pageview');
</script>
<script>
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter34937965 = new Ya.Metrika({
                    id:34937965,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName('script')[0],
                s = d.createElement('script'),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://mc.yandex.ru/metrika/watch.js';

        if (w.opera == '[object Opera]') {
            d.addEventListener('DOMContentLoaded', f, false);
        } else { f(); }
    })(document, window, 'yandex_metrika_callbacks');
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/34937965" style="position:absolute; left:-9999px;" alt=""></div>
</noscript>