doctype html
html
	block vars
		- var pageName = ''
		- var phone = ["+7 (495) 000-00-01", 74950000001]
		- var haveTechnical = false
	head
		meta(charset='UTF-8')
		meta(name="viewport", content="width=1170")
		meta(name='description', content='SEO Description')
		meta(name='keywords', content='SEO keywords')
		link(href='/img/elem/favicon.png', rel='shortcut icon')
		block title
			title Altim-stroy :: Front-End
		block styles
			link(href='/css/main.min.css', rel='stylesheet')
			<!--[if gte IE 9]>
			link(href='/helpers/css/fonts-ie.css', rel='stylesheet')
			<![endif]-->
	body
		include ../action/action.jade
		include ../montage/montage.jade
		
		include ../header/header.jade
		block content
		include ../footer/footer.jade
		include ../popup/popup.jade
		block scripts
			//- script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')