<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1170">
    <meta name="description" content="SEO Description">
    <meta name="keywords" content="SEO keywords">
    <link href="/img/elem/favicon.png" rel="shortcut icon">
    <title><%- @title %></title>
    <link href="/css/main.min.css" rel="stylesheet">
    <!--[if gte IE 9]>
    <link href="/helpers/css/fonts-ie.css" rel="stylesheet">
    <![endif]-->
</head>
<body>
    <% include 'elements/header/header.htm' %>
    <% content %>
    <% include 'elements/footer/footer.htm' %>
</body>
</html>