<section class="action section">
    <div class="center">
        <div class="action__container">
            <div class="action__text">
                <p class="action__maintext">Пришлите фотографию Вашей сметы и получите расчет<br>на комплектацию объекта</p>
            </div>
            <div class="action__trigger"><a href="#" title="Получить расчет" data-win="popup--request" class="action__btn open-popup open-popup btn btn--green">Получить расчет<i class="action__btn-icon"></i></a></div>
        </div>
    </div>
</section>