/* --- Action --- */
.action {
	padding: 35px 0;
	background-color: $blue;
	color: white;

	&__container {
		@include flexbox(row, space-between, center);
	}

	&__text {
		// float: left;
	}

	&__maintext {
		font-size: 25px;
		font-weight: $med;
		line-height: 1.2;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	&__subtext {
		font-size: 20px;
		font-weight: $reg;
		line-height: 1.2;
	}

	&__trigger {
		// float: right;
	}

	&__btn {
		display: block;
		padding: 20px 27px;
		background-color: $green;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: $med;
		color: inherit;

		&-icon {
			display: inline-block;
			height: 14px;
			width: 13px;
			margin-left: 8px;
			vertical-align: -1px;
			background-image: url('../img/elem/action__btn-icon.png');
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	&__date {
		font-size: 20px;
		font-weight: $reg;
		text-align: center;
		margin-top: 15px;
	}
}