<section class="action section">
    <div class="center">
        <div class="action__container">
            <div class="action__text">
                <p class="action__maintext">Получите бесплатный расчет экономического эффекта<br>от применения ПГП на Вашем объекте</p>
                <p class="action__subtext">Экономия от 5 млн. руб., сокращение сроков в 3 раза</p>
            </div>
            <div class="action__trigger"><a href="#" title="Получить расчет эффекта" data-win="popup--calc" class="action__btn open-popup btn btn--green">Получить расчет эффекта<i class="action__btn-icon"></i></a>
                <p class="action__date">Только до <span class="js-action__day">31</span>&nbsp;<span class="js-action__month">декабря</span>!</p>
            </div>
        </div>
    </div>
</section>