//- section.action.section
//- 	.center
//- 		.action__text
//- 			p.action__maintext Пришлите фотографию Вашей сметы и получите расчет
//- 				br
//- 				| на комплектацию объекта
//- 		.action__trigger
//- 			a(href='#', title='Получить расчет').action__btn Получить расчет
//- 				i.action__btn-icon

mixin action(number)
	case number
		when 1
			section.action.section
				.center
					.action__container
						.action__text 
							p.action__maintext Пришлите фотографию Вашей сметы и получите расчет
								br
								| на комплектацию объекта
						.action__trigger
							a(href='#', title='Получить расчет', data-win='popup--request').action__btn.open-popup.open-popup.btn.btn--green Получить расчет
								i.action__btn-icon
		when 2
			section.action.section
				.center
					.action__container
						.action__text 
							p.action__maintext Только для застройщиков
							p.action__subtext Получите КП на спец цены и бесплатный шеф монтаж от завода ВОЛМА
						.action__trigger
							a(href='#', title='Получить предложение', data-win='popup--special').action__btn.open-popup.btn.btn--green Получить предложение
								i.action__btn-icon
		when 3
			section.action.section
				.center
					.action__container
						.action__text 
							p.action__maintext Получите бесплатный расчет экономического эффекта
								br
								| от применения ПГП на Вашем объекте
							p.action__subtext Экономия от 5 млн. руб., сокращение сроков в 3 раза
						.action__trigger
							a(href='#', title='Получить расчет эффекта', data-win='popup--calc').action__btn.open-popup.btn.btn--green Получить расчет эффекта
								i.action__btn-icon
							p.action__date Только до 
								span.js-action__day 31
								| &nbsp;
								span.js-action__month декабря
								| !