<section class="action section">
    <div class="center">
        <div class="action__container">
            <div class="action__text">
                <p class="action__maintext">Только для застройщиков</p>
                <p class="action__subtext">Получите КП на спец цены и бесплатный шеф монтаж от завода ВОЛМА</p>
            </div>
            <div class="action__trigger"><a href="#" title="Получить предложение" data-win="popup--special" class="action__btn open-popup btn btn--green">Получить предложение<i class="action__btn-icon"></i></a></div>
        </div>
    </div>
</section>