<section class="last-objects section">
    <div class="center">
        <h2 class="section__heading section__heading--small last-objects__heading">Последние комплектованные объекты</h2>
        <div id="carousel--last-objects" class="owl-carousel lightbox">
            <div class="project project--3">
                <div class="project__top">
                    <p class="project__name">Торгово-офисный центр</p>
                    <p class="project__city">г. Тверь</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/complected/complected__1.jpg" data-sub-html="Торгово-офисный центр: Гипсокартон, ГКЛ - 3560 кв. м." title="Торгово-офисный центр - г. Тверь" class="project__image-link lightbox__link"><img src="../img/complected/complected__1.jpg" alt="Торгово-офисный центр - г. Тверь"></a></div>
                        <div class="project__description">
                            <p class="project__text"> <strong>Тип материала: </strong>Гипсокартон, ГКЛ</p>
                            <p class="project__text"> <strong>Объем поставок: </strong>3560 кв. м.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--3">
                <div class="project__top">
                    <p class="project__name">Спортивный комплекс</p>
                    <p class="project__city">г. Тверь</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/complected/complected__2.jpg" data-sub-html="Спортивный комплекс: Пазогребневые плиты (ПГП) - 150 шт." title="Спортивный комплекс - г. Тверь" class="project__image-link lightbox__link"><img src="../img/complected/complected__2.jpg" alt="Спортивный комплекс - г. Тверь"></a></div>
                        <div class="project__description">
                            <p class="project__text"> <strong>Тип материала: </strong>Пазогребневые плиты (ПГП)</p>
                            <p class="project__text"> <strong>Объем поставок: </strong>150 шт.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--3">
                <div class="project__top">
                    <p class="project__name">Отделение Сбербанк</p>
                    <p class="project__city">г. Зеленоград</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/complected/complected__3.jpg" data-sub-html="Отделение Сбербанк: Утеплитель - 125 кг." title="Отделение Сбербанк - г. Зеленоград" class="project__image-link lightbox__link"><img src="../img/complected/complected__3.jpg" alt="Отделение Сбербанк - г. Зеленоград"></a></div>
                        <div class="project__description">
                            <p class="project__text"> <strong>Тип материала: </strong>Утеплитель</p>
                            <p class="project__text"> <strong>Объем поставок: </strong>125 кг.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--3">
                <div class="project__top">
                    <p class="project__name">Офис продаж Mazda</p>
                    <p class="project__city">г. Тверь</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/complected/complected__4.jpg" data-sub-html="Офис продаж Mazda: Монтажная смесь - 400 кв. м." title="Офис продаж Mazda - г. Тверь" class="project__image-link lightbox__link"><img src="../img/complected/complected__4.jpg" alt="Офис продаж Mazda - г. Тверь"></a></div>
                        <div class="project__description">
                            <p class="project__text"> <strong>Тип материала: </strong>Монтажная смесь</p>
                            <p class="project__text"> <strong>Объем поставок: </strong>400 кв. м.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--3">
                <div class="project__top">
                    <p class="project__name">Логистический центр</p>
                    <p class="project__city">Московская область</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/complected/complected__5.jpg" data-sub-html="Логистический центр: ГКЛ и штукатурные смеси - 1826 кв. м." title="Логистический центр - Московская область" class="project__image-link lightbox__link"><img src="../img/complected/complected__5.jpg" alt="Логистический центр - Московская область"></a></div>
                        <div class="project__description">
                            <p class="project__text"> <strong>Тип материала: </strong>ГКЛ и штукатурные смеси</p>
                            <p class="project__text"> <strong>Объем поставок: </strong>1826 кв. м.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--3">
                <div class="project__top">
                    <p class="project__name">Жилой комплекс</p>
                    <p class="project__city">г. Жуковский</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/complected/complected__6.jpg" data-sub-html="Жилой комплекс: ПГП, ГКЛ, Плиточный клей - 1340 кв. м." title="Жилой комплекс - г. Жуковский" class="project__image-link lightbox__link"><img src="../img/complected/complected__6.jpg" alt="Жилой комплекс - г. Жуковский"></a></div>
                        <div class="project__description">
                            <p class="project__text"> <strong>Тип материала: </strong>ПГП, ГКЛ, Плиточный клей</p>
                            <p class="project__text"> <strong>Объем поставок: </strong>1340 кв. м.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--3">
                <div class="project__top">
                    <p class="project__name">Гипермаркет Лента</p>
                    <p class="project__city">г. Вологда</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/complected/complected__7.jpg" data-sub-html="Гипермаркет Лента: Штукат. и шпаклевочные смеси - 375 кг." title="Гипермаркет Лента - г. Вологда" class="project__image-link lightbox__link"><img src="../img/complected/complected__7.jpg" alt="Гипермаркет Лента - г. Вологда"></a></div>
                        <div class="project__description">
                            <p class="project__text"> <strong>Тип материала: </strong>Штукат. и шпаклевочные смеси</p>
                            <p class="project__text"> <strong>Объем поставок: </strong>375 кг.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--3">
                <div class="project__top">
                    <p class="project__name">Жилой комплекс</p>
                    <p class="project__city">г. Тверь</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/complected/complected__8.jpg" data-sub-html="Жилой комплекс: Пазогребневые плиты (ПГП) - 720 шт." title="Жилой комплекс - г. Тверь" class="project__image-link lightbox__link"><img src="../img/complected/complected__8.jpg" alt="Жилой комплекс - г. Тверь"></a></div>
                        <div class="project__description">
                            <p class="project__text"> <strong>Тип материала: </strong>Пазогребневые плиты (ПГП)</p>
                            <p class="project__text"> <strong>Объем поставок: </strong>720 шт.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>