/* --- Popup --- */
.w {
	&-overlay {
		display: none;
		width: 100%;
		height: 100%;
		position: fixed;
		background: rgba(black, 0.75);
		top: 0;
		left: 0;
		z-index: 999;
		font-family: $font;
	}

	&-popup {
		box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.05);
		top: 50%;
		left: 50%;
		z-index: 1000;
		position: fixed;
		display: none;
		background-color: $grey;

		&--blue {
			background-color: $blue;
			color: white;
		}

		&__wrapper {
			width: 540px;
			zoom: 1;
			position: relative;
		}

		&__content {
			padding: 30px;
			border-radius: 0 0 2px 2px;
			position: relative;
		}

		&__heading {
			text-align: left;
			font-size: 22px;
			font-weight: $med;
			color: inherit;
			text-transform: uppercase;
			padding-right: 30px;
			margin-bottom: 20px;
			line-height: 1.2;

			&--center {
				text-align: center;
				padding-left: 30px;
			}
		}

		&__text {
			font-weight: $med;
			text-transform: uppercase;
			margin-top: 30px;
			margin-bottom: 15px;

			&--error {
				animation-name: alert;
				-webkit-animation-name: alert;
				animation-duration: 0.7s;
				-webkit-animation-duration: 0.7s;
				animation-timing-function: ease-in-out;
				-webkit-animation-timing-function: ease-in-out;
				-webkit-animation-fill-mode: forwards;
				-moz-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
				visibility: visible !important;

				@keyframes alert {
					0% {
						color: white;
					}

					50% {
						color: $red;
					}

					100% {
						color: white;
					}
				}
				@-webkit-keyframes alert {
					0% {
						color: white;
					}

					50% {
						color: $red;
					}

					100% {
						color: white;
					}
				}
			}
		}

		&__description {
			text-align: center;
			font-size: 16px;
			margin-bottom: 40px;
		}

		&__fieldset {
			position: relative;
			width: 100%;
			margin: 0 auto 10px;
		}

		&__field {
			height: 35px;
			width: calc(100% - 20px);
			border: none;
			padding: 15px 0 0 20px;
			font-size: 16px;
			font-weight: $reg;
			font-family: $font;
			background-color: #1a8ccf;
			color: white;
			outline: none;
			box-shadow: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			@include transition(all, 0.2s, ease);
			@include box-sizing(content-box);

			&:focus {
				font-size: 16px;
				height: 35px;
				padding-top: 15px;
			}

			&:focus + label,
			&:valid + label {
				top: 8px;
				font-size: 14px;
				color: rgba(white, 0.75);
			}

			&-label {
				color: rgba(white, 0.5); 
				font-size: 16px;
				font-weight: $reg;
				font-family: $font;
				position: absolute;
				pointer-events: none;
				left: 20px;
				top: 17px;
				@include transition(all, 0.2s, ease);
			}
		}

		&__submit {
			-webkit-appearance: none;
			-moz-appearance: none;
			display: block;
			height: 56px;
			width: 100%;
			text-transform: uppercase;
			font-size: 16px;
			font-family: $font;
			font-weight: $med;
			border: none;
			box-shadow: none;
			padding: 0;
			cursor: pointer;
			background-image: url("../img/elem/action__btn-icon.png");
			background-repeat: no-repeat;
			background-position: 73% 50%;

			&:active, &:focus {
				border: none;
				text-indent: none;
			}

			&--simple {
				background-image: none;
			}
		}

		&__close {
			display: block;
			height: 20px;
			width: 20px;
			position: absolute;
			right: 30px;
			top: 34px;
			opacity: 0.7;

			&:before,
			&:after {
				content: '';
				display: block;
				height: 3px;
				width: 20px;
				position: absolute;
				top: 8px;
				background-color: white;
				@include transition(background-color, 0.2s, ease);
			}

			&:before {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			&:after {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}

			&:hover {
				opacity: 1;
			}
		}

		&__choser {
			width: 100%;
			margin-bottom: 20px;

			.js {
				&-choser {
					&__elem {
						&--active {
							border-color: $green;
							z-index: 3;
							background-color: transparent;

							&:hover,
							&:focus {
								background-color: transparent;
							}
						}
					}
				}
			}

			&-element {
				width: 33%;
				padding: 9px;
				line-height: 1.2;
				text-align: center;
				text-decoration: none;
				font-weight: $reg;
				color: inherit;
				border: 2px $blue--dark solid;
				float: left;
				position: relative;
				margin-right: -2px;
				@include box-sizing(border-box);
				@include transition(background-color, 0.2s, ease);

				&:hover,
				&:focus {
					background-color: $blue--dark;
				}

				&:last-child {
					width: 34%;
				}
			}
		}

		&__dropzone {
			position: relative;
			min-height: 54px;
			// border: 2px $blue--dark solid;
			margin-bottom: 20px;
			padding-bottom: 64px;
			cursor: pointer;
			z-index: 10;

			&:before {
				// content: '+ Прикрепить еще';
				// content: '+ Прикрепить фото или файл сметы';
				content: attr(data-content);
				display: block;
				width: 100%;
				position: absolute;
				bottom: 0;
				padding: 19px 0;
				border: 2px $blue--dark solid;
				text-transform: uppercase;
				text-align: center;
				font-weight: $med;
				font-size: 16px;
				color: white;
				@include box-sizing(border-box);
			}

			&:hover {
				&:before {
					background-color: $blue--dark;
				}
			}

			&-placeholder {
				text-transform: uppercase;
				text-align: center;
				line-height: 47px;
				font-weight: $med;
				z-index: 5;
			}
		}

		&__btns {
			width: 425px;
			margin: 0 auto;
		}

		&__btn {
			display: block;
			height: 56px;
			width: 205px;
			float: left;
			text-align: center;
			line-height: 56px;
			color: white;
			@include box-sizing(border-box);

			&:first-child {
				margin-right: 10px;
				line-height: 52px;
			}
		}

		&__city {
			&-btn {
				display: block;
				width: 50%;
				padding: 17px 0;
				text-align: center;
				color: white;
				float: left;
				@include box-sizing(border-box);

				&:nth-child(odd) {
					width: 45%;
					padding: 19px 0;
					margin-right: 5%;
				}
			}

			&-btns {
				&--hidden { display: none; }
				&--active { display: block; }
			}

			&-select {
				&--hidden { display: none; }
				&--active { display: block; }
			}
		}

		&__select-container {
			width: 40%;
			margin-right: 10%;
			float: left;
		}
	}
}

span.help-block.form-error {
	max-height: 100%;
	max-width: 170px;
	padding: 8px 13px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	color: white;
	font-size: 14px;
	font-weight: $reg;
	font-family: $font;
	line-height: 1.2;
	background-color: $red;

	&:before {
		content: '';
		display: block;
		height: 10px;
		width: 10px;
		position: absolute;
		left: -5px;
		top: calc(50% - 5px);
		background-color: $red;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}