//- Popups
.w-overlay
#popup--calc.w-popup.w-popup--blue
	.w-popup__wrapper
		.w-popup__content
			h3.w-popup__heading Получите расчет экономического эффекта от специалиста ВОЛМА и узнайте, как сэкономить от 5 млн руб.
			form(action='http://volma-opt.ru:3000/order', method='post').w-popup__form.validate
				fieldset.w-popup__fieldset
					input(type='text', name='fio', data-validation='required', data-validation-error-msg='Пожалуйста, введите Ваши фамилию, имя и отчество.', required).w-popup__field
					label.w-popup__field-label Ф.И.О *
				fieldset.w-popup__fieldset
					input(type='tel', name='tel', data-validation='required', data-validation-error-msg='Пожалуйста, введите корректный телефон.', required).w-popup__field
					label.w-popup__field-label Ваш телефон *
				fieldset.w-popup__fieldset
					input(type='email', name='email', data-validation='required', data-validation-error-msg='Пожалуйста, введите корректный Email.', required).w-popup__field
					label.w-popup__field-label Ваш email *
				p.w-popup__text.w-popup__you-are Вы являетесь:
				.w-popup__choser.js-choser.clearfix
					a(href='#', title='Вы являетесь').js-choser__elem.w-popup__choser-element Бригадный
						br
						| подрядчик
					a(href='#', title='Вы являетесь').js-choser__elem.w-popup__choser-element Магазин
						br
						| или закупочная база
					a(href='#', title='Вы являетесь').js-choser__elem.w-popup__choser-element Строительная
						br
						| кампания
				input(type='hidden', name='form_name', value='Получить расчёт экономического эффекта')
				input(type='submit', name='form_submit', value='Получить расчет эффекта', onclick='_gaq.push(["_trackEvent", "Получить расчет эффекта", "click"]);').w-popup__submit.btn.btn--green
		a(href='#', title='Закрыть').w-popup__close

#popup--request.w-popup.w-popup--blue
	.w-popup__wrapper
		.w-popup__content
			h3.w-popup__heading Оставьте заявку на комплектацию
				br
				| Вашего объекта
			form(action='http://volma-opt.ru:3000/order', method='post', enctype='multipart/form-data').w-popup__form.validate.dropzone#myDropzone
				fieldset.w-popup__fieldset
					input(type='text', name='fio', data-validation='required', data-validation-error-msg='Пожалуйста, введите Ваши фамилию, имя и отчество.', required).w-popup__field
					label.w-popup__field-label Ф.И.О *
				fieldset.w-popup__fieldset
					input(type='tel', name='tel', data-validation='required', data-validation-error-msg='Пожалуйста, введите корректный телефон.', required).w-popup__field
					label.w-popup__field-label Ваш телефон *
				fieldset.w-popup__fieldset
					input(type='email', name='email', data-validation='required', data-validation-error-msg='Пожалуйста, введите корректный Email.', required).w-popup__field
					label.w-popup__field-label Ваш email *
				fieldset.w-popup__fieldset
					input(type='text', name='address', required).w-popup__field
					label.w-popup__field-label Адрес объекта
				fieldset.w-popup__fieldset
					input(type='text', name='firm', required).w-popup__field
					label.w-popup__field-label Наименование застройщика
				p.w-popup__text.w-popup__you-are Вы являетесь:
					.w-popup__choser.js-choser.clearfix
						a(href='#', title='Вы являетесь').js-choser__elem.w-popup__choser-element Бригадный
							br
							| подрядчик
						a(href='#', title='Вы являетесь').js-choser__elem.w-popup__choser-element Магазин
							br
							| или закупочная база
						a(href='#', title='Вы являетесь').js-choser__elem.w-popup__choser-element Строительная
							br
							| кампания
				.w-popup__dropzone.dropzone-previews.clearfix(data-content='+ Прикрепить фото или файл сметы')
				input(type='hidden', name='form_name', value='Заявка на комплектацию объекта')
				input(type='submit', name='form_submit', value='Отправить заявку', onclick='_gaq.push(["_trackEvent", "Отправить заявку", "click"]);').w-popup__submit.btn.btn--green
		a(href='#', title='Закрыть').w-popup__close

#popup--cart.w-popup.w-popup--blue
	.w-popup__wrapper
		.w-popup__content
			h3.w-popup__heading.w-popup__heading--center В КОРЗИНУ ДОБАВЛЕНО 
				span#pallets 10 
				|  ПОДДОНОВ
				br
				| НА СУММУ 
				span#cost 6 324.60
				|  ₽
			.w-popup__btns.clearfix
				a(href='#', title='Продолжить покупки').w-popup__btn.w-popup__btn--continue.btn.btn--bordered Продолжить покупки
				a(href='/cart', title='Оформить заказ', onclick='_gaq.push(["_trackEvent", "Оформить заказ", "click"]);').w-popup__btn.btn.btn--green.btn--arrow Оформить заказ
					i
		a(href='#', title='Закрыть').w-popup__close

#popup--lead.w-popup.w-popup--blue
	.w-popup__wrapper
		.w-popup__content
			h3.w-popup__heading Оставьте заявку и мы перезвоним
				br
				| в течении 10 минут
			form(action='http://volma-opt.ru:3000/order', method='post').w-popup__form.validate
				fieldset.w-popup__fieldset
					input(type='text', name='fio', data-validation='required', data-validation-error-msg='Пожалуйста, введите Ваши фамилию, имя и отчество.', required).w-popup__field
					label.w-popup__field-label Ф.И.О *
				fieldset.w-popup__fieldset
					input(type='tel', name='tel', data-validation='required', data-validation-error-msg='Пожалуйста, введите корректный телефон.', required).w-popup__field
					label.w-popup__field-label Ваш телефон *
				fieldset.w-popup__fieldset
					input(type='email', name='email', data-validation='required', data-validation-error-msg='Пожалуйста, введите корректный Email.', required).w-popup__field
					label.w-popup__field-label Ваш email *
				p.w-popup__text.w-popup__you-are Вы являетесь:
				.w-popup__choser.js-choser.clearfix
					a(href='#', title='Вы являетесь').js-choser__elem.w-popup__choser-element Бригадный
						br
						| подрядчик
					a(href='#', title='Вы являетесь').js-choser__elem.w-popup__choser-element Магазин
						br
						| или закупочная база
					a(href='#', title='Вы являетесь').js-choser__elem.w-popup__choser-element Строительная
						br
						| кампания
				input(type='hidden', name='form_name', value='Просьба перезвонить')
				input(type='submit', name='form_submit', value='Отправить заявку', onclick='_gaq.push(["_trackEvent", "Отправить заявку", "click"]);').w-popup__submit.w-popup__submit--simple.btn.btn--green
		a(href='#', title='Закрыть').w-popup__close

#popup--chief.w-popup.w-popup--blue
	.w-popup__wrapper
		.w-popup__content
			h3.w-popup__heading Получите бесплатный шеф-монтаж 
				br
				| на Вашем объекте!
			form(action='http://volma-opt.ru:3000/order', method='post').w-popup__form.validate
				fieldset.w-popup__fieldset
					input(type='text', name='fio', data-validation='required', data-validation-error-msg='Пожалуйста, введите Ваши фамилию, имя и отчество.', required).w-popup__field
					label.w-popup__field-label Ф.И.О *
				fieldset.w-popup__fieldset
					input(type='tel', name='tel', data-validation='required', data-validation-error-msg='Пожалуйста, введите корректный телефон.', required).w-popup__field
					label.w-popup__field-label Ваш телефон *
				fieldset.w-popup__fieldset
					input(type='email', name='email', data-validation='required', data-validation-error-msg='Пожалуйста, введите корректный Email.', required).w-popup__field
					label.w-popup__field-label Ваш email *
				fieldset.w-popup__fieldset
					input(type='text', name='address', required).w-popup__field
					label.w-popup__field-label Адрес объекта
				fieldset.w-popup__fieldset
					input(type='text', name='firm', required).w-popup__field
					label.w-popup__field-label Наименование застройщика
				p.w-popup__text.w-popup__you-are Вы являетесь:
				.w-popup__choser.js-choser.clearfix
					a(href='#', title='Вы являетесь').js-choser__elem.w-popup__choser-element Бригадный
						br
						| подрядчик
					a(href='#', title='Вы являетесь').js-choser__elem.w-popup__choser-element Магазин
						br
						| или закупочная база
					a(href='#', title='Вы являетесь').js-choser__elem.w-popup__choser-element Строительная
						br
						| кампания
				input(type='hidden', name='form_name', value='Получить бесплатный шеф-монтаж')
				input(type='submit', name='form_submit', value='Получить шеф-монтаж', onclick='_gaq.push(["_trackEvent", "Получить шеф-монтаж", "click"]);').w-popup__submit.btn.btn--green
		a(href='#', title='Закрыть').w-popup__close

#popup--special.w-popup.w-popup--blue
	.w-popup__wrapper
		.w-popup__content
			h3.w-popup__heading Получите КП на спец цены 
				br
				| и бесплатный шеф-монтаж 
				br
				| от завода ВОЛМА в течение 1 часа!
			form(action='http://volma-opt.ru:3000/order', method='post').w-popup__form.validate
				fieldset.w-popup__fieldset
					input(type='text', name='fio', data-validation='required', data-validation-error-msg='Пожалуйста, введите Ваши фамилию, имя и отчество.', required).w-popup__field
					label.w-popup__field-label Ф.И.О *
				fieldset.w-popup__fieldset
					input(type='tel', name='tel', data-validation='required', data-validation-error-msg='Пожалуйста, введите корректный телефон.', required).w-popup__field
					label.w-popup__field-label Ваш телефон *
				fieldset.w-popup__fieldset
					input(type='email', name='email', data-validation='required', data-validation-error-msg='Пожалуйста, введите корректный Email.', required).w-popup__field
					label.w-popup__field-label Ваш email *
				fieldset.w-popup__fieldset
					input(type='text', name='address', required).w-popup__field
					label.w-popup__field-label Адрес объекта
				fieldset.w-popup__fieldset
					input(type='text', name='firm', required).w-popup__field
					label.w-popup__field-label Наименование застройщика
				p.w-popup__text.w-popup__you-are Вы являетесь:
				.w-popup__choser.js-choser.clearfix
					a(href='#', title='Вы являетесь').js-choser__elem.w-popup__choser-element Бригадный
						br
						| подрядчик
					a(href='#', title='Вы являетесь').js-choser__elem.w-popup__choser-element Магазин
						br
						| или закупочная база
					a(href='#', title='Вы являетесь').js-choser__elem.w-popup__choser-element Строительная
						br
						| кампания
				input(type='hidden', name='form_name', value='Получить КП на спец цены и бесплатный шеф-монтаж')
				input(type='submit', name='form_submit', value='Получить предложение', onclick='_gaq.push(["_trackEvent", "Получить предложение", "click"]);').w-popup__submit.btn.btn--green
		a(href='#', title='Закрыть').w-popup__close

#popup--city.w-popup.w-popup--blue(data-page=(pageName))
	.w-popup__wrapper
		.w-popup__content
			h3.w-popup__heading Ваш город
				span  #{clientCity}
				| ?
			.w-popup__city
				.w-popup__city-btns.w-popup__city-btns--active.clearfix
					a(href='#', title='Подтвердить город').w-popup__city-btn.w-popup__city-btn--agree.btn.btn--green Да, мой город #{clientCity}
					a(href='#', title='Выбрать другой город').w-popup__city-btn.w-popup__city-btn--disagree.btn.btn--bordered Выбрать другой город
				.w-popup__city-select.w-popup__city-select--hidden.clearfix
					.w-popup__select-container
						select.js-select
							option(selected)= clientCity
							- for town in towns
								if town !== clientCity
									option= town
					a(href='#', title=('Подтвердить город')).w-popup__city-btn.w-popup__city-btn--agree.btn.btn--green Подтвердить город
		a(href='#', title='Закрыть').w-popup__close