<section id="s-created" class="created section">
    <div class="center">
        <h2 class="section__heading created__heading">Сделано с ВОЛМА</h2>
        <div id="carousel--created" class="owl-carousel lightbox">
            <div class="project project--4">
                <div class="project__top">
                    <p class="project__name">Артек</p>
                    <p class="project__city">г. Симферополь</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/created/created__1.jpg" data-sub-html="800 м2 новых стен из 2200 кв.м. ГКЛ Волма" title="Артек - г. Симферополь" class="project__image-link lightbox__link"><img src="../img/created/created__1.jpg" alt="Артек - г. г. Симферополь"></a></div>
                        <div class="project__description">
                            <p class="project__text">800 м2 новых стен из 2200 кв.м. ГКЛ Волма</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--4">
                <div class="project__top">
                    <p class="project__name">Москва Сити</p>
                    <p class="project__city">г. Москва</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/created/created__2.jpg" data-sub-html="Комплектация объекта Волма: ПГП, Штукатурки, Шпаклевки" title="Москва Сити - г. Москва" class="project__image-link lightbox__link"><img src="../img/created/created__2.jpg" alt="Москва Сити - г. г. Москва"></a></div>
                        <div class="project__description">
                            <p class="project__text">Комплектация объекта Волма: ПГП, Штукатурки, Шпаклевки</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--4">
                <div class="project__top">
                    <p class="project__name">Аэропорт Домодедово</p>
                    <p class="project__city">г. Москва</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/created/created__3.jpg" data-sub-html="26500 кв.м. ГКЛ Волма" title="Аэропорт Домодедово - г. Москва" class="project__image-link lightbox__link"><img src="../img/created/created__3.jpg" alt="Аэропорт Домодедово - г. г. Москва"></a></div>
                        <div class="project__description">
                            <p class="project__text">26500 кв.м. ГКЛ Волма</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--4">
                <div class="project__top">
                    <p class="project__name">Стадион Зенит</p>
                    <p class="project__city">г. Санкт-Петербург</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/created/created__4.jpg" data-sub-html="7 слоев ГКЛ для звукоизоляции подтрибунных помещений" title="Стадион Зенит - г. Санкт-Петербург" class="project__image-link lightbox__link"><img src="../img/created/created__4.jpg" alt="Стадион Зенит - г. г. Санкт-Петербург"></a></div>
                        <div class="project__description">
                            <p class="project__text">7 слоев ГКЛ для звукоизоляции подтрибунных помещений</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--4">
                <div class="project__top">
                    <p class="project__name">ТЦ Галактика</p>
                    <p class="project__city">г. Смоленск</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/created/created__5.jpg" data-sub-html="3000 кв.м. ГКЛ Волма" title="ТЦ Галактика - г. Смоленск" class="project__image-link lightbox__link"><img src="../img/created/created__5.jpg" alt="ТЦ Галактика - г. г. Смоленск"></a></div>
                        <div class="project__description">
                            <p class="project__text">3000 кв.м. ГКЛ Волма</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--4">
                <div class="project__top">
                    <p class="project__name">ТЦ Макси</p>
                    <p class="project__city">г. Смоленск</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/created/created__6.jpg" data-sub-html="7000 кв.м. ГКЛ Волма" title="ТЦ Макси - г. Смоленск" class="project__image-link lightbox__link"><img src="../img/created/created__6.jpg" alt="ТЦ Макси - г. г. Смоленск"></a></div>
                        <div class="project__description">
                            <p class="project__text">7000 кв.м. ГКЛ Волма</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--4">
                <div class="project__top">
                    <p class="project__name">Десантное училище</p>
                    <p class="project__city">г. Рязань</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/created/created__7.jpg" data-sub-html="5000 кв.м. ГКЛ Волма" title="Десантное училище - г. Рязань" class="project__image-link lightbox__link"><img src="../img/created/created__7.jpg" alt="Десантное училище - г. г. Рязань"></a></div>
                        <div class="project__description">
                            <p class="project__text">5000 кв.м. ГКЛ Волма</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--4">
                <div class="project__top">
                    <p class="project__name">Стадион Фишт</p>
                    <p class="project__city">г. Сочи</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/created/created__8.jpg" data-sub-html="5670 мешков Штукатурки" title="Стадион Фишт - г. Сочи" class="project__image-link lightbox__link"><img src="../img/created/created__8.jpg" alt="Стадион Фишт - г. г. Сочи"></a></div>
                        <div class="project__description">
                            <p class="project__text">5670 мешков Штукатурки</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--4">
                <div class="project__top">
                    <p class="project__name">Дворец правосудия</p>
                    <p class="project__city">г. Липецк</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/created/created__9.jpg" data-sub-html="5000 кв.м. ГКЛ Волма" title="Дворец правосудия - г. Липецк" class="project__image-link lightbox__link"><img src="../img/created/created__9.jpg" alt="Дворец правосудия - г. г. Липецк"></a></div>
                        <div class="project__description">
                            <p class="project__text">5000 кв.м. ГКЛ Волма</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--4">
                <div class="project__top">
                    <p class="project__name">Новые жилые мкр-ны</p>
                    <p class="project__city">г. Липецк</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/created/created__10.jpg" data-sub-html="50000 кв.м. ПГП Волма" title="Новые жилые мкр-ны - г. Липецк" class="project__image-link lightbox__link"><img src="../img/created/created__10.jpg" alt="Новые жилые мкр-ны - г. г. Липецк"></a></div>
                        <div class="project__description">
                            <p class="project__text">50000 кв.м. ПГП Волма</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--4">
                <div class="project__top">
                    <p class="project__name">Арена Омск</p>
                    <p class="project__city">г. Омск</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/created/created__11.jpg" data-sub-html="3500 кв.м. ГКЛ" title="Арена Омск - г. Омск" class="project__image-link lightbox__link"><img src="../img/created/created__11.jpg" alt="Арена Омск - г. г. Омск"></a></div>
                        <div class="project__description">
                            <p class="project__text">3500 кв.м. ГКЛ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--4">
                <div class="project__top">
                    <p class="project__name">Икея ОМСК</p>
                    <p class="project__city">г. Омск</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/created/created__12.jpg" data-sub-html="Комплектация объекта Волмой: ГКЛ, Штукатурки, Шпаклевки" title="Икея ОМСК - г. Омск" class="project__image-link lightbox__link"><img src="../img/created/created__12.jpg" alt="Икея ОМСК - г. г. Омск"></a></div>
                        <div class="project__description">
                            <p class="project__text">Комплектация объекта Волмой: ГКЛ, Штукатурки, Шпаклевки</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--4">
                <div class="project__top">
                    <p class="project__name">Успенский Собор</p>
                    <p class="project__city">г. Омск</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/created/created__13.jpg" data-sub-html="Реставрация с Волмой" title="Успенский Собор - г. Омск" class="project__image-link lightbox__link"><img src="../img/created/created__13.jpg" alt="Успенский Собор - г. г. Омск"></a></div>
                        <div class="project__description">
                            <p class="project__text">Реставрация с Волмой</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project project--4">
                <div class="project__top">
                    <p class="project__name">Академия физкультуры и спорта</p>
                    <p class="project__city">г. Cмоленск</p>
                </div>
                <div class="project__bottom">
                    <div class="project__card">
                        <div class="project__image"><a href="../img/created/created__14.jpg" data-sub-html="10000 кв.м. ПГП Волма" title="Академия физкультуры и спорта - г. Cмоленск" class="project__image-link lightbox__link"><img src="../img/created/created__14.jpg" alt="Академия физкультуры и спорта - г. г. Cмоленск"></a></div>
                        <div class="project__description">
                            <p class="project__text">10000 кв.м. ПГП Волма</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>