
<h1>404 Not Found</h1>
<pre>Error: Not Found
    at /Users/Spektr/Sites/www/routes/index.js:24:13
    at Layer.handle [as handle_request] (/Users/Spektr/Sites/www/node_modules/express/lib/router/layer.js:95:5)
    at trim_prefix (/Users/Spektr/Sites/www/node_modules/express/lib/router/index.js:312:13)
    at /Users/Spektr/Sites/www/node_modules/express/lib/router/index.js:280:7
    at Function.process_params (/Users/Spektr/Sites/www/node_modules/express/lib/router/index.js:330:12)
    at next (/Users/Spektr/Sites/www/node_modules/express/lib/router/index.js:271:10)
    at /Users/Spektr/Sites/www/node_modules/express/lib/router/index.js:618:15
    at next (/Users/Spektr/Sites/www/node_modules/express/lib/router/index.js:256:14)
    at Function.handle (/Users/Spektr/Sites/www/node_modules/express/lib/router/index.js:176:3)
    at router (/Users/Spektr/Sites/www/node_modules/express/lib/router/index.js:46:12)
    at Layer.handle [as handle_request] (/Users/Spektr/Sites/www/node_modules/express/lib/router/layer.js:95:5)
    at trim_prefix (/Users/Spektr/Sites/www/node_modules/express/lib/router/index.js:312:13)
    at /Users/Spektr/Sites/www/node_modules/express/lib/router/index.js:280:7
    at Function.process_params (/Users/Spektr/Sites/www/node_modules/express/lib/router/index.js:330:12)
    at next (/Users/Spektr/Sites/www/node_modules/express/lib/router/index.js:271:10)
    at new User (/Users/Spektr/Sites/www/modules/user.js:27:4)
    at module.exports (/Users/Spektr/Sites/www/modules/user.js:8:2)
    at Layer.handle [as handle_request] (/Users/Spektr/Sites/www/node_modules/express/lib/router/layer.js:95:5)
    at trim_prefix (/Users/Spektr/Sites/www/node_modules/express/lib/router/index.js:312:13)
    at /Users/Spektr/Sites/www/node_modules/express/lib/router/index.js:280:7
    at Function.process_params (/Users/Spektr/Sites/www/node_modules/express/lib/router/index.js:330:12)
    at next (/Users/Spektr/Sites/www/node_modules/express/lib/router/index.js:271:10)</pre>