<section id="s-delivery" class="delivery section">
    <div class="center">
        <h2 class="section__heading delivery__heading">Доставка происходит в 4 простых шага</h2>
        <div class="delivery__container clearfix">
            <div class="delivery__block">
                <div class="delivery__image"><span class="delivery__number"></span><img src="../img/elem/delivery__icon-1.png" title="Вы звоните нам по телефону" class="delivery__icon"></div>
                <p class="delivery__text">Вы звоните нам по телефону <br><a href="tel:74950000001">+7 (495) 000-00-01</a></p>
            </div>
            <div class="delivery__block">
                <div class="delivery__image"><span class="delivery__number"></span><img src="../img/elem/delivery__icon-2.png" title="Оказываем профессиональную консультацию" class="delivery__icon"></div>
                <p class="delivery__text">Оказываем профессиональную<br>консультацию, предоплата</p>
            </div>
            <div class="delivery__block">
                <div class="delivery__image"><span class="delivery__number"></span><img src="../img/elem/delivery__icon-3.png" title="Доставляем заказ по адресу" class="delivery__icon"></div>
                <p class="delivery__text">Доставляем заказ по адресу<br>в удобное для вас время</p>
            </div>
            <div class="delivery__block">
                <div class="delivery__image"><span class="delivery__number"></span><img src="../img/elem/delivery__icon-4.png" title="Вы получаете всю необходимую документацию" class="delivery__icon"></div>
                <p class="delivery__text">Постоплата, вы получаете<br>всю необходимую документацию</p>
            </div>
        </div>
    </div>
</section>