/* --- Delivery --- */
.delivery {
	padding: 60px 0 70px;
	background-color: $grey;
	counter-reset: number;

	&__heading {
		margin-bottom: 45px;
	}

	&__block {
		width: 25%;
		padding-right: 20px;
		float: left;
		@include box-sizing(border-box);
	}

	&__image {
		margin-bottom: 20px;
	}

	&__number {
		&:before {
			counter-increment: number;
			content: counter(number) '.';
			display: inline-block;
			margin-right: 20px;
			color: $green;
			font-size: 25px;
			font-weight: $med;
		}
	}

	&__text {
		font-size: 20px;
		font-weight: $reg;

		a {
			color: black;
			text-decoration: none;
		}
	}
}