section.delivery.section#s-delivery
	.center
		h2.section__heading.delivery__heading Доставка происходит в 4 простых шага
		.delivery__container.clearfix
			.delivery__block
				.delivery__image
					span.delivery__number
					img(src='../img/elem/delivery__icon-1.png', title='Вы звоните нам по телефону').delivery__icon
				p.delivery__text Вы звоните нам по телефону 
					br
					a(href='tel:' + (phone[1])) #{phone[0]}
			.delivery__block
				.delivery__image
					span.delivery__number
					img(src='../img/elem/delivery__icon-2.png', title='Оказываем профессиональную консультацию').delivery__icon
				p.delivery__text Оказываем профессиональную
					br
					| консультацию, предоплата
			.delivery__block
				.delivery__image
					span.delivery__number
					img(src='../img/elem/delivery__icon-3.png', title='Доставляем заказ по адресу').delivery__icon
				p.delivery__text Доставляем заказ по адресу
					br
					| в удобное для вас время
			.delivery__block
				.delivery__image
					span.delivery__number
					img(src='../img/elem/delivery__icon-4.png', title='Вы получаете всю необходимую документацию').delivery__icon
				p.delivery__text Постоплата, вы получаете
					br
					| всю необходимую документацию