/* --- btn --- */
.btn {
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1;
	@include transition(background-color, 0.2s, ease);

	&--green {
		background-color: $green;
		color: white;
		font-weight: $med;

		&:hover,
		&:focus {
			background-color: $green--light;
			box-shadow: 0px 0px 8px 0px RGBA(0, 0, 0, 0.2);
		}
	}

	&--arrow {
		i {
			display: inline-block;
			height: 14px;
			width: 13px;
			margin-left: 8px;
			vertical-align: -1px;
			background-image: url("../img/elem/action__btn-icon.png");
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	&--bordered {
		background-color: transparent;
		border: 2px $green solid;
		font-weight: $med;
		color: black;
		@include transition(all, 0.2s, ease);

		&:hover,
		&:focus {
			color: white;
			background-color: $green;
		}
	}
}