/* --- Table --- */
.table {
	display: table;
	width: 100%;
	// outline: 1px red dashed;
	border-collapse: collapse;
	line-height: 1.2;

	thead {
		background-color: $blue;
		color: white;

		tr {
			&:nth-child(2) {
				th {
					border-top: 1px $blue--dark solid;
					padding: 5px;
				}
			}
		}

		th {
			padding: 20px 20px;
			border-left: 1px $blue--dark solid;
			border-right: 1px $blue--dark solid;

			&:first-child {
				padding-left: 20px !important;
				border-left: none;
			}

			&:last-child {
				border-right: none;
			}
		}
	}

	tbody {
		border-width: 0px 1px 1px 1px;
		border-style: solid;
		border-color: $grey--dark;
		@include box-sizing(border-box);

		tr {
			&:nth-child(even) {
				background-color: $grey;
			}

			&:nth-child(odd) {
				background-color: white;
			}
		}

		td {
			vertical-align: middle;
			font-size: 14px;
			font-weight: $med;
			padding: 13px 20px;
			border-right: 1px $grey--dark solid;
			border-bottom: 1px $grey--dark solid;
			border-left: 1px $grey--dark solid;

			&:first-child {
				border-left: none;
			}

			&:last-child {
				border-right: none;
			}
		}
	}

	&-cell {
		&__heading {
			font-size: 14px;
			font-weight: $med;
		}

		&__subheading {
			font-size: 13px;
			font-weight: $reg;
		}

		&__tooltip {
			position: relative;
			margin-top: 15px;
			@include fit-content();

			&-link {
				color: white;
				text-decoration: none;
				font-size: 14px;
				font-weight: $reg;
				border-bottom: 2px rgba(white, 0.15) solid;

				&:hover + div,
				&:focus + div {
					opacity: 1;
				}
			}

			&-content {
				position: absolute;
				top: -45px;
				right: 0;
				padding: 10px;
				background-color: white;
				box-shadow: 0px 0px 3px 2px RGBA(0, 0, 0, 0.1);
				color: black;
				opacity: 0;
				@include transition(opacity, 0.2s, ease);
				-webkit-transform: translateX(calc(100% + 20px));
				-moz-transform: translateX(calc(100% + 20px));
				-ms-transform: translateX(calc(100% + 20px));
				-o-transform: translateX(calc(100% + 20px));
				transform: translateX(calc(100% + 20px));

				&:before {
					content: '';
					display: block;
					height: 10px;
					width: 10px;
					position: absolute;
					top: 45%;
					left: -5px;
					background-color: white;
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
				}
			}
		}

		&--small {
			width: 84px;
		}

		&--left {
			text-align: left;
		}

		&--right {
			text-align: right;
		}

		&--center {
			text-align: center;
		}
	}

	&__icon {
		display: inline-block;
		background-color: #3e9ed6;
		border-radius: 50%;
		color: white;
		height: 22px;
		width: 22px;
		position: relative;

		&:before,
		&:after {
			content: '';
			display: block;
			background-color: white;
			position: absolute;
		}

		&--plus {
			&:before {
				height: 2px;
				width: 10px;
				top: 10px;
				left: 6px;
			}

			&:after {
				height: 10px;
				width: 2px;
				top: 6px;
				left: 10px;
			}
		}

		&--minus {
			&:before {
				height: 2px;
				width: 10px;
				top: 10px;
				left: 6px;
			}

			&:after {
				display: none;
			}
		}

		&--none {
			&:before {
				display: noe;
			}

			&:after {
				height: 10px;
				width: 2px;
				top: 6px;
				left: 10px;
			}
		}
	}
}