/* Thnaks */
.thanks {
	&-container {
		font-family: $font;
		width: 100vw;
		height: 100vh;
		background-color: $blue;
		color: white;
		text-align: center;
		@include flexbox(column, center, center);
	}

	&__heading {
		margin-bottom: 15px;
		font-weight: $med;
		font-size: 35px;
		line-height: 1.2;
		text-transform: uppercase;
	}

	&__info {
		font-weight: $reg;
		font-size: 20px;
		line-height: 1.2;
		
		a {
			color: inherit;
			text-decoration: none;
		}
	}

	&__close {
		display: block;
		height: 30px;
		width: 30px;
		position: absolute;
		top: 50px;
		right: 50px;
		cursor: pointer;
		opacity: 0.6;
		@include transition(opacity, 0.2s, ease);

		&:hover,
		&:focus {
			opacity: 1;
		}

		&:before,
		&:after {
			content: '';
			display: block;
			height: 4px;
			width: 30px;
			position: absolute;
			top: 12px;
			background-color: white;
		}

		&:before {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}

		&:after {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}