/* --- Quality --- */
.quality {
	padding: 60px 0 70px;
	background-color: $blue;
	color: white;

	&__heading {
		margin-bottom: 50px;
	}

	&__image {
		margin-right: 100px;
		float: left;
	}

	&__content {
		width: 725px;
		float: left;

		&-top {
			border-bottom: 1px $blue--dark solid;
			position: relative;
		}

		&-bottom {
			padding-top: 17px;
		}

		&-btn {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			padding: 19px 28px;
		}
	}

	&__list {
		margin-right: 55px;
		margin-bottom: 20px;
		float: left;

		&-item {
			line-height: 30px;
			color: rgba(white, 0.7);
		}

		&-link {
			color: white;
			font-weight: $med;
			text-decoration: none;
			display: inline-block;
			border-bottom: 2px rgba(white, 0.15) solid;
			line-height: 1.2;
			@include transition(border-bottom-color, 0.2s, ease);

			&:hover,
			&:focus {
				border-bottom-color: white;
			}
		}
	}
}