<section class="quality section">
    <div class="center">
        <h2 class="section__heading quality__heading">Качество подтверждено сертификатами и протоколами</h2>
        <div class="quality__container clearfix"><img src="../img/elem/quality__image.png" alt="Качество подтверждено сертификатами и протоколами" class="quality__image">
            <div class="quality__content">
                <div class="quality__content-top clearfix">
                    <ul class="quality__list">
                        <li class="quality__list-item">Сертификат соответсвия</li>
                        <li class="quality__list-item">Протокол сертификационных испытаний</li>
                        <li class="quality__list-item">Сертификат пожарной безопасности</li>
                        <li class="quality__list-item">Радиологический протокол испытаний</li>
                        <li class="quality__list-item">Санитарно-эпидемиологическое заключение</li>
                    </ul>
                    <ul class="quality__list">
                        <li class="quality__list-item">Волма-Монтаж</li>
                        <li class="quality__list-item">Волма-Монтаж Мороз</li>
                        <li class="quality__list-item">Волма-Лист монтаж</li>
                        <li class="quality__list-item">Волма-Блок</li>
                        <li class="quality__list-item">Волма-Блок Морозостойкий</li>
                        <li class="quality__list-item">Волма-Дача</li>
                        <li class="quality__list-item">Волма-Термофасад</li>
                    </ul><a href="/static_files/docs_mont.rar" title="Скачать все сертификаты" onclick="_gaq.push(['_trackEvent', 'Скачать все сертификаты', 'click']);" class="quality__content-btn btn btn--green">Скачать все сертификаты</a>
                </div>
                <div class="quality__content-bottom">
                    <ul class="quality__list">
                        <li class="quality__list-item"> <a href="/static_files/iso.pdf" title="ISO 9001" class="quality__list-link">ISO 9001</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>