- var link_total = "/static_files/docs_" + pageName + ".rar"
- var link_individual = "/static_files/" + pageName + "/"

section.quality.section
	.center
		h2.section__heading.quality__heading Качество подтверждено сертификатами и протоколами
		.quality__container.clearfix
			img(src='../img/elem/quality__image.png', alt='Качество подтверждено сертификатами и протоколами').quality__image
			.quality__content
				.quality__content-top.clearfix
					if pageName == 'pgp'
						ul.quality__list
							li.quality__list-item Сертификат соответсвия
							li.quality__list-item Сертификат пожарной безопасности
							li.quality__list-item Радиологический протокол испытаний
							li.quality__list-item Декларация соответсвия
							li.quality__list-item Протоколы по огнестойкости
					else if pageName == 'utep'
						ul.quality__list
							li.quality__list-item Сертификаты утеплителя
					else if pageName == 'plit'
						ul.quality__list
							li.quality__list-item Сертификат соответсвия
							li.quality__list-item Протокол сертификационных испытаний
							li.quality__list-item Сертификат пожарной безопасности
							li.quality__list-item Радиологический протокол испытаний
							li.quality__list-item Санитарно-эпидемиологическое заключение
						ul.quality__list
							li.quality__list-item Волма-Интерьер
							li.quality__list-item Волма-Керамик
							li.quality__list-item Волма-Керамик ПЛЮС
							li.quality__list-item Волма-Мультиклей
							li.quality__list-item Волма-Экстраклей
							li.quality__list-item Волма-Теплит
					else if pageName == 'pol'
						ul.quality__list
							li.quality__list-item Сертификат соответсвия
							li.quality__list-item Сертификат пожарной безопасности
							li.quality__list-item Радиологический протокол испытаний
							li.quality__list-item Декларация соответсвия
							li.quality__list-item Протоколы по огнестойкости
						ul.quality__list
							li.quality__list-item Волма-Нивелир Экспересс
							li.quality__list-item Волма-Ровнитель Грубый
							li.quality__list-item Волма-Дача
					else if pageName == 'gkl'
						ul.quality__list
							li.quality__list-item Сертификат соответсвия
							li.quality__list-item Сертификат пожарной безопасности
							li.quality__list-item Радиологический протокол испытаний
							li.quality__list-item Декларация соответсвия
							li.quality__list-item Протоколы по огнестойкости
					else if pageName == 'shtuk'
						ul.quality__list
							li.quality__list-item Сертификат соответсвия
							li.quality__list-item Сертификат пожарной безопасности
							li.quality__list-item Радиологический протокол испытаний
							li.quality__list-item Декларация соответсвия
							li.quality__list-item Протоколы по огнестойкости
						ul.quality__list
							li.quality__list-item Волма-Слой
							li.quality__list-item Волма Холст
							li.quality__list-item Волма-Пласт
							li.quality__list-item Волма-Акваслой
							li.quality__list-item Волма-Цоколь
							li.quality__list-item Волма-Аквапласт
					else if pageName == 'shpak'
						ul.quality__list
							li.quality__list-item Сертификат соответсвия
							li.quality__list-item Сертификат пожарной безопасности
							li.quality__list-item Радиологический протокол испытаний
							li.quality__list-item Декларация соответсвия
							li.quality__list-item Протоколы по огнестойкости
						ul.quality__list
							li.quality__list-item Волма-Унишов
							li.quality__list-item Волма-Шов
							li.quality__list-item Волма-Финиш
							li.quality__list-item Волма-Стандарт
							li.quality__list-item Волма-База
							li.quality__list-item Волма-Аквастандарт
							li.quality__list-item Волма-Аквастандарт светлый
					else if pageName == 'mont'
						ul.quality__list
							li.quality__list-item Сертификат соответсвия
							li.quality__list-item Протокол сертификационных испытаний
							li.quality__list-item Сертификат пожарной безопасности
							li.quality__list-item Радиологический протокол испытаний
							li.quality__list-item Санитарно-эпидемиологическое заключение
						ul.quality__list
							li.quality__list-item Волма-Монтаж
							li.quality__list-item Волма-Монтаж Мороз
							li.quality__list-item Волма-Лист монтаж
							li.quality__list-item Волма-Блок
							li.quality__list-item Волма-Блок Морозостойкий
							li.quality__list-item Волма-Дача
							li.quality__list-item Волма-Термофасад
					a(href=(link_total), title='Скачать все сертификаты', onclick='_gaq.push(["_trackEvent", "Скачать все сертификаты", "click"]);').quality__content-btn.btn.btn--green Скачать все сертификаты
				.quality__content-bottom
					if pageName == 'pgp'
						ul.quality__list
							li.quality__list-item 
								a(href=(link_individual+pageName+"_construct.pdf") title='Конструкции перегородок увеличенной высоты').quality__list-link Конструкции перегородок увеличенной высоты
							li.quality__list-item 
								a(href=(link_individual+pageName+"_album.pdf") title='Альбом технических решений ПГП').quality__list-link Альбом технических решений ПГП
							li.quality__list-item 
								a(href="/static_files/iso.pdf" title='ISO 9001').quality__list-link ISO 9001
					else if pageName == 'gkl'
						ul.quality__list
							li.quality__list-item 
								a(href=(link_individual+pageName+"_zvuk.pdf") title='Альбом звукоизоляционных инженерных решений').quality__list-link Альбом звукоизоляционных инженерных решений
							li.quality__list-item 
								a(href=(link_individual+pageName+"_album.pdf") title='Альбом технических решений ГКЛ').quality__list-link Альбом технических решений ГКЛ
							li.quality__list-item 
								a(href="/static_files/iso.pdf" title='ISO 9001').quality__list-link ISO 9001
					else
						ul.quality__list
							li.quality__list-item 
								a(href="/static_files/iso.pdf" title='ISO 9001').quality__list-link ISO 9001