<section id="s-feedbacks" class="feedbacks section">
    <div class="center">
        <h2 class="section__heading feedbacks__heading">Отзывы наших клиентов</h2>
        <div class="feedbacks__container clearfix lightbox"><a href="../img/letters/letter-1.jpg" title="ООО &quot;Алюминиевые конструкции&quot;" class="feedbacks__block lightbox__link">
            <div class="feedbacks__block-top"><img src="../img/letters/thumbs/letter-1.jpg" title="ООО &quot;Алюминиевые конструкции&quot;" class="feedbacks__block-img"></div>
            <div class="feedbacks__block-bottom">
                <p class="feedbacks__block-company">ООО &quot;Алюминиевые конструкции&quot;</p>
            </div></a><a href="../img/letters/letter-2.jpg" title="СК &quot;Антром&quot;" class="feedbacks__block lightbox__link">
            <div class="feedbacks__block-top"><img src="../img/letters/thumbs/letter-2.jpg" title="СК &quot;Антром&quot;" class="feedbacks__block-img"></div>
            <div class="feedbacks__block-bottom">
                <p class="feedbacks__block-company">СК &quot;Антром&quot;</p>
            </div></a><a href="../img/letters/letter-3.jpg" title="ООО &quot;Билдинг&quot;" class="feedbacks__block lightbox__link">
            <div class="feedbacks__block-top"><img src="../img/letters/thumbs/letter-3.jpg" title="ООО &quot;Билдинг&quot;" class="feedbacks__block-img"></div>
            <div class="feedbacks__block-bottom">
                <p class="feedbacks__block-company">ООО &quot;Билдинг&quot;</p>
            </div></a><a href="../img/letters/letter-4.jpg" title="МЖК &quot;Тверь&quot;" class="feedbacks__block lightbox__link">
            <div class="feedbacks__block-top"><img src="../img/letters/thumbs/letter-4.jpg" title="МЖК &quot;Тверь&quot;" class="feedbacks__block-img"></div>
            <div class="feedbacks__block-bottom">
                <p class="feedbacks__block-company">МЖК &quot;Тверь&quot;</p>
            </div></a><a href="../img/letters/letter-5.jpg" title="ООО &quot;Рекрут&quot;" class="feedbacks__block lightbox__link">
            <div class="feedbacks__block-top"><img src="../img/letters/thumbs/letter-5.jpg" title="ООО &quot;Рекрут&quot;" class="feedbacks__block-img"></div>
            <div class="feedbacks__block-bottom">
                <p class="feedbacks__block-company">ООО &quot;Рекрут&quot;</p>
            </div></a>
        </div>
    </div>
</section>