/* --- Feedbacks --- */
.feedbacks {
	padding: 60px 0 70px;
	background-color: white;

	&__container {
		@include flexbox(row, flex-start, stretch);
	}

	&__heading {
		margin-bottom: 50px;
	}

	&__block {
		width: 200px;
		float: left;
		margin-right: 25px;
		color: black;
		text-decoration: none;
		box-shadow: 0px 0px 10px 0px #EDEDED;
		@include box-sizing(border-box);

		&:last-child {
			margin-right: 0;
		}

		&-top {
			overflow: hidden;
			line-height: 0;
		}

		&-bottom {
			padding: 15px 20px;
		}

		&-img {
			height: auto;
			max-width: 100%;
		}

		&-company {
			display: inline-block;
			padding-top: 10px;
			margin-bottom: 10px;
			font-weight: $med;
			position: relative;

			&:before {
				content: '';
				display: block;
				height: 2px;
				width: 15px;
				position: absolute;
				top: 0;
				left: 0;
				background-color: $green;
			}
		}

		&-logo {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}