section.feedbacks.section#s-feedbacks
	.center
		h2.section__heading.feedbacks__heading Отзывы наших клиентов
		.feedbacks__container.clearfix.lightbox
			- var feedbackFrom = ['ООО "Алюминиевые конструкции"', 'СК "Антром"', 'ООО "Билдинг"', 'МЖК "Тверь"', 'ООО "Рекрут"']
			- for (i = 0; i < 5; i++) {
				a(href='../img/letters/letter-' + (i+1) + '.jpg', title=feedbackFrom[i]).feedbacks__block.lightbox__link
					.feedbacks__block-top
						img(src='../img/letters/letter-' + (i+1) + '.jpg', title=feedbackFrom[i]).feedbacks__block-img
					.feedbacks__block-bottom
						p.feedbacks__block-company #{feedbackFrom[i]}
			- }