include _technical/technical.jade
section.spec.section
	.center
		.spec-container.tabs
			.tabs-top.clearfix
				.tabs-top__tab.tabs-top__tab--active(data-tab='1')
					a(href='#') Цены и размеры
				if haveTechnical == true
					.tabs-top__tab(data-tab='2')
						a(href='#') Технические характеристики
				if (pageName == 'pgp' || pageName == 'gkl')
					.tabs-top__tab(data-tab='3')
						a(href='#') Преимущества
				else
					.tabs-top__tab
				if haveTechnical == false
					.tabs-top__tab
				.tabs-top__select-container
					select.js-select
						option(selected)= clientCity
						- for town in towns
							if town !== clientCity 
								option= town
			.tabs-bottom
				.tabs-bottom__tab.tabs-bottom__tab--active(data-tab='1')
					h3.spec__city-heading Цены указаны для города #{clientCity}
					table.spec__table.table
						thead
							tr
								th(rowspan='2').table-cell--left
									| Наименование
									br
									if pageName == 'gkl'
										.table-cell__tooltip
											a(href='#', title='Тип УК').table-cell__tooltip-link Тип УК
											.table-cell__tooltip-content
												img(src='../img/elem/tooltip__content.jpg', alt='Тип УК')
								th(rowspan='2')
									p.table-cell__heading Размер, мм
									p.table-cell__subheading выс.*шир.*дл.
								th(rowspan='2')
									p.table-cell__heading Расход на 1м2
									p.table-cell__subheading перегородки
								th(rowspan='2')
									p.table-cell__heading Вес шт
									p.table-cell__subheading кг
								th(colspan='2')
									p.table-cell__heading Кол-во
									p.table-cell__subheading на поддоне
								th(colspan='4')
									p.table-cell__heading Кол-во
									p.table-cell__subheading в фуре 20т
								th(colspan='2')
									p.table-cell__heading Цена c доставкой
									p.table-cell__subheading руб
								th(rowspan='2')
									p.table-cell__heading Заказать
									p.table-cell__subheading поддонов
							tr
								th 
									p.table-cell__subheading шт
								th 
									p.table-cell__subheading м2
								th 
									p.table-cell__subheading поддонов
								th 
									p.table-cell__subheading шт
								th 
									p.table-cell__subheading м2
								th 
									p.table-cell__subheading кг
								th 
									p.table-cell__subheading за шт
								th 
									p.table-cell__subheading за фуру

						tbody
							- for row in goods
								if row.type
									tr
										td(colspan=13).cart__table-section #{row.type}
								- for good in row.goods
									tr(data-id=good.id)
										td.table-cell--left(data-item="name") #{good.name}
										td.table-cell--center(data-item="sizes")
											if good.sizes
												| #{good.sizes}
											- else
												| &#8212;
										td.table-cell--center(data-item="consumption") #{good.span}
										td.table-cell--center(data-item="weight") #{good.weight}
										td.table-cell--center(data-item="pallet_count_pcs") #{good.pallet_count_pcs}
										td.table-cell--center(data-item="pallet_count_ms") #{good.pallet_count_ms}
										td.table-cell--center(data-item="truck_pallets_count") #{good.truck_pallets_count}
										td.table-cell--center(data-item="truck_pcs_count") #{good.truck_pcs_count}
										td.table-cell--center(data-item="truck_ms_count") #{good.truck_ms_count}
										td.table-cell--center(data-item="truck_kg_count") #{good.truck_kg_count}
										td.table-cell--center.js-price(data-item="pcs_cost") #{good.pcs_cost_with_delivery} ₽
										td.table-cell--center.js-price(data-item="pallets_truck_cost") #{good.pallets_truck_cost_with_delivery} ₽
										td.table-cell--center(data-item="total_count")
											.spec-table__buy-container.clearfix
												.spec-table__buy-counter.js_counter
													a(href='#', title='Убрать 1').spec-table__buy-trigger.spec-table__buy-trigger--decrement.js_counter__minus
													//- span.spec-table__buy-count.js_counter__count 10
													input(type='text', value='10').js_counter__count.spec-table__buy-count.spec-table__buy-count--input
													a(href='#', title='Добавить 1').spec-table__buy-trigger.spec-table__buy-trigger--increment.js_counter__plus
												a(href='#', title='Добавить в корзину', data-win='popup--cart').spec-table__buy-btn.open-popup.btn.btn--green
				if haveTechnical == true
					.tabs-bottom__tab(data-tab='2')
						+technical(pageName)
				.tabs-bottom__tab(data-tab='3')
					.spec-advantages__container.clearfix
						if pageName == 'gkl'
							.spec-advantages__block
								.spec-advantages__block-element
									h3.spec-advantages__heading Высокое качество производства
									p.spec-advantages__text Продукция ВОЛМА производится на новейшем импортном оборудовании профессионалами с большим опытом работы.
								.spec-advantages__block-element
									h3.spec-advantages__heading Стабильность
									p.spec-advantages__text Постоянный контроль качества на всех этапах производства позволяет выпускать продукцию стабильно высокого качества.
								.spec-advantages__block-element
									h3.spec-advantages__heading Простота и удобство применения
									p.spec-advantages__text Технологичность гипсокартонных листов ТМ ВОЛМА позволяет быстро и качественно решать самые трудные задачи при монтаже перегородок, облицовке стен и потолков, при выполнении сложных криволинейных конструкций.
								.spec-advantages__block-element
									h3.spec-advantages__heading Долговечность
									p.spec-advantages__text ГКЛ изготавливается из высококачественного гипса и специального строительного картона, которые, при соблюдении правил монтажа, обеспечивают долгий срок эксплуатации.
							.spec-advantages__block
								.spec-advantages__block-element
									h3.spec-advantages__heading Ремонтопригодность
									p.spec-advantages__text В случае образования дефектов: пробоины, царапины или сколы, полученные в процессе монтажа или эксплуатации, листы гипсокартона легко поддаются заделке, шпаклева- нию и повторному окрашиванию.
								.spec-advantages__block-element
									h3.spec-advantages__heading Безопасность гкл волма:
									p.spec-advantages__text Гипсокартонные листы ВОЛМА изготавливаются из экологически безопасных материа- лов: гипса, строительного картона и специальных модифицирующих добавок. Безопас- ность материала подтверждена соответствующими сертификатами.
									br
									ul.spec-advantages__list
										li.spec-advantages__list-item Группа горючести — НГ (негорючие).
										li.spec-advantages__list-item Группа воспламеняемости — В1 (трудновоспламеняемые).
										li.spec-advantages__list-item Группа дымообразующей способности — Д1 (с малой дымообразующей способностью).
										li.spec-advantages__list-item Группа токсичности Т1 (малоопасные).
						else
							.spec-advantages__block
								.spec-advantages__block-element
									h3.spec-advantages__heading Высокая производительность — до 20 м
										sup 2 
										|  в день.
									p.spec-advantages__text Система паз-гребень упрощает монтаж перегородок и увеличивает скорость выполнения работ.
								.spec-advantages__block-element
									h3.spec-advantages__heading Экономия полезной площади
									p.spec-advantages__text После монтажа ПГП вы получаете поверхность, готовую к отделке финишными покрытиями, а значит толщина перегородок составляет всего 80 мм или 100 мм (в зависимости от типа плиты).
								.spec-advantages__block-element
									h3.spec-advantages__heading Преимущества технологии монтажа ПГП:
									ul.spec-advantages__list
										li.spec-advantages__list-item Гладкая глянцевая поверхность не требует штукатурных работ.
										li.spec-advantages__list-item Точность геометрии пары паз-гребень облегчает монтаж плит.
										li.spec-advantages__list-item Материал легко обрабатывается ручным инструментом.
										li.spec-advantages__list-item Проемы шириной до 900 мм монтируются без дополнительных перемычек.
										li.spec-advantages__list-item Технологические пустоты в пустотелых ПГП облегчают прокладку коммуникаций.
							.spec-advantages__block
								.spec-advantages__block-element
									h3.spec-advantages__heading Сокращение стоимости 1 м
										sup 2
										|  готовой поверхности
									p.spec-advantages__text Сокращение количества дополнительных материалов, вида и сроков выполняемых работ.
								.spec-advantages__block-element
									h3.spec-advantages__heading Экономия строительных материалов
									p.spec-advantages__text Без использования дополнительного оштукатуривая. 
										br
										| Проемы шириной до 900 мм монтируются без дополнительных перемычек. 
										br
										| Технологические пустоты облегчают прокладку коммуникаций.
								.spec-advantages__block-element
									h3.spec-advantages__heading Безопасность и долговечность
									p.spec-advantages__text Использование экологически безопасного гипса, отработанная технология производства и соблюдение правил монтажа дают возможность создавать безопасный продукт с неограниченным сроком эксплуатации.