/* --- Spec --- */
.spec {
	padding: 40px 0;
	background-color: white;

	&__table {
		thead {
			tr:nth-child(1) {
				th:nth-child(2) {
					border-right: none;
				}

				th:nth-child(3) {
					border-right: none;
					border-left: none;
				}

				th:nth-child(4) {
					border-left: none;
				}
			}

			tr:nth-child(2) {
				th:nth-child(1) {
					border-right: none;
				}

				th:nth-child(2) {
					border-left: none;
				}

				th:nth-child(3) {
					border-right: none;
				}

				th:nth-child(4),
				th:nth-child(5) {
					border-right: none;
					border-left: none;
				}

				th:nth-child(6) {
					border-left: none;
				}

				th:nth-child(7) {
					border-right: none;
				}

				th:nth-child(8) {
					border-left: none;
				}
			}

			th {
				padding-bottom: 10px;
				padding-right: 5px;
				padding-left: 5px;
			}
		}

		tbody {
			td {
				font-size: 14px;
				font-weight: $reg;
				padding: 7px 5px;

				&:first-child {
					font-weight: $med;
					padding-left: 20px;
				}
			}
		}
	}

	&__city {
		&-heading {
			text-align: center;
			text-transform: uppercase;
			font-size: 20px;
			margin: 0 0 30px;
		}
	}

	&-table {
		&__buy {
			&-container {
				width: 130px;
				margin: 0 auto;
			}

			&-counter {
				width: 70px;
				margin-right: 10px;
				// border: 1px $grey--dark solid;
				position: relative;
				background-color: white;
				float: left;
			}

			&-trigger {
				display: inline-block;
				height: 20px;
				width: 20px;
				position: absolute;
				top: 7px;
				text-decoration: none;
				vertical-align: middle;
				color: #b9b2b1;
				font-weight: 600;
				font-size: 20px;
				background-position: center;
				background-repeat: no-repeat;
				z-index: 1;

				&--increment {
					right: 3px;
					background-image: url('../img/elem/spec-table__buy-trigger--increment.png');
					background-position: center top;

					&:hover,
					&:focus {
						background-position: center bottom;
					}
				}

				&--decrement {
					left: 3px;
					background-image: url('../img/elem/spec-table__buy-trigger--decrement.png');
					background-position: center top;

					&:hover,
					&:focus {
						background-position: center bottom;
					}
				}
			}

			&-count {
				vertical-align: middle;

				&--input {
					height: 32px;
					width: 70px;
					top: 0;
					left: 0;
					border: 0;
					padding: 0;
					text-align: center;
					visibility: visible;
					border: 1px $grey--dark solid;
					z-index: 1;
					-webkit-appearance: none;
					-moz-appearance: none;
				}
			}

			&-btn {
				display: block;
				height: 32px;
				width: 32px;
				background-color: $green;
				background-image: url('../img/elem/spec-table__buy-btn-icon.png');
				background-repeat: no-repeat;
				background-position: center;
				float: left;
			}
		}
	}

	&-advantages {
		&__block {
			width: 50%;
			padding-right: 40px;
			padding-left: 20px;
			float: left;
			@include box-sizing(border-box);

			&-element {
				margin-bottom: 40px;
			}
		}

		&__heading {
			font-size: 22px;
			font-weight: $reg;
			margin-bottom: 20px;

			sup {
				font-size: 12px !important;
			}
		}

		&__text {
			font-weight: $reg;
			line-height: 1.2;
			color: rgba(black, 0.6);
		}

		&__list {
			&-item {
				line-height: 1;
				padding: 7px 0;
				color: rgba(black, 0.6);
				position: relative;

				&:before {
					content: '•';
					display: block;
					position: absolute;
					left: -10px;
					top: 10px;
					color: $blue;
					font-size: 12px;
				}
			}
		}
	}
}

.technical {
	&__table {
		tbody {
			td {
				padding: 10px 20px;
				word-break: none;
				font-weight: $reg;

				&:first-child {
					font-weight: $med;
				}
			}
		}
	}
}

.tabs {
	width: 100%;
	min-height: 10px;

	sup {
		vertical-align: super;
		font-size: 10px;
	}

	&-top {
		border-bottom: 2px $grey--dark solid;

		&__tab {
			min-height: 10px;
			width: 25%;
			float: left;
			position: relative;
			margin-bottom: -2px;

			&--active {
				border-bottom: 4px $green solid;

				a {
					color: black !important;
				}
			}

			&:hover,
			&:focus {
				a {
					color: black;
				}
			}

			a {
				display: block;
				padding: 17px 20px;
				text-transform: uppercase;
				text-decoration: none;
				font-weight: $med;
				color: rgba(black, 0.55);
			}
		}

		&__select {
			&-container {
				width: 25%;
				float: left;
				position: relative;
				margin-bottom: -2px;
			}
		}
	}

	&-bottom {
		margin-top: 40px;

		&__tab {
			display: none;

			&--active {
				display: block;
			}
		}
	}
}