<section class="spec section">
    <div class="center">
        <div class="spec-container tabs">
            <div class="tabs-top clearfix">
                <div data-tab="1" class="tabs-top__tab tabs-top__tab--active"><a href="#">Цены и размеры</a></div>
                <div class="tabs-top__tab"></div>
                <div class="tabs-top__tab"></div>
                <div class="tabs-top__select-container">
                    <select class="js-select">
                        <option selected><%= @clientCity %></option>
                        <% for town in @towns : %>
                        <% if town isnt @clientCity : %>
                        <option><%= town %></option>
                        <% end %>
                        <% end %>
                    </select>
                </div>
            </div>
            <div class="tabs-bottom">
                <div data-tab="1" class="tabs-bottom__tab tabs-bottom__tab--active">
                    <h3 class="spec__city-heading">Цены указаны для города <%= @clientCity %></h3>
                    <table class="spec__table table">
                        <thead>
                        <tr>
                            <th rowspan="2" class="table-cell--left">Наименование<br>
                            </th>
                            <th rowspan="2">
                                <p class="table-cell__heading">Размер, мм</p>
                                <p class="table-cell__subheading">выс.*шир.*дл.</p>
                            </th>
                            <th rowspan="2">
                                <p class="table-cell__heading">Расход на 1м2</p>
                                <p class="table-cell__subheading">перегородки</p>
                            </th>
                            <th rowspan="2">
                                <p class="table-cell__heading">Вес шт</p>
                                <p class="table-cell__subheading">кг</p>
                            </th>
                            <th colspan="2">
                                <p class="table-cell__heading">Кол-во</p>
                                <p class="table-cell__subheading">на поддоне</p>
                            </th>
                            <th colspan="4">
                                <p class="table-cell__heading">Кол-во</p>
                                <p class="table-cell__subheading">в фуре 20т</p>
                            </th>
                            <th colspan="2">
                                <p class="table-cell__heading">Цена c доставкой</p>
                                <p class="table-cell__subheading">руб</p>
                            </th>
                            <th rowspan="2">
                                <p class="table-cell__heading">Заказать</p>
                                <p class="table-cell__subheading">поддонов</p>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <p class="table-cell__subheading">шт</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">м2</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">поддонов</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">шт</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">м2</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">кг</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">за шт</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">за фуру</p>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for row in @goods : %>
                        <% if row.type : %>
                        <tr><td colspan="13" class="cart__table-section"><%= row.type %></td></tr>
                        <% end %>
                        <% for good in row.goods : %>
                        <tr data-id="<%= good.id %>">
                            <td data-item="name" class="table-cell--left"><%= good.name %></td>
                            <td data-item="sizes" class="table-cell--center">
                                <% if good.sizes : %>
                                <%= good.sizes %>
                                <% else : %>
                                &#8212;
                                <% end %>
                            </td>
                            <td data-item="consumption" class="table-cell--center"><%= good.span %></td>
                            <td data-item="weight" class="table-cell--center"><%= good.weight %></td>
                            <td data-item="pallet_count_pcs" class="table-cell--center"><%= good.pallet_count_pcs %></td>
                            <td data-item="pallet_count_ms" class="table-cell--center"><%= good.pallet_count_ms %></td>
                            <td data-item="truck_pallets_count" class="table-cell--center"><%= good.truck_pallets_count %></td>
                            <td data-item="truck_pcs_count" class="table-cell--center"><%= good.truck_pcs_count %></td>
                            <td data-item="truck_ms_count" class="table-cell--center"><%= good.truck_ms_count %></td>
                            <td data-item="truck_kg_count" class="table-cell--center"><%= good.truck_kg_count %></td>
                            <td data-item="pcs_cost" class="table-cell--center js-price"><%= good.pcs_cost_with_delivery %> ₽</td>
                            <td data-item="pallets_truck_cost" class="table-cell--center js-price"><%= good.pallets_truck_cost_with_delivery %> ₽</td>
                            <td data-item="total_count" class="table-cell--center">
                                <div class="spec-table__buy-container clearfix">
                                    <div class="spec-table__buy-counter js_counter"><a href="#" title="Убрать 1" class="spec-table__buy-trigger spec-table__buy-trigger--decrement js_counter__minus"></a>
                                        <input type="text" value="10" class="js_counter__count spec-table__buy-count spec-table__buy-count--input"><a href="#" title="Добавить 1" class="spec-table__buy-trigger spec-table__buy-trigger--increment js_counter__plus"></a>
                                    </div><a href="#" title="Добавить в корзину" data-win="popup--cart" class="spec-table__buy-btn open-popup btn btn--green"></a>
                                </div>
                            </td>
                        </tr>
                        <% end %>
                        <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>