<section class="spec section">
    <div class="center">
        <div class="spec-container tabs">
            <div class="tabs-top clearfix">
                <div data-tab="1" class="tabs-top__tab tabs-top__tab--active"><a href="#">Цены и размеры</a></div>
                <div data-tab="2" class="tabs-top__tab"><a href="#">Технические характеристики</a></div>
                <div data-tab="3" class="tabs-top__tab"><a href="#">Преимущества</a></div>
                <div class="tabs-top__select-container">
                    <select class="js-select">
                        <option selected><%= @clientCity %></option>
						<% for town in @towns : %>
							<% if town isnt @clientCity : %>
								<option><%= town %></option>
							<% end %>
						<% end %>
                    </select>
                </div>
            </div>
            <div class="tabs-bottom">
                <div data-tab="1" class="tabs-bottom__tab tabs-bottom__tab--active">
                    <h3 class="spec__city-heading">Цены указаны для города <%= @clientCity %></h3>
                    <table class="spec__table table">
                        <thead>
                        <tr>
                            <th rowspan="2" class="table-cell--left">Наименование<br>
                            </th>
                            <th rowspan="2">
                                <p class="table-cell__heading">Размер, мм</p>
                                <p class="table-cell__subheading">выс.*шир.*дл.</p>
                            </th>
                            <th rowspan="2">
                                <p class="table-cell__heading">Расход на 1м2</p>
                                <p class="table-cell__subheading">перегородки</p>
                            </th>
                            <th rowspan="2">
                                <p class="table-cell__heading">Вес шт</p>
                                <p class="table-cell__subheading">кг</p>
                            </th>
                            <th colspan="2">
                                <p class="table-cell__heading">Кол-во</p>
                                <p class="table-cell__subheading">на поддоне</p>
                            </th>
                            <th colspan="4">
                                <p class="table-cell__heading">Кол-во</p>
                                <p class="table-cell__subheading">в фуре 20т</p>
                            </th>
                            <th colspan="2">
                                <p class="table-cell__heading">Цена c доставкой</p>
                                <p class="table-cell__subheading">руб</p>
                            </th>
                            <th rowspan="2">
                                <p class="table-cell__heading">Заказать</p>
                                <p class="table-cell__subheading">поддонов</p>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <p class="table-cell__subheading">шт</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">м2</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">поддонов</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">шт</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">м2</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">кг</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">за шт</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">за фуру</p>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
						<% for row in @goods : %>
							<% if row.type : %>
								<tr><td colspan="13" class="cart__table-section"><%= row.type %></td></tr>
							<% end %>
							<% for good in row.goods : %>
								<tr data-id="<%= good.id %>">
									<td data-item="name" class="table-cell--left"><%= good.name %></td>
									<td data-item="sizes" class="table-cell--center">
										<% if good.sizes : %>
											<%= good.sizes %>
										<% else : %>
											&#8212;
										<% end %>
									</td>
									<td data-item="consumption" class="table-cell--center"><%= good.span %></td>
									<td data-item="weight" class="table-cell--center"><%= good.weight %></td>
									<td data-item="pallet_count_pcs" class="table-cell--center"><%= good.pallet_count_pcs %></td>
									<td data-item="pallet_count_ms" class="table-cell--center"><%= good.pallet_count_ms %></td>
									<td data-item="truck_pallets_count" class="table-cell--center"><%= good.truck_pallets_count %></td>
									<td data-item="truck_pcs_count" class="table-cell--center"><%= good.truck_pcs_count %></td>
									<td data-item="truck_ms_count" class="table-cell--center"><%= good.truck_ms_count %></td>
									<td data-item="truck_kg_count" class="table-cell--center"><%= good.truck_kg_count %></td>
									<td data-item="pcs_cost" class="table-cell--center js-price"><%= good.pcs_cost_with_delivery %> ₽</td>
									<td data-item="pallets_truck_cost" class="table-cell--center js-price"><%= good.pallets_truck_cost_with_delivery %> ₽</td>
									<td data-item="total_count" class="table-cell--center">
										<div class="spec-table__buy-container clearfix">
											<div class="spec-table__buy-counter js_counter"><a href="#" title="Убрать 1" class="spec-table__buy-trigger spec-table__buy-trigger--decrement js_counter__minus"></a>
												<input type="text" value="10" class="js_counter__count spec-table__buy-count spec-table__buy-count--input"><a href="#" title="Добавить 1" class="spec-table__buy-trigger spec-table__buy-trigger--increment js_counter__plus"></a>
											</div><a href="#" title="Добавить в корзину" data-win="popup--cart" class="spec-table__buy-btn open-popup btn btn--green"></a>
										</div>
									</td>
								</tr>
							<% end %>
						<% end %>
                        </tbody>
                    </table>
                </div>
                <div data-tab="2" class="tabs-bottom__tab">
                    <div class="technical">
                        <table class="technical__table table">
                            <thead>
                            <tr>
                                <th class="table-cell--left">Тип</th>
                                <th colspan="2">
                                    <p class="table-cell__heading">ПУСТОТЕЛАЯ</p>
                                </th>
                                <th colspan="4">
                                    <p class="table-cell__heading">ПОЛНОТЕЛАЯ</p>
                                </th>
                            </tr>
                            <tr>
                                <th class="table-cell--left">Вид</th>
                                <th>
                                    <p class="table-cell__heading">ПГП ОБЫЧНАЯ</p>
                                </th>
                                <th>
                                    <p class="table-cell__heading">ПГП ВЛАГОСТОЙКАЯ</p>
                                </th>
                                <th>
                                    <p class="table-cell__heading">ПГП ОБЫЧНАЯ</p>
                                </th>
                                <th>
                                    <p class="table-cell__heading">ПГП ВЛАГОСТОЙКАЯ</p>
                                </th>
                                <th>
                                    <p class="table-cell__heading">ПГП ОБЫЧНАЯ</p>
                                </th>
                                <th>
                                    <p class="table-cell__heading">ПГП ВЛАГОСТОЙКАЯ</p>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="table-cell--left">Габариты</td>
                                <td colspan="4" class="table-cell--center">667*500*80 мм</td>
                                <td colspan="2" class="table-cell--center">667*500*100 мм</td>
                            </tr>
                            <tr>
                                <td class="table-cell--left">Цвет. Маркировка</td>
                                <td class="table-cell--center">-</td>
                                <td class="table-cell--center">ЗЕЛЕНЫЙ</td>
                                <td class="table-cell--center">-</td>
                                <td class="table-cell--center">ЗЕЛЕНЫЙ</td>
                                <td class="table-cell--center">-</td>
                                <td class="table-cell--center">ЗЕЛЕНЫЙ</td>
                            </tr>
                            <tr>
                                <td class="table-cell--left">Вес плиты</td>
                                <td class="table-cell--center">20-22 кг</td>
                                <td class="table-cell--center">21-23 кг</td>
                                <td class="table-cell--center">26-28 кг</td>
                                <td class="table-cell--center">28-30 кг</td>
                                <td colspan="2" class="table-cell--center">35-37 кг</td>
                            </tr>
                            <tr>
                                <td class="table-cell--left">Водопоглощение</td>
                                <td class="table-cell--center">-</td>
                                <td class="table-cell--center">НЕ БОЛЕЕ 5%</td>
                                <td class="table-cell--center">-</td>
                                <td class="table-cell--center">НЕ БОЛЕЕ 5%</td>
                                <td class="table-cell--center">-</td>
                                <td class="table-cell--center">НЕ БОЛЕЕ 5%</td>
                            </tr>
                            <tr>
                                <td class="table-cell--left">Прочность при сжатии</td>
                                <td colspan="2" class="table-cell--center">5,0 МПа</td>
                                <td colspan="4" class="table-cell--center">5,0 МПа</td>
                            </tr>
                            <tr>
                                <td class="table-cell--left">Прочность при сгибе</td>
                                <td colspan="2" class="table-cell--center">2,4 МПа</td>
                                <td colspan="4" class="table-cell--center">2,4 МПа</td>
                            </tr>
                            <tr>
                                <td class="table-cell--left">Отпускная влажность</td>
                                <td colspan="6" class="table-cell--center">НЕ БОЛЕЕ 8%</td>
                            </tr>
                            <tr>
                                <td class="table-cell--left">Паропроницаемость</td>
                                <td colspan="6" class="table-cell--center">0,11 Мг/М*Ч*ПА</td>
                            </tr>
                            <tr>
                                <td class="table-cell--left">Коэфф. теплопроводности</td>
                                <td colspan="6" class="table-cell--center">0,29-0,35 Вт/М°С</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div data-tab="3" class="tabs-bottom__tab">
                    <div class="spec-advantages__container clearfix">
                        <div class="spec-advantages__block">
                            <div class="spec-advantages__block-element">
                                <h3 class="spec-advantages__heading">Высокая производительность — до 20 м<sup>2 </sup> в день.</h3>
                                <p class="spec-advantages__text">Система паз-гребень упрощает монтаж перегородок и увеличивает скорость выполнения работ.</p>
                            </div>
                            <div class="spec-advantages__block-element">
                                <h3 class="spec-advantages__heading">Экономия полезной площади</h3>
                                <p class="spec-advantages__text">После монтажа ПГП вы получаете поверхность, готовую к отделке финишными покрытиями, а значит толщина перегородок составляет всего 80 мм или 100 мм (в зависимости от типа плиты).</p>
                            </div>
                            <div class="spec-advantages__block-element">
                                <h3 class="spec-advantages__heading">Преимущества технологии монтажа ПГП:</h3>
                                <ul class="spec-advantages__list">
                                    <li class="spec-advantages__list-item">Гладкая глянцевая поверхность не требует штукатурных работ.</li>
                                    <li class="spec-advantages__list-item">Точность геометрии пары паз-гребень облегчает монтаж плит.</li>
                                    <li class="spec-advantages__list-item">Материал легко обрабатывается ручным инструментом.</li>
                                    <li class="spec-advantages__list-item">Проемы шириной до 900 мм монтируются без дополнительных перемычек.</li>
                                    <li class="spec-advantages__list-item">Технологические пустоты в пустотелых ПГП облегчают прокладку коммуникаций.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="spec-advantages__block">
                            <div class="spec-advantages__block-element">
                                <h3 class="spec-advantages__heading">Сокращение стоимости 1 м<sup>2</sup> готовой поверхности</h3>
                                <p class="spec-advantages__text">Сокращение количества дополнительных материалов, вида и сроков выполняемых работ.</p>
                            </div>
                            <div class="spec-advantages__block-element">
                                <h3 class="spec-advantages__heading">Экономия строительных материалов</h3>
                                <p class="spec-advantages__text">Без использования дополнительного оштукатуривая. <br>Проемы шириной до 900 мм монтируются без дополнительных перемычек. <br>Технологические пустоты облегчают прокладку коммуникаций.</p>
                            </div>
                            <div class="spec-advantages__block-element">
                                <h3 class="spec-advantages__heading">Безопасность и долговечность</h3>
                                <p class="spec-advantages__text">Использование экологически безопасного гипса, отработанная технология производства и соблюдение правил монтажа дают возможность создавать безопасный продукт с неограниченным сроком эксплуатации.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>