<section class="spec section">
    <div class="center">
        <div class="spec-container tabs">
            <div class="tabs-top clearfix">
                <div data-tab="1" class="tabs-top__tab tabs-top__tab--active"><a href="#">Цены и размеры</a></div>
                <div data-tab="2" class="tabs-top__tab"><a href="#">Технические характеристики</a></div>
                <div data-tab="3" class="tabs-top__tab"><a href="#">Преимущества</a></div>
                <div class="tabs-top__select-container">
                    <select class="js-select">
                        <option selected><%= @clientCity %></option>
						<% for town in @towns : %>
							<% if town isnt @clientCity : %>
								<option><%= town %></option>
							<% end %>
						<% end %>
                    </select>
                </div>
            </div>
            <div class="tabs-bottom">
                <div data-tab="1" class="tabs-bottom__tab tabs-bottom__tab--active">
                    <h3 class="spec__city-heading">Цены указаны для города <%= @clientCity %></h3>
                    <table class="spec__table table">
                        <thead>
                        <tr>
                            <th rowspan="2" class="table-cell--left">Наименование<br>
                                <div class="table-cell__tooltip"><a href="#" title="Тип УК" class="table-cell__tooltip-link">Тип УК</a>
                                    <div class="table-cell__tooltip-content"><img src="../img/elem/tooltip__content.jpg" alt="Тип УК"></div>
                                </div>
                            </th>
                            <th rowspan="2">
                                <p class="table-cell__heading">Размер, мм</p>
                                <p class="table-cell__subheading">выс.*шир.*дл.</p>
                            </th>
                            <th rowspan="2">
                                <p class="table-cell__heading">Расход на 1м2</p>
                                <p class="table-cell__subheading">перегородки</p>
                            </th>
                            <th rowspan="2">
                                <p class="table-cell__heading">Вес шт</p>
                                <p class="table-cell__subheading">кг</p>
                            </th>
                            <th colspan="2">
                                <p class="table-cell__heading">Кол-во</p>
                                <p class="table-cell__subheading">на поддоне</p>
                            </th>
                            <th colspan="4">
                                <p class="table-cell__heading">Кол-во</p>
                                <p class="table-cell__subheading">в фуре 20т</p>
                            </th>
                            <th colspan="2">
                                <p class="table-cell__heading">Цена c доставкой</p>
                                <p class="table-cell__subheading">руб</p>
                            </th>
                            <th rowspan="2">
                                <p class="table-cell__heading">Заказать</p>
                                <p class="table-cell__subheading">поддонов</p>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <p class="table-cell__subheading">шт</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">м2</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">поддонов</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">шт</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">м2</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">кг</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">за шт</p>
                            </th>
                            <th>
                                <p class="table-cell__subheading">за фуру</p>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
						<% for row in @goods : %>
							<% if row.type : %>
								<tr><td colspan="13" class="cart__table-section"><%= row.type %></td></tr>
							<% end %>
							<% for good in row.goods : %>
								<tr data-id="<%= good.id %>">
									<td data-item="name" class="table-cell--left"><%= good.name %></td>
									<td data-item="sizes" class="table-cell--center">
										<% if good.sizes : %>
											<%= good.sizes %>
										<% else : %>
											&#8212;
										<% end %>
									</td>
									<td data-item="consumption" class="table-cell--center"><%= good.span %></td>
									<td data-item="weight" class="table-cell--center"><%= good.weight %></td>
									<td data-item="pallet_count_pcs" class="table-cell--center"><%= good.pallet_count_pcs %></td>
									<td data-item="pallet_count_ms" class="table-cell--center"><%= good.pallet_count_ms %></td>
									<td data-item="truck_pallets_count" class="table-cell--center"><%= good.truck_pallets_count %></td>
									<td data-item="truck_pcs_count" class="table-cell--center"><%= good.truck_pcs_count %></td>
									<td data-item="truck_ms_count" class="table-cell--center"><%= good.truck_ms_count %></td>
									<td data-item="truck_kg_count" class="table-cell--center"><%= good.truck_kg_count %></td>
									<td data-item="pcs_cost" class="table-cell--center js-price"><%= good.pcs_cost_with_delivery %> ₽</td>
									<td data-item="pallets_truck_cost" class="table-cell--center js-price"><%= good.pallets_truck_cost_with_delivery %> ₽</td>
									<td data-item="total_count" class="table-cell--center">
										<div class="spec-table__buy-container clearfix">
											<div class="spec-table__buy-counter js_counter"><a href="#" title="Убрать 1" class="spec-table__buy-trigger spec-table__buy-trigger--decrement js_counter__minus"></a>
												<input type="text" value="10" class="js_counter__count spec-table__buy-count spec-table__buy-count--input"><a href="#" title="Добавить 1" class="spec-table__buy-trigger spec-table__buy-trigger--increment js_counter__plus"></a>
											</div><a href="#" title="Добавить в корзину" data-win="popup--cart" class="spec-table__buy-btn open-popup btn btn--green"></a>
										</div>
									</td>
								</tr>
							<% end %>
						<% end %>
                        </tbody>
                    </table>
                </div>
                <div data-tab="2" class="tabs-bottom__tab">
                    <div class="technical">
                        <table class="technical__table table">
                            <thead>
                            <tr>
                                <th class="table-cell--left"></th>
                                <th colspan="2">
                                    <p class="table-cell__heading">ГКЛ</p>
                                    <p class="table-cell__subheading">(СтП - строительная плита)</p>
                                </th>
                                <th colspan="2">
                                    <p class="table-cell__heading">ГКЛВ</p>
                                    <p class="table-cell__subheading">(СтПВ - строительная плита влагостойкая)</p>
                                </th>
                                <th>
                                    <p class="table-cell__heading">ГКЛО</p>
                                    <p class="table-cell__subheading">(СтПО - строительная плита с повышенной сопротивляемостью воздействию открытого пламени)</p>
                                </th>
                                <th>
                                    <p class="table-cell__heading">ГКЛВО</p>
                                    <p class="table-cell__subheading">(СтПВО - строительная плита влагостойкая, с повышенной сопротивляемостью воздействию открытого пламени)</p>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="table-cell--left">Длина</td>
                                <td class="table-cell--center">2500&nbsp;мм</td>
                                <td class="table-cell--center">3500&nbsp;мм</td>
                                <td class="table-cell--center">2500&nbsp;мм</td>
                                <td class="table-cell--center">3500&nbsp;мм</td>
                                <td class="table-cell--center">2500&nbsp;мм</td>
                                <td class="table-cell--center">2500&nbsp;мм</td>
                            </tr>
                            <tr>
                                <td class="table-cell--left">Ширина</td>
                                <td class="table-cell--center">1200&nbsp;мм</td>
                                <td class="table-cell--center">1200&nbsp;мм</td>
                                <td class="table-cell--center">1200&nbsp;мм</td>
                                <td class="table-cell--center">1200&nbsp;мм</td>
                                <td class="table-cell--center">1200&nbsp;мм</td>
                                <td class="table-cell--center">1200&nbsp;мм</td>
                            </tr>
                            <tr>
                                <td class="table-cell--left">Толщина</td>
                                <td class="table-cell--center">9,5&nbsp;мм</td>
                                <td class="table-cell--center">12,5&nbsp;мм</td>
                                <td class="table-cell--center">9,5&nbsp;мм</td>
                                <td class="table-cell--center">12,5&nbsp;мм</td>
                                <td class="table-cell--center">12,5&nbsp;мм</td>
                                <td class="table-cell--center">12,5&nbsp;мм</td>
                            </tr>
                            <tr>
                                <td class="table-cell--left">Масса&nbsp;1м<sup>2</sup>&nbsp;листа&nbsp;не&nbsp;более</td>
                                <td class="table-cell--center">8,1&nbsp;кг</td>
                                <td class="table-cell--center">10,6&nbsp;кг</td>
                                <td class="table-cell--center">9,5&nbsp;кг</td>
                                <td class="table-cell--center">12,5&nbsp;кг</td>
                                <td class="table-cell--center">12,5&nbsp;кг</td>
                                <td class="table-cell--center">12,5&nbsp;кг</td>
                            </tr>
                            <tr>
                                <td class="table-cell--left">Водопоглощение</td>
                                <td colspan="2" class="table-cell--center">-</td>
                                <td colspan="2" class="table-cell--center">Не более 10%</td>
                                <td class="table-cell--center">-</td>
                                <td class="table-cell--center">Не более 9%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div data-tab="3" class="tabs-bottom__tab">
                    <div class="spec-advantages__container clearfix">
                        <div class="spec-advantages__block">
                            <div class="spec-advantages__block-element">
                                <h3 class="spec-advantages__heading">Высокое качество производства</h3>
                                <p class="spec-advantages__text">Продукция ВОЛМА производится на новейшем импортном оборудовании профессионалами с большим опытом работы.</p>
                            </div>
                            <div class="spec-advantages__block-element">
                                <h3 class="spec-advantages__heading">Стабильность</h3>
                                <p class="spec-advantages__text">Постоянный контроль качества на всех этапах производства позволяет выпускать продукцию стабильно высокого качества.</p>
                            </div>
                            <div class="spec-advantages__block-element">
                                <h3 class="spec-advantages__heading">Простота и удобство применения</h3>
                                <p class="spec-advantages__text">Технологичность гипсокартонных листов ТМ ВОЛМА позволяет быстро и качественно решать самые трудные задачи при монтаже перегородок, облицовке стен и потолков, при выполнении сложных криволинейных конструкций.</p>
                            </div>
                            <div class="spec-advantages__block-element">
                                <h3 class="spec-advantages__heading">Долговечность</h3>
                                <p class="spec-advantages__text">ГКЛ изготавливается из высококачественного гипса и специального строительного картона, которые, при соблюдении правил монтажа, обеспечивают долгий срок эксплуатации.</p>
                            </div>
                        </div>
                        <div class="spec-advantages__block">
                            <div class="spec-advantages__block-element">
                                <h3 class="spec-advantages__heading">Ремонтопригодность</h3>
                                <p class="spec-advantages__text">В случае образования дефектов: пробоины, царапины или сколы, полученные в процессе монтажа или эксплуатации, листы гипсокартона легко поддаются заделке, шпаклева- нию и повторному окрашиванию.</p>
                            </div>
                            <div class="spec-advantages__block-element">
                                <h3 class="spec-advantages__heading">Безопасность гкл волма:</h3>
                                <p class="spec-advantages__text">Гипсокартонные листы ВОЛМА изготавливаются из экологически безопасных материа- лов: гипса, строительного картона и специальных модифицирующих добавок. Безопас- ность материала подтверждена соответствующими сертификатами.</p><br>
                                <ul class="spec-advantages__list">
                                    <li class="spec-advantages__list-item">Группа горючести — НГ (негорючие).</li>
                                    <li class="spec-advantages__list-item">Группа воспламеняемости — В1 (трудновоспламеняемые).</li>
                                    <li class="spec-advantages__list-item">Группа дымообразующей способности — Д1 (с малой дымообразующей способностью).</li>
                                    <li class="spec-advantages__list-item">Группа токсичности Т1 (малоопасные).</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>