/* Carousel */
.carousel  {
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;

	&__wrapper {
		width: 100%;
		margin: 0;
		overflow: hidden;
		position: relative;
		padding: 20px 0;
	}

	&__items {
		width: 10000px;
		position: relative;
	}

	&--1 {
		.carousel-block {
			width: calc(1100px / 1);
			margin-right: 20px;
		}
	}

	&--2 {
		.carousel-block {
			width: calc(1100px / 2 - 10px);
			margin-right: 20px;
		}
	}

	&--3 {
		.carousel-block {
			width: calc(1100px / 3 - 20px);
			margin-right: 20px;
		}
	}

	&--4 {
		.carousel-block {
			width: calc(1100px / 4 - 20px);
			margin-right: 20px;
		}
	}

	&-block {
		display: block;
		height: auto;
		// width: calc(1030px / 4);
		float: left;
		// border: 1px red dashed;
		@include box-sizing(border-box);
		@include transition(all, 0.3s, ease);
	}

	/* Carousel buttons */
	&__button {
		height: 27px;
		width: 15px;
		margin-top: 35px;
		cursor: pointer; 

		a {
			height: 27px;
			width: 15px;
			margin: 0 3px;
			position: relative;
			text-decoration:none;
			background-repeat: no-repeat;
			background-position: center;
			opacity: 0.8;
			@include transition(opacity, 0.2s, ease);
			
			&:hover {
				opacity: 1;
			}
		}

		&:hover {
			background-position: center bottom;
		}

		
		&--left {
			float: left;
			background-position: center top;
			background-image: url('../img/elem/carousel__button--left.png');
		}

		&--right {
			float: right;
			background-position: center top;
			background-image: url('../img/elem/carousel__button--right.png');
		}
	}

}

.project {
	display: block;
	margin: 0 auto;
	color: black;
	text-decoration: none;

	&--4 {
		width: 260px;

		.project__image {
			min-height: 195px;
			max-height: 195px;
		}
	}

	&--3 {
		width: 353px;
	}

	&__top {
		line-height: 1.2;
		padding-bottom: 10px;
	}

	&__name {
		font-weight: $med;
	}

	&__card {
		background-color: white;
		box-shadow: 0px 0px 3px 2px RGBA(0, 0, 0, 0.1);
		@include transition(box-shadow, 0.2s, ease);

		&:hover,
		&:focus {
			box-shadow: 0px 0px 3px 2px RGBA(0, 0, 0, 0.3);
		}
	}

	&__image {
		line-height: 0;
		overflow: hidden;

		a {
			display: none;
			visibility: hidden;

			&:first-child {
				display: block;
				visibility: visible;
			}
		}
		
		img {
			max-width: 100%;
		}
	}

	&__description {
		min-height: 55px;
		padding: 15px;
	}

	&__text {
		font-weight: $reg;
		position: relative;
		line-height: 1.2;

		&:first-child {
			padding-top: 8px;

			&:before {
				content: '';
				display: block;
				height: 2px;
				width: 15px;
				position: absolute;
				top: 0;
				left: 0;
				background-color: $green;
			}
		}

		strong {
			font-weight: $med;
		}
	}
}

.owl {
	&-pagination {
		position: absolute;
		width: 100%;
		margin-top: 7px;
		text-align: center;
	}

	&-page {
		display: inline-block;
		zoom: 1;
		*display: inline;/*IE7 life-saver */

		span {
			display: block;
			width: 5px;
			height: 5px;
			margin: 5px 7px;
			filter: Alpha(Opacity=50);
			opacity: 0.5;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			background: #6f7375;
		}

		&:hover,
		&:focus,
		&.active {
			span {
				opacity: 1;
			}
		}
	}

	&-buttons {
		position: relative;
		margin-top: 25px;
	}

	&-prev,
	&-next {
		height: 27px;
		width: 15px;
		position: absolute;
		color: transparent;
		background-position: center top;
	}

	&-prev:hover,
	&-prev:focus,
	&-next:hover,
	&-next:focus {
		background-position: center bottom;
	}

	&-prev {
		left: 0;
		background-image: url('../img/elem/carousel__button--left.png');
	}

	&-next {
		right: 0;
		background-image: url('../img/elem/carousel__button--right.png');
	}
}