#carousel--last-objects.owl-carousel.lightbox
	- var names = ["Торгово-офисный центр", "Спортивный комплекс", "Отделение Сбербанк", "Офис продаж Mazda", "Логистический центр", "Жилой комплекс", "Гипермаркет Лента", "Жилой комплекс"];
	- var cities = ["г. Тверь", "г. Тверь", "г. Зеленоград", "г. Тверь", "Московская область", "г. Жуковский", "г. Вологда", "г. Тверь"];
	- var materialType = ["Гипсокартон, ГКЛ", "Пазогребневые плиты (ПГП)", "Утеплитель", "Монтажная смесь", "ГКЛ и штукатурные смеси", "ПГП, ГКЛ, Плиточный клей", "Штукат. и шпаклевочные смеси", "Пазогребневые плиты (ПГП)"];
	- var materialSize = ["3560 кв. м.", "150 шт.", "125 кг.", "400 кв. м.", "1826 кв. м.", "1340 кв. м.", "375 кг.", "720 шт."];
	- for (var i = 0; i < 8; i++) {
		.project.project--3
			.project__top
				p.project__name #{names[i]}
				p.project__city #{cities[i]}
			.project__bottom
				.project__card
					.project__image
						a(href='../img/complected/complected__' + (i+1) + '.jpg', data-sub-html=(names[i]+': '+materialType[i]+' - '+materialSize[i]), title= (names[i]) + ' - ' + (cities[i])).project__image-link.lightbox__link
							img(src='../img/complected/complected__' + (i+1) + '.jpg', alt= (names[i]) + ' - ' + (cities[i]))
					.project__description
						p.project__text 
							strong Тип материала: 
							| #{materialType[i]}
						p.project__text 
							strong Объем поставок: 
							| #{materialSize[i]}
	- };