#carousel--created.owl-carousel.lightbox
	- var names = ["Артек", "Москва Сити", "Аэропорт Домодедово", "Стадион Зенит", "ТЦ Галактика", "ТЦ Макси", "Десантное училище", "Стадион Фишт", "Дворец правосудия", "Новые жилые мкр-ны", "Арена Омск", "Икея ОМСК", "Успенский Собор", "Академия физкультуры и спорта"];
	- var cities = ["г. Симферополь", "г. Москва", "г. Москва", "г. Санкт-Петербург", "г. Смоленск", "г. Смоленск", "г. Рязань", "г. Сочи", "г. Липецк", "г. Липецк", "г. Омск", "г. Омск", "г. Омск", "г. Cмоленск"];
	- var descriptions = ["800 м2 новых стен из 2200 кв.м. ГКЛ Волма", "Комплектация объекта Волма: ПГП, Штукатурки, Шпаклевки", "26500 кв.м. ГКЛ Волма", "7 слоев ГКЛ для звукоизоляции подтрибунных помещений", "3000 кв.м. ГКЛ Волма", "7000 кв.м. ГКЛ Волма", "5000 кв.м. ГКЛ Волма", "5670 мешков Штукатурки", "5000 кв.м. ГКЛ Волма", "50000 кв.м. ПГП Волма", "3500 кв.м. ГКЛ", "Комплектация объекта Волмой: ГКЛ, Штукатурки, Шпаклевки", "Реставрация с Волмой", "10000 кв.м. ПГП Волма"];
	- for (var i = 1; i < 15; i++) {
		.project.project--4
			.project__top
				p.project__name #{names[i-1]}
				p.project__city #{cities[i-1]}
			.project__bottom
				.project__card
					.project__image
						a(href='../img/created/created__' + (i) + '.jpg', data-sub-html=(descriptions[i-1]), title= (names[i-1]) + ' - ' + (cities[i-1])).project__image-link.lightbox__link
							img(src='../img/created/thumb/created__' + (i) + '.jpg', alt= (names[i-1]) + ' - г. ' + (cities[i-1]))
					.project__description
						p.project__text #{descriptions[i-1]}
	- };