<section class="cart section">
    <div class="center">
        <h2 class="section__heading cart__heading">Корзина</h2>
        <table class="cart__table table">
            <thead>
            <tr>
                <th rowspan="2" class="table-cell--left">Наименование</th>
                <th colspan="4">
                    <p class="table-cell__heading">Кол-во</p>
                    <p class="table-cell__subheading">в фуре 20т</p>
                </th>
                <th colspan="2">
                    <p class="table-cell__heading">Цена c доставкой</p>
                    <p class="table-cell__subheading">руб</p>
                </th>
                <th rowspan="2">
                    <p class="table-cell__heading">Заказать</p>
                    <p class="table-cell__subheading">поддонов</p>
                </th>
                <th rowspan="2" class="table-cell--left">
                    <p class="table-cell__heading">Сумма</p>
                    <p class="table-cell__subheading">с доставкой</p>
                </th>
            </tr>
            <tr>
                <th>
                    <p class="table-cell__subheading">поддонов</p>
                </th>
                <th>
                    <p class="table-cell__subheading">шт</p>
                </th>
                <th>
                    <p class="table-cell__subheading">м2</p>
                </th>
                <th>
                    <p class="table-cell__subheading">кг</p>
                </th>
                <th>
                    <p class="table-cell__subheading">за шт</p>
                </th>
                <th>
                    <p class="table-cell__subheading">за фуру</p>
                </th>
            </tr>
            </thead>
            <tbody>
				<!-- 
					tr.cart__table-section
					td(colspan='9') cat name
				-->
				<% for good in @goods : %>
					<tr data-id="<%= good.goodId %>" class="cart-table__row">
						<td class="table-cell--left"><%= good.name %></td>
						<td class="table-cell--center"><%= good.truck_pallets_count %></td>
						<td class="table-cell--center"><%= good.truck_pcs_count %></td>
						<td class="table-cell--center"><%= good.truck_ms_count %></td>
						<td class="table-cell--center"><%= good.truck_kg_count %></td>
						<td class="table-cell--center js-price"><%= good.pcs_cost_with_delivery %> ₽</td>
						<td class="table-cell--center js-price"><%= good.pallets_truck_cost_with_delivery %> ₽</td>
						<td class="table-cell--center">
							<div class="cart-table__buy-container clearfix">
								<div class="cart-table__buy-counter js_counter">
									<a href="#" title="Убрать 1" class="cart-table__buy-trigger cart-table__buy-trigger--decrement js_counter__minus"></a>
									<input type="text" value="<%= good.pallets_count %>" class="cart-table__buy-count cart-table__buy-count--input js_counter__count">
									<a href="#" title="Добавить 1" class="cart-table__buy-trigger cart-table__buy-trigger--increment js_counter__plus"></a>
								</div>
							</div>
						</td>
						<td class="table-cell--center">
							<span class="cart-table__buy-price js-price"><%= good.buy_price.toFixed(2) %> ₽</span>
							<a href="#" title="Удалить из корзины" class="cart-table__buy-delete"></a>
						</td>
					</tr>
				<% end %>
            </tbody>
        </table>
        <div class="cart__total clearfix">
            <p class="cart__total-text">Итого поддонов: <span class="cart__total-num--pallets"><%= @pallets_count %></span></p>
            <p class="cart__total-text">Итого по весу заказа: <span class="cart__total-num--weight"><%= @weight %> кг</span></p>
            <p class="cart__total-text">Итого количество машин: <span class="cart__total-num--trucks"><%= @trucks_count %></span><span class="cart__total-icon"></span></p>
            <div class="cart__total-full">ИТОГо с доставкой: <span class="cart__total-num--cost"><%= @cart_cost.toFixed(2) %> ₽</span></div>
        </div>
        <div class="cart__next clearfix"><a href="/order" title="Продолжить оформление" onclick="_gaq.push(['_trackEvent', 'Продолжить оформление', 'click']);" class="cart__next-btn btn btn--green">Продолжить оформление</a></div>
    </div>
</section>