/* --- Cart --- */
.cart {
	padding: 60px 0 70px;
	background-color: white;

	&__heading {
		margin-bottom: 50px;
	}

	&__table {
		tbody {
			td {
				font-weight: $reg;
				padding: 5px 10px;

				&:first-child {
					font-weight: $med;
					padding-left: 20px;
				}
			}
		}

		&-section {
			background-color: $grey--dark !important;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: $med;

			td {
				padding: 13px 5px 13px 20px !important;
			}
		}
	}

	&-table {
		&__buy {
			&-counter {
				width: 80px;
				margin: 0 auto;
				// border: 1px $grey--dark solid;
				position: relative;
				background-color: white;
			}

			&-trigger {
				display: inline-block;
				height: 20px;
				width: 20px;
				position: absolute;
				top: 7px;
				text-decoration: none;
				vertical-align: middle;
				color: #b9b2b1;
				font-weight: 600;
				font-size: 20px;
				background-position: center;
				background-repeat: no-repeat;
				z-index: 2;

				&--increment {
					right: 3px;
					background-image: url('../img/elem/spec-table__buy-trigger--increment.png');
					background-position: center top;

					&:hover,
					&:focus {
						background-position: center bottom;
					}
				}

				&--decrement {
					left: 3px;
					background-image: url('../img/elem/spec-table__buy-trigger--decrement.png');
					background-position: center top;

					&:hover,
					&:focus {
						background-position: center bottom;
					}
				}
			}

			&-count {
				vertical-align: middle;

				&--input {
					height: 32px;
					width: 100%;
					top: 0;
					left: 0;
					border: 0;
					padding: 0;
					text-align: center;
					visibility: visible;
					border: 1px $grey--dark solid;
					z-index: 1;
				}
			}

			&-btn {
				display: block;
				height: 32px;
				width: 32px;
				background-color: $green;
				background-image: url('../img/elem/spec-table__buy-btn-icon.png');
				background-repeat: no-repeat;
				background-position: center;
				float: left;
			}

			&-price {
				vertical-align: middle;
			}

			&-delete {
				display: inline-block;
				height: 14px;
				width: 14px;
				position: relative;
				margin-left: 20px;
				vertical-align: top;

				&:before,
				&:after {
					content: '';
					display: block;
					height: 2px;
					width: 14px;
					position: absolute;
					top: 8px;
					background-color: #dee6ea;
					@include transition(background-color, 0.2s, ease);
				}

				&:before {
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
				}

				&:after {
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}

				&:hover {
					&:before,
					&:after {
						background-color: $red;
					}
				}
			}
		}
	}

	&__total {
		margin-top: 30px;
		border-bottom: 2px $grey--dark solid;
		position: relative;

		&-text {
			font-size: 14px;
			font-weight: $med;
			text-transform: uppercase;
			margin-bottom: 10px;

			span {
				font-size: 20px;
				font-weight: $med;
				text-transform: none;
			}
		}

		&-icon {
			display: inline-block;
			height: 14px;
			width: 23px;
			margin-left: 5px;
			background-image: url('../img/elem/cart__cars-icon.png');
			background-repeat: no-repeat;
			background-position: center;
		}

		&-full {
			position: absolute;
			right: 0;
			bottom: 0;
			border-bottom: 4px $green solid;
			padding-bottom: 15px;
			margin-bottom: -2px;
			font-size: 20px;
			font-weight: $med;
			text-transform: uppercase;

			span {
				font-size: 35px;
			}
		}
	}

	&__next {
		margin-top: 30px;

		&-btn {
			padding: 17px 30px;
			float: right;
		}
	}
}