/* --- Home-promo --- */
.home-promo {
	height: 545px;
	color: white;
	background-color: $grey--dark;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../img/elem/home-promo-bg.jpg');

	&__heading {
		text-align: left;
		text-transform: uppercase;
		text-shadow: 1px 1px #000;
		font-size: 50px;
		font-weight: $bold;
		line-height: 1.18;
		padding-top: 225px;
	}
}