/* --- Videos --- */
.videos {
	padding: 60px 0;
	background-color: $grey;

	&__heading {
		margin-bottom: 50px;
	}

	&__block {
		width: 25%;
		padding-right: 15px;
		margin-bottom: 30px;
		float: left;
		@include box-sizing(border-box);

		&-link {
			line-height: 0;
			display: block;
			margin-bottom: 5px;
			position: relative;

			&:before {
				content: '';
				display: block;
				height: 55px;
				width: 55px;
				position: absolute;
				top: calc(50% - 27px);
				left: calc(50% - 27px);
				background-image: url('../img/elem/videos__block-link-icon.png');
				background-position: center;
				background-repeat: no-repeat;
			}
		}

		&-name {
			height: 32px;
			width: 100%;
			font-weight: $med;
			overflow: hidden;
		}
	}
}