<section id="s-videos" class="videos section">
    <div class="center">
        <h2 class="section__heading videos__heading">Видео ВОЛМА</h2>
        <div class="videos__container clearfix">
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=vkh19_CdG1w" title="Открыть видео" class="videos__block-link"><img src="../img/video/pol/video_0.jpg" alt="Технология применения наливных полов" class="videos__block-poster"></a>
                <p class="videos__block-name">Технология применения наливных полов, ровнителей для пола ВОЛМА</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=ACDDdYCXWec" title="Открыть видео" class="videos__block-link"><img src="../img/video/pol/video_1.jpg" alt="Выравнивание пола и стяжка" class="videos__block-poster"></a>
                <p class="videos__block-name">Секреты мастерства. Выравнивание пола и стяжка</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=L8VR7Ck1otE" title="Открыть видео" class="videos__block-link"><img src="../img/video/pol/video_2.jpg" alt="Занижение нулевой отметки" class="videos__block-poster"></a>
                <p class="videos__block-name">Секреты мастерства. Технология занижения нулевой отметки</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=RD31qjiXMlQ" title="Открыть видео" class="videos__block-link"><img src="../img/video/pol/video_3.jpg" alt="Ассортимент СХС" class="videos__block-poster"></a>
                <p class="videos__block-name">Ассортимент СХС</p>
            </div>
        </div>
    </div>
</section>