<section id="s-videos" class="videos section">
    <div class="center">
        <h2 class="section__heading videos__heading">Видео ВОЛМА</h2>
        <div class="videos__container clearfix">
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=UK8DNKEZ19M" title="Открыть видео" class="videos__block-link"><img src="../img/video/mont/video_0.jpg" alt="Область применения и особенности" class="videos__block-poster"></a>
                <p class="videos__block-name">Видеоинструкция - монтажные смеси. Область применения и особенности</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=z1w8maTUTeQ" title="Открыть видео" class="videos__block-link"><img src="../img/video/mont/video_1.jpg" alt="Технология применения Волма-Дача" class="videos__block-poster"></a>
                <p class="videos__block-name">Технология применения Волма-Дача</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=SEo1E9OBwSA" title="Открыть видео" class="videos__block-link"><img src="../img/video/mont/video_2.jpg" alt="Секреты монтажа перегородок" class="videos__block-poster"></a>
                <p class="videos__block-name">Секреты монтажа перегородок</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=RD31qjiXMlQ" title="Открыть видео" class="videos__block-link"><img src="../img/video/mont/video_3.jpg" alt="Ассортимент СХС" class="videos__block-poster"></a>
                <p class="videos__block-name">Ассортимент СХС</p>
            </div>
        </div>
    </div>
</section>