<section id="s-videos" class="videos section">
    <div class="center">
        <h2 class="section__heading videos__heading">Видео ВОЛМА</h2>
        <div class="videos__container clearfix">
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=upaA8sQGOkc" title="Открыть видео" class="videos__block-link"><img src="../img/video/pgp/video_0.jpg" alt="Технология монтажа перегородки" class="videos__block-poster"></a>
                <p class="videos__block-name">Видеоинструкция - ПГП. Технология монтажа перегородки из ПГП Волма</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="http://www.youtube.com/watch?v=UK8DNKEZ19M" title="Открыть видео" class="videos__block-link"><img src="../img/video/pgp/video_1.jpg" alt="Область применения и особенности" class="videos__block-poster"></a>
                <p class="videos__block-name">Видеоинструкция - ПГП. Область применения и особенности</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="http://www.youtube.com/watch?v=RD31qjiXMlQ" title="Открыть видео" class="videos__block-link"><img src="../img/video/pgp/video_2.jpg" alt="Ассортимет СХС" class="videos__block-poster"></a>
                <p class="videos__block-name">Ассортимет СХС</p>
            </div>
        </div>
    </div>
</section>