<section id="s-videos" class="videos section">
    <div class="center">
        <h2 class="section__heading videos__heading">Видео ВОЛМА</h2>
        <div class="videos__container clearfix">
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=B9sBbmQ7lAo" title="Открыть видео" class="videos__block-link"><img src="../img/video/plit/video_0.jpg" alt="Технология применения" class="videos__block-poster"></a>
                <p class="videos__block-name">Видеоинструкция. Технология применения плиточных клеев ВОЛМА</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=IkalHEP836Y" title="Открыть видео" class="videos__block-link"><img src="../img/video/plit/video_1.jpg" alt="Укладка фартука (экрана)" class="videos__block-poster"></a>
                <p class="videos__block-name">Волма-Керамик Плюс. Укладка фартука (экрана) на кухне за 10 мин</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=J7wTutDFvGw" title="Открыть видео" class="videos__block-link"><img src="../img/video/plit/video_2.jpg" alt="Краш тест фартука" class="videos__block-poster"></a>
                <p class="videos__block-name">Волма-Кермик Плюс. Краш тест фартука через месяц!</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=RD31qjiXMlQ" title="Открыть видео" class="videos__block-link"><img src="../img/video/plit/video_3.jpg" alt="Ассортимент СХС" class="videos__block-poster"></a>
                <p class="videos__block-name">Ассортимент СХС</p>
            </div>
        </div>
    </div>
</section>