<section id="s-videos" class="videos section">
    <div class="center">
        <h2 class="section__heading videos__heading">Видео ВОЛМА</h2>
        <div class="videos__container clearfix">
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=UfsrZYo04zU" title="Открыть видео" class="videos__block-link"><img src="../img/elem/videos-video-1.jpg" alt="Видео ВОЛМА" class="videos__block-poster"></a>
                <p class="videos__block-name">Создавая результат</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="http://www.youtube.com/watch?v=OYe-MH0m_ps" title="Открыть видео" class="videos__block-link"><img src="../img/elem/videos-video-2.jpg" alt="Видео ВОЛМА" class="videos__block-poster"></a>
                <p class="videos__block-name">Безопасное производство</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="http://www.youtube.com/watch?v=2vRGgCazzHY" title="Открыть видео" class="videos__block-link"><img src="../img/elem/videos-video-3.jpg" alt="Видео ВОЛМА" class="videos__block-poster"></a>
                <p class="videos__block-name">Новый стиль. Новый уровень</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="http://www.youtube.com/watch?v=6gF6eq7c7BM" title="Открыть видео" class="videos__block-link"><img src="../img/elem/videos-video-4.jpg" alt="Видео ВОЛМА" class="videos__block-poster"></a>
                <p class="videos__block-name">Подготовка специалистов</p>
            </div>
        </div>
    </div>
</section>