<section id="s-videos" class="videos section">
    <div class="center">
        <h2 class="section__heading videos__heading">Видео ВОЛМА</h2>
        <div class="videos__container clearfix">
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=UfsrZYo04zU" title="Открыть видео" class="videos__block-link"><img src="../img/video/home/video_0.jpg" alt="Создавая результат" class="videos__block-poster"></a>
                <p class="videos__block-name">Создавая результат</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="http://www.youtube.com/watch?v=OYe-MH0m_ps" title="Открыть видео" class="videos__block-link"><img src="../img/video/home/video_1.jpg" alt="Безопасное производство" class="videos__block-poster"></a>
                <p class="videos__block-name">Безопасное производство</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="http://www.youtube.com/watch?v=2vRGgCazzHY" title="Открыть видео" class="videos__block-link"><img src="../img/video/home/video_2.jpg" alt="Новый стиль. Новый уровень" class="videos__block-poster"></a>
                <p class="videos__block-name">Новый стиль. Новый уровень</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="http://www.youtube.com/watch?v=6gF6eq7c7BM" title="Открыть видео" class="videos__block-link"><img src="../img/video/home/video_3.jpg" alt="Подготовка специалистов" class="videos__block-poster"></a>
                <p class="videos__block-name">Подготовка специалистов</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="http://www.youtube.com/watch?v=dbU0i4Od1GM" title="Открыть видео" class="videos__block-link"><img src="../img/video/home/video_4.jpg" alt="Мастер-класс для профессиональнов" class="videos__block-poster"></a>
                <p class="videos__block-name">Мастер-класс для профессиональнов</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="http://www.youtube.com/watch?v=gJsJJfxHLPI" title="Открыть видео" class="videos__block-link"><img src="../img/video/home/video_5.jpg" alt="Семинар-презентация для строителей" class="videos__block-poster"></a>
                <p class="videos__block-name">Семинар-презентация для строителей</p>
            </div>
        </div>
    </div>
</section>