<section id="s-videos" class="videos section">
    <div class="center">
        <h2 class="section__heading videos__heading">Видео ВОЛМА</h2>
        <div class="videos__container clearfix">
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=UbcibsuZrt4" title="Открыть видео" class="videos__block-link"><img src="../img/video/shtuk/video_0.jpg" alt="Штукатурки ручного нанесения" class="videos__block-poster"></a>
                <p class="videos__block-name">Штукатурки ручного нанесения, инструкция по применению</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=ZgaL5qk6QLQ" title="Открыть видео" class="videos__block-link"><img src="../img/video/shtuk/video_1.jpg" alt="Штукатурки машинного нанесения" class="videos__block-poster"></a>
                <p class="videos__block-name">Штукатурки машинного нанесения Волма-Слой МН</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=kGi9K6ZDS3Q" title="Открыть видео" class="videos__block-link"><img src="../img/video/shtuk/video_2.jpg" alt="ВОЛМА-Слой инструкция" class="videos__block-poster"></a>
                <p class="videos__block-name">ВОЛМА-Слой инструкция по применению</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=PZO-N4t84cg" title="Открыть видео" class="videos__block-link"><img src="../img/video/shtuk/video_3.jpg" alt="Волма-Акваслой инструкция" class="videos__block-poster"></a>
                <p class="videos__block-name">Волма-Акваслой инструкция по применению</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=vDBfmiBkyO4" title="Открыть видео" class="videos__block-link"><img src="../img/video/shtuk/video_4.jpg" alt="Волма-Аквапласт инструкция" class="videos__block-poster"></a>
                <p class="videos__block-name">Волма-Аквапласт инструкция по применению</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=XM6nbJv_Zq0" title="Открыть видео" class="videos__block-link"><img src="../img/video/shtuk/video_5.jpg" alt="Волма-Цоколь инструкция" class="videos__block-poster"></a>
                <p class="videos__block-name">Волма-Цоколь инструкция по применению</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=RD31qjiXMlQ" title="Открыть видео" class="videos__block-link"><img src="../img/video/shtuk/video_6.jpg" alt="Ассортимент СХС" class="videos__block-poster"></a>
                <p class="videos__block-name">Ассортимент СХС</p>
            </div>
        </div>
    </div>
</section>