<section id="s-videos" class="videos section">
    <div class="center">
        <h2 class="section__heading videos__heading">Видео ВОЛМА</h2>
        <div class="videos__container clearfix">
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=2o72THIMkgY" title="Открыть видео" class="videos__block-link"><img src="../img/video/gkl/video_0.jpg" alt="ГКЛ гимнастический ВОЛМА" class="videos__block-poster"></a>
                <p class="videos__block-name">ГКЛ гимнастический ВОЛМА</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=sBIJmHIFIdo" title="Открыть видео" class="videos__block-link"><img src="../img/video/gkl/video_1.jpg" alt="Секреты монтажа гипсокартона" class="videos__block-poster"></a>
                <p class="videos__block-name">Секреты монтажа гипсокартона. 1000 метров за 24 часа</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=AKbkCxKOvqg" title="Открыть видео" class="videos__block-link"><img src="../img/video/gkl/video_2.jpg" alt="Потолок из гипсокартона" class="videos__block-poster"></a>
                <p class="videos__block-name">Как правильно навешивать предметы на перегородку из гипсокартона?</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=YHg1DMHORtM" title="Открыть видео" class="videos__block-link"><img src="../img/video/gkl/video_3.jpg" alt="Перегородки из ГКЛ" class="videos__block-poster"></a>
                <p class="videos__block-name">Как сделать потолок из гипсокартона?</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=ymfiCgY2PKc" title="Открыть видео" class="videos__block-link"><img src="../img/video/gkl/video_4.jpg" alt="Как гнуть гипсокартон?" class="videos__block-poster"></a>
                <p class="videos__block-name">Строим перегородку из ГКЛ. Какой профиль лучше?</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=VKfHzn3k3-4" title="Открыть видео" class="videos__block-link"><img src="../img/video/gkl/video_5.jpg" alt="Навешиваем предметы на перегородку" class="videos__block-poster"></a>
                <p class="videos__block-name">Как гнуть гипсокартон? (Полное видео)</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=v6ZijlS4Dv0" title="Открыть видео" class="videos__block-link"><img src="../img/video/gkl/video_6.jpg" alt="Шпаклевка потолка из гипсокартона?" class="videos__block-poste"></a>
                <p class="videos__block-name">Как шпаклевать потолок из гипсокартона?</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=RD31qjiXMlQ" title="Открыть видео" class="videos__block-link"><img src="../img/video/gkl/video_7.jpg" alt="Ассортимент СХС" class="videos__block-poster"></a>
                <p class="videos__block-name">Ассортимент СХС</p>
            </div>
        </div>
    </div>
</section>