section.videos.section#s-videos
	.center
		h2.section__heading.videos__heading Видео ВОЛМА
		.videos__container.clearfix
			if pageName == 'home'
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=UfsrZYo04zU', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_0.jpg', alt='Создавая результат').videos__block-poster
					p.videos__block-name Создавая результат
				.videos__block.lightgallery--video
					a(href='http://www.youtube.com/watch?v=OYe-MH0m_ps', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_1.jpg', alt='Безопасное производство').videos__block-poster
					p.videos__block-name Безопасное производство
				.videos__block.lightgallery--video
					a(href='http://www.youtube.com/watch?v=2vRGgCazzHY', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_2.jpg', alt='Новый стиль. Новый уровень').videos__block-poster
					p.videos__block-name Новый стиль. Новый уровень
				.videos__block.lightgallery--video
					a(href='http://www.youtube.com/watch?v=6gF6eq7c7BM', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_3.jpg', alt='Подготовка специалистов').videos__block-poster
					p.videos__block-name Подготовка специалистов
				.videos__block.lightgallery--video
					a(href='http://www.youtube.com/watch?v=dbU0i4Od1GM', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_4.jpg', alt='Мастер-класс для профессиональнов').videos__block-poster
					p.videos__block-name ВОЛМА провела мастер-класс для профессионального сообщества
				.videos__block.lightgallery--video
					a(href='http://www.youtube.com/watch?v=gJsJJfxHLPI', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_5.jpg', alt='Семинар-презентация для строителей').videos__block-poster
					p.videos__block-name Семинар-презентация для строителей и проектировщиков Оренбуржья
			else if pageName == 'pgp'
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=upaA8sQGOkc', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_0.jpg', alt='Технология монтажа перегородки').videos__block-poster
					p.videos__block-name Видеоинструкция - ПГП. Технология монтажа перегородки из ПГП Волма
				.videos__block.lightgallery--video
					a(href='http://www.youtube.com/watch?v=UK8DNKEZ19M', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_1.jpg', alt='Область применения и особенности').videos__block-poster
					p.videos__block-name Видеоинструкция - ПГП. Область применения и особенности
				.videos__block.lightgallery--video
					a(href='http://www.youtube.com/watch?v=RD31qjiXMlQ', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_2.jpg', alt='Ассортимет СХС').videos__block-poster
					p.videos__block-name Ассортимет СХС
			else if pageName == 'gkl'
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=2o72THIMkgY', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_0.jpg', alt='ГКЛ гимнастический ВОЛМА').videos__block-poster
					p.videos__block-name ГКЛ гимнастический ВОЛМА
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=sBIJmHIFIdo', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_1.jpg', alt='Секреты монтажа гипсокартона').videos__block-poster
					p.videos__block-name Секреты монтажа гипсокартона. 1000 метров за 24 часа
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=AKbkCxKOvqg', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_2.jpg', alt='Потолок из гипсокартона').videos__block-poster
					p.videos__block-name Как правильно навешивать предметы на перегородку из гипсокартона?
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=YHg1DMHORtM', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_3.jpg', alt='Перегородки из ГКЛ').videos__block-poster
					p.videos__block-name Как сделать потолок из гипсокартона?
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=ymfiCgY2PKc', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_4.jpg', alt='Как гнуть гипсокартон?').videos__block-poster
					p.videos__block-name Строим перегородку из ГКЛ. Какой профиль лучше?
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=VKfHzn3k3-4', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_5.jpg', alt='Навешиваем предметы на перегородку').videos__block-poster
					p.videos__block-name Как гнуть гипсокартон? (Полное видео)
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=v6ZijlS4Dv0', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_6.jpg', alt='Шпаклевка потолка из гипсокартона?').videos__block-poste
					p.videos__block-name Как шпаклевать потолок из гипсокартона?
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=RD31qjiXMlQ', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_7.jpg', alt='Ассортимент СХС').videos__block-poster
					p.videos__block-name Ассортимент СХС
			else if pageName == 'plit'
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=B9sBbmQ7lAo', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_0.jpg', alt='Технология применения').videos__block-poster
					p.videos__block-name Видеоинструкция. Технология применения плиточных клеев ВОЛМА
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=IkalHEP836Y', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_1.jpg', alt='Укладка фартука (экрана)').videos__block-poster
					p.videos__block-name Волма-Керамик Плюс. Укладка фартука (экрана) на кухне за 10 мин
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=J7wTutDFvGw', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_2.jpg', alt='Краш тест фартука').videos__block-poster
					p.videos__block-name Волма-Кермик Плюс. Краш тест фартука через месяц!
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=RD31qjiXMlQ', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_3.jpg', alt='Ассортимент СХС').videos__block-poster
					p.videos__block-name Ассортимент СХС
			else if pageName == 'mont'
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=UK8DNKEZ19M', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_0.jpg', alt='Область применения и особенности').videos__block-poster
					p.videos__block-name Видеоинструкция - монтажные смеси. Область применения и особенности
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=z1w8maTUTeQ', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_1.jpg', alt='Технология применения Волма-Дача').videos__block-poster
					p.videos__block-name Технология применения Волма-Дача
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=SEo1E9OBwSA', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_2.jpg', alt='Секреты монтажа перегородок').videos__block-poster
					p.videos__block-name Секреты монтажа перегородок
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=RD31qjiXMlQ', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_3.jpg', alt='Ассортимент СХС').videos__block-poster
					p.videos__block-name Ассортимент СХС
			else if pageName == 'pol'
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=vkh19_CdG1w', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_0.jpg', alt='Технология применения наливных полов').videos__block-poster
					p.videos__block-name Технология применения наливных полов, ровнителей для пола ВОЛМА
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=ACDDdYCXWec', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_1.jpg', alt='Выравнивание пола и стяжка').videos__block-poster
					p.videos__block-name Секреты мастерства. Выравнивание пола и стяжка
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=L8VR7Ck1otE', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_2.jpg', alt='Занижение нулевой отметки').videos__block-poster
					p.videos__block-name Секреты мастерства. Технология занижения нулевой отметки
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=RD31qjiXMlQ', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_3.jpg', alt='Ассортимент СХС').videos__block-poster
					p.videos__block-name Ассортимент СХС
			else if pageName == 'shpak'
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=uev6qpp8faI', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_0.jpg', alt='Технология применения наливных полов').videos__block-poster
					p.videos__block-name Технология применения плиточных шпаклевок гипсовых ВОЛМА
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=7GpIQY2tA44', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_1.jpg', alt='Волма-Аквастандарт инструкция').videos__block-poster
					p.videos__block-name Волма-Аквастандарт инструкция по применению
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=RD31qjiXMlQ', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_2.jpg', alt='ВОЛМА-База инструкция').videos__block-poster
					p.videos__block-name ВОЛМА-База инструкция по применению
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=RD31qjiXMlQ', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_3.jpg', alt='Ассортимент СХС').videos__block-poster
					p.videos__block-name Ассортимент СХС
			else if pageName == 'shtuk'
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=UbcibsuZrt4', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_0.jpg', alt='Штукатурки ручного нанесения').videos__block-poster
					p.videos__block-name Штукатурки ручного нанесения, инструкция по применению
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=ZgaL5qk6QLQ', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_1.jpg', alt='Штукатурки машинного нанесения').videos__block-poster
					p.videos__block-name Штукатурки машинного нанесения Волма-Слой МН
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=kGi9K6ZDS3Q', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_2.jpg', alt='ВОЛМА-Слой инструкция').videos__block-poster
					p.videos__block-name ВОЛМА-Слой инструкция по применению
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=PZO-N4t84cg', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_3.jpg', alt='Волма-Акваслой инструкция').videos__block-poster
					p.videos__block-name Волма-Акваслой инструкция по применению
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=vDBfmiBkyO4', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_4.jpg', alt='Волма-Аквапласт инструкция').videos__block-poster
					p.videos__block-name Волма-Аквапласт инструкция по применению
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=XM6nbJv_Zq0', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_5.jpg', alt='Волма-Цоколь инструкция').videos__block-poster
					p.videos__block-name Волма-Цоколь инструкция по применению
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=RD31qjiXMlQ', title='Открыть видео').videos__block-link
						img(src='../img/video/' + pageName + '/video_6.jpg', alt='Ассортимент СХС').videos__block-poster
					p.videos__block-name Ассортимент СХС
			else
				.videos__block.lightgallery--video
					a(href='https://www.youtube.com/watch?v=UfsrZYo04zU', title='Открыть видео').videos__block-link
						img(src='../img/elem/videos-video-1.jpg', alt='Видео ВОЛМА').videos__block-poster
					p.videos__block-name Создавая результат
				.videos__block.lightgallery--video
					a(href='http://www.youtube.com/watch?v=OYe-MH0m_ps', title='Открыть видео').videos__block-link
						img(src='../img/elem/videos-video-2.jpg', alt='Видео ВОЛМА').videos__block-poster
					p.videos__block-name Безопасное производство
				.videos__block.lightgallery--video
					a(href='http://www.youtube.com/watch?v=2vRGgCazzHY', title='Открыть видео').videos__block-link
						img(src='../img/elem/videos-video-3.jpg', alt='Видео ВОЛМА').videos__block-poster
					p.videos__block-name Новый стиль. Новый уровень
				.videos__block.lightgallery--video
					a(href='http://www.youtube.com/watch?v=6gF6eq7c7BM', title='Открыть видео').videos__block-link
						img(src='../img/elem/videos-video-4.jpg', alt='Видео ВОЛМА').videos__block-poster
					p.videos__block-name Подготовка специалистов