<section id="s-videos" class="videos section">
    <div class="center">
        <h2 class="section__heading videos__heading">Видео ВОЛМА</h2>
        <div class="videos__container clearfix">
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=uev6qpp8faI" title="Открыть видео" class="videos__block-link"><img src="../img/video/shpak/video_0.jpg" alt="Технология применения наливных полов" class="videos__block-poster"></a>
                <p class="videos__block-name">Технология применения плиточных шпаклевок гипсовых ВОЛМА</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=7GpIQY2tA44" title="Открыть видео" class="videos__block-link"><img src="../img/video/shpak/video_1.jpg" alt="Волма-Аквастандарт инструкция" class="videos__block-poster"></a>
                <p class="videos__block-name">Волма-Аквастандарт инструкция по применению</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=RD31qjiXMlQ" title="Открыть видео" class="videos__block-link"><img src="../img/video/shpak/video_2.jpg" alt="ВОЛМА-База инструкция" class="videos__block-poster"></a>
                <p class="videos__block-name">ВОЛМА-База инструкция по применению</p>
            </div>
            <div class="videos__block lightgallery--video"><a href="https://www.youtube.com/watch?v=RD31qjiXMlQ" title="Открыть видео" class="videos__block-link"><img src="../img/video/shpak/video_3.jpg" alt="Ассортимент СХС" class="videos__block-poster"></a>
                <p class="videos__block-name">Ассортимент СХС</p>
            </div>
        </div>
    </div>
</section>