section.contacts.section#s-contacts
	.center
		.contacts__container.clearfix
			.contacts__info
				h2.section__heading.contacts__heading Наши контакты
				p.contacts__text.contacts__text--big
					a(href='tel:' + (phone[1])) #{phone[0]}
				p.contacts__text.contacts__text--time ПН - ПТ с 9:00 до 19:00
				p.contacts__text.contacts__text--mail 
					a(href='mailto:sales@altimstroy.ru') sales@altimstroy.ru
				p.contacts__text ООО «Алтим-строй»
				p.contacts__text ИНН 6950172104
				p.contacts__text ОГРН 1136952016101
			.contacts__question
				h3.contacts__question-heading Остались вопросы?
				form(action='http://volma-opt.ru:3000/order', method='post').contacts__form.validate
					fieldset.contacts__form-fieldset
						input(type='tel', name='tel', data-validation='required', data-validation-error-msg='Пожалуйста, введите корректный телефон.', required).contacts__form-field
						label.contacts__form-label Ваш телефон *
					fieldset.contacts__form-fieldset
						textarea(name='comment', placeholder='Ваш вопрос').contacts__form-field.contacts__form-field--textarea
					input(type='hidden', name='form_name', value='Вопрос')
					input(type='submit', name='form_submit', value='Задать вопрос', onclick='_gaq.push(["_trackEvent", "Задать вопрос", "click"]);').contacts__form-submit.btn.btn--bordered