/* --- Contacts --- */
.contacts {
	padding: 35px 0;
	background-color: $grey--dark;

	&__heading {
		margin-top: 20px;
		margin-bottom: 50px;
		text-align: left;
	}

	&__text {
		font-weight: $reg;
		line-height: 1.2;
		margin-bottom: 12px;

		&--big {
			font-size: 24px;
			font-weight: $med;
			margin-bottom: 3px;

			a {
				color: inherit;
				text-decoration: none;
			}
		}

		&--time {
			margin-bottom: 25px;
		}

		&--mail {
			margin-bottom: 15px;
			font-weight: $med;

			a {
				display: inline-block;
				border-bottom: 2px rgba(0, 0, 0, 0.15) solid;
				color: black;
				text-decoration: none;
			}
		}
	}

	&__info {
		width: 50%;
		float: left;
	}

	&__question {
		width: 50%;
		padding: 30px;
		background-color: white;
		box-shadow: 0px 0px 10px 0px RGBA(0, 0, 0, 0.1);
		float: left;
		@include box-sizing(border-box);

		&-heading {
			text-align: center;
			text-transform: uppercase;
			font-size: 25px;
			font-weight: $med;
			margin-bottom: 25px;
		}
	}

	&__form {
		&-fieldset {
			width: 100%;
			position: relative;
			margin-bottom: 10px;
		}

		&-field {
			height: 35px;
			width: calc(100% - 20px);
			border: none;
			padding: 15px 0 0 20px;
			font-size: 16px;
			font-weight: $reg;
			font-family: $font;
			background-color: $grey--dark;
			color: black;
			outline: none;
			box-shadow: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			@include transition(all, 0.2s, ease);

			&:focus {
				font-size: 16px;
				height: 35px;
				padding-top: 15px;
			}

			&:focus + label,
			&:valid + label {
				top: 8px;
				font-size: 14px;
				color: rgba(black, 0.75);
			}

			&--input {
				height: 54px;
				width: 100%;
			}

			&--textarea {
				height: 110px !important;
				min-height: 110px;
				max-height: 110px;
				width: calc(100% - 20px) !important;
				min-width: calc(100% - 20px);
				max-width: calc(100% - 20px);
				padding-top: 15px;
			}
		}

		&-label {
			color: rgba(black, 0.5); 
			font-size: 16px;
			font-weight: $reg;
			font-family: $font;
			position: absolute;
			pointer-events: none;
			left: 20px;
			top: 17px;
			@include transition(all, 0.2s, ease);
		}

		&-submit {
			display: block;
			border: 2px $green solid;
			padding: 14px 24px;
			margin: 25px auto 0;
			color: black;
			font-size: 16px;
			font-weight: $med;
			font-family: $font;
			text-transform: uppercase;
			box-shadow: none;
			background-color: white;
			cursor: pointer;
		}
	}
}