/* --- Order --- */
.order {
	padding: 60px 0 70px;
	background-color: $grey;

	&__heading {
		margin-bottom: 50px;
	}

	&__subheading {
		font-weight: $med;
		text-transform: uppercase;
		margin: 20px 0 15px;
	}

	&__form {
		&-fieldset {
			position: relative;
			width: 33%;
			float: left;
			margin-bottom: 10px;

			&:nth-child(3n+3) {
				width: 34%;
			}
		}

		&-field {
			height: 35px;
			width: calc(100% - 30px);
			padding: 15px 0 0 20px;
			background-color: #e6ecef;
			border: none;
			box-shadow: none;
			font-size: 16px;
			font-family: $font;
			@include transition(all, 0.2s, ease);

			&:focus {
				font-size: 16px;
				height: 35px;
				padding-top: 15px;
			}

			&:focus + label,
			&:valid + label {
				top: 8px;
				font-size: 14px;
				color: rgba(black, 0.75);
			}

			&--textarea {
				padding: 10px 20px;
				min-height: 110px;
				max-height: 200px;
				width: calc(100% - 40px);
				max-width: calc(100% - 40px);
				min-width: calc(100% - 40px);
				margin-bottom: 20px;

				&:focus {
					padding-top: 10px;
				}
			}
		}

		&-label {
			color: rgba(black, 0.5); 
			font-size: 16px;
			font-weight: $reg;
			font-family: $font;
			position: absolute;
			pointer-events: none;
			left: 20px;
			top: 17px;
			@include transition(all, 0.2s, ease);
		}

		&-submit {
			display: block;
			width: 360px;
			padding: 20px 0;
			margin: 0 auto 25px;
			border: none;
			font-family: $font;
			font-size: 16px;
			font-weight: $med;
			line-height: 1;
			background-image: url("../img/elem/action__btn-icon.png");
			background-repeat: no-repeat;
			background-position: 74% 50%;
			cursor: pointer;
		}

		&-info {
			text-align: center;
			font-weight: $reg;
		}
	}

	&__choser {
		margin-bottom: 20px;

		&-element {
			width: 33%;
			float: left;
			padding: 20px;
			text-align: center;
			text-decoration: none;
			font-weight: $reg;
			color: black;
			border: 2px $grey--dark solid;
			margin-right: -2px;
			@include box-sizing(border-box);
			position: relative;
			z-index: 2;

			&:hover,
			&:focus {
				background-color: $grey--dark;
			}

			&:nth-child(2) {
				width: 34%;
			}
		}

		.js {
			&-choser {
				&__elem {
					&--active {
						background-color: transparent;
						border-color: $green;
						z-index: 3;

						&:hover,
						&:active {
							background-color: transparent;
						}
					}
				}
			}
		}
	}

	&__comment {
		margin-bottom: 20px;

		&-add {
			display: block;
			margin: 0 auto;
			text-transform: uppercase;
			text-decoration: none;
			text-align: center;
			font-weight: $med;
			color: black;
			@include transition(color, 0.2s, ease);

			&:hover {
				color: $green;
			}
		}

		&-block {
			@include transition(all, 0.2s, ease);

			&--hidden {
				opacity: 0;
				height: 0;
				position: absolute;
				top: -9999px;
				left: -9999px;
			}

			&--visible {
				opacity: 1;
				height: auto;
				position: static;
			}
		}
	}

	span.help-block.form-error {
		right: 10px;
	}
}