/* Select tag */
.js {
    &-select {
        height: 54px;
        width: 160px;
        background-color: white;
        text-indent: 5px;
        color: black;
        font-family: $font;
        font-weight: $reg;
        cursor: pointer;
        position: relative;
        float: right;
        z-index: 2;
        
        &--hidden {
            visibility: hidden;
            padding-right: 10px;
        }
        
        &--styled {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: white;
            border-bottom: 2px $blue solid;
            padding: 0 10px;
            font-weight: $med;
            line-height: 54px;
            
            &:after {
                content: '';
                width: 15px;
                height: 10px;
                background-image: url('../img/elem/select__arrow--big.png');
                background-repeat: no-repeat;
                background-position: center bottom;
                position: absolute;
                top: 21px;
                right: 13px;
            }

            &:active, &.active {
                box-shadow: 0px 0px 6px 1px RGBA(0, 0, 0, 0.1);
                background-color: white;
                color: black;

                &:after {
                    background-position: center top;
                }
            }
        }

        &:hover,
        &:focus {
            border-color: rgba(#eeeeee, 0.65);
            color: black;
        }
    }
}

.options {
    display: none;
    max-height: 270px;
    overflow-y: scroll;
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    left: 0;
    z-index: 1;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 6px 1px RGBA(0, 0, 0, 0.1);
    color: black;
    z-index: 1;
    
    li {
        margin: 0 0;
        padding: 19px 16px;
        
        &:hover {
            background-color: $grey;
        }
    }
}

.double-select {
    position: relative;

    .js-select {
        width: 50%;
        float: left;
        @include box-sizing(border-box);

        .options {
            text-align: center;
        }
    }
}