/* --- Advantages --- */
.advantages {
	background-color: $grey;
	padding-top: 60px;
	padding-bottom: 70px;

	&__heading {
		margin-bottom: 50px;
	}

	&__container {
		border-bottom: 2px $grey--dark solid;
	}

	&__block {
		height: 260px;
		width: 33.33%;
		float: left;
		border-top: 2px $grey--dark solid;
		padding: 45px;
		@include box-sizing(border-box);

		&:nth-child(3n+2) {
			border-left: 2px $grey--dark solid;
			border-right: 2px $grey--dark solid;
		}

		&-heading {
			display: inline-block;
			font-size: 22px;
			font-weight: $reg;
			margin-bottom: 18px;
			line-height: 1.2;

			a {
				color: black;
				text-decoration: none;
				@include transition(color, 0.2s, ease);

				&:hover,
				&:focus {
					color: $green;
				}
			}

			&--underlined {
				border-bottom: 2px $green solid;
			}
		}

		&-item {
			line-height: 1.2;
			color: $muted;
			margin-bottom: 10px;
			position: relative;

			&:before {
				content: '•';
				position: absolute;
				font-size: 12px;
				color: $blue;
				left: -13px;
				top: 2px;
			}
		}
	}
}