<section id="s-advantages" class="advantages section">
    <div class="center">
        <h2 class="section__heading advantages__heading">Вы получите лучшие условия на рынке</h2>
        <div class="advantages__container clearfix">
            <div class="advantages__block">
                <h3 class="advantages__block-heading">Бесперебойные поставки</h3>
                <ul class="advantages__block-list">
                    <li class="advantages__block-item">Гибкий график поставок 24/7</li>
                    <li class="advantages__block-item">Срочные поставки в течение 1-3 дней</li>
                    <li class="advantages__block-item">Поставки до 15-20 машин в день на объект</li>
                    <li class="advantages__block-item">13500 м2 склад готовой продукции в ЦФО</li>
                </ul>
            </div>
            <div class="advantages__block">
                <h3 class="advantages__block-heading">Цена завода производителя</h3>
                <ul class="advantages__block-list">
                    <li class="advantages__block-item">На 12% ниже, без посредников</li>
                    <li class="advantages__block-item">Прямая отгрузка с заводов Волма</li>
                    <li class="advantages__block-item">Любая форма оплаты (нал/безнал)</li>
                    <li class="advantages__block-item">Цена с учетом доставки</li>
                </ul>
            </div>
            <div class="advantages__block">
                <h3 class="advantages__block-heading">Обучение и помощь от Волма</h3>
                <ul class="advantages__block-list">
                    <li class="advantages__block-item">Мастер-классы и семинары Волма для стро-<br>ительных организацийи проектировщиков</li>
                    <li class="advantages__block-item">Промо материалы, стратегия продвижения<br>продукции Волма для Ваших точек продаж</li>
                </ul>
            </div>
            <div class="advantages__block">
                <h3 class="advantages__block-heading advantages__block-heading--underlined"><a href="#" data-win="popup--calc" class="open-popup">Расчет экономического эффекта</a></h3>
                <ul class="advantages__block-list">
                    <li class="advantages__block-item">Расчет экономической эффективности<br>применения ПГП на Вашем объекте за 1 час</li>
                    <li class="advantages__block-item">Выбор строительного материала на основе<br>необходимых технических характеристик</li>
                </ul>
            </div>
            <div class="advantages__block">
                <h3 class="advantages__block-heading advantages__block-heading--underlined"><a href="#" data-win="popup--chief" class="open-popup">Шеф-монтаж от Волма</a></h3>
                <ul class="advantages__block-list">
                    <li class="advantages__block-item">Выезд специалиста на Ваш объект для обу-<br>чения правильному применению продукции<br>Волма</li>
                    <li class="advantages__block-item">Выезды на Ваш объект с целью контроля<br>соблюдения технологии при производстве<br>работ</li>
                </ul>
            </div>
            <div class="advantages__block">
                <h3 class="advantages__block-heading advantages__block-heading--underlined"><a href="#" data-win="popup--request" class="open-popup">Комплектация объекта</a></h3>
                <ul class="advantages__block-list">
                    <li class="advantages__block-item">Спец. цены от завода Волма для полной<br>комплектации Вашего объекта</li>
                    <li class="advantages__block-item">Поставки сопутствующих товаров <br>(перемычки, профили, крепежи, инструмент)</li>
                </ul>
            </div>
        </div>
    </div>
</section>