extends ../elements/layout/layout.jade

block vars
	- var pageName = 'order'
	- var phone = ["+7 (495) 000-00-01", 74950000001]

block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	script(src='../helpers/js/jquery.form-validator.min.js')
	script(src='../helpers/js/jquery.maskedinput.min.js')
	script(src='../helpers/js/lightgallery.min.js')
	script(src='../helpers/js/lg-video.min.js')
	script(src='../helpers/js/prices.js')
	script(src='../helpers/js/popup.js')
	script(src='../helpers/js/header.js')
	script(src='../helpers/js/dropzone.js')
	script(src='../helpers/js/spec--counter.js')
	script(src='../helpers/js/order.js')
	script(src='../helpers/js/choser.js')
	script(src='../helpers/js/recalculateCart.js')
	script(src='../helpers/js/run.js')

block title
	title #{title}

block content
	include ../elements/cart/cart.jade