extends ../elements/layout/layout.jade

block vars
	- var pageName = 'gkl'
	- var phone = ["+7 (495) 000-00-01", 74950000001]
	- var haveTechnical = true

block scripts
	include ../elements/scripts/scripts--inner.jade

block title
	title #{title}

block content
	include ../elements/inner-promo/inner-promo.jade
	+inner-promo("Гипсокартоновые листы (ГКЛ)", "ГКЛ", "gkl")
	include ../elements/spec/spec.jade
	include ../elements/sphere/sphere.jade
	+sphere(pageName)
	+action(2)
	include ../elements/advantages/advantages.jade
	include ../elements/created/created.jade
	include ../elements/compare/compare.jade
	+action(3)
	include ../elements/package/package.jade
	include ../elements/last-objects/last-objects.jade
	+action(1)
	include ../elements/chief/chief.jade
	include ../elements/quality/quality.jade
	include ../elements/videos/videos.jade