extends ../elements/layout/layout.jade

block vars
	- var pageName = 'home'
	- var phone = ["+7 (495) 000-00-01", 74950000001]

block scripts
	include ../elements/scripts/scripts--home.jade

block title
	title #{title}

block content
	include ../elements/home-promo/home-promo.jade
	include ../elements/advantages/advantages.jade
	include ../elements/stats/stats.jade
	include ../elements/created/created.jade
	include ../elements/videos/videos.jade
	include ../elements/package/package.jade
	include ../elements/last-objects/last-objects.jade
	+action(1)
	include ../elements/delivery/delivery.jade
	include ../elements/director/director.jade
	include ../elements/feedbacks/feedbacks.jade
	include ../elements/map/map.jade
	include ../elements/contacts/contacts.jade