- var phone = ["+7 (495) 000-00-01", 74950000001]

doctype html
html
	head
		meta(charset='UTF-8')
		meta(name="viewport", content="width=1170")
		meta(name='description', content='SEO Description')
		meta(name='keywords', content='SEO keywords')
		link(href='../img/elem/favicon.png', rel='shortcut icon')
		block title
			title #{title}
		block styles
			link(href='../css/main.min.css', rel='stylesheet')
			<!--[if gte IE 9]>
			link(href='../helpers/css/fonts-ie.css', rel='stylesheet')
			<![endif]-->
	body
		.thanks-container
			h1.thanks__heading Ваш заказ оформлен!
			p.thanks__info На Ваш email отправлено подтверждение об оформленном заказе
				br
				| Вы можете отследить заказ по вашему ID: 
				span.thanks__id #{orderId} 
				| по телефону: 
				a(href='tel:' + (phone[1])) #{phone[0]}
			a(href='/', title='Вернуться на главную').thanks__close