/* --- Fonts pfdintextcondpro */

/* Regular */
@font-face {
    font-family: 'PFDInTextCondPro';
	src: local("PFDInTextCondPro"),
         local("PFDInTextCondPro-Regular"),
         url('../../fonts/pfdintextcondpro/Regular/pfdintextcondpro-regular.woff');
	font-style: normal;
    font-weight: 400;
}

/* Regular Italic*/
@font-face {
    font-family: "PFDInTextCondPro";
    src: local("PFDInTextCondPro"),
         local("PFDInTextCondPro-Regular"),
         url("../../fonts/pfdintextcondpro/Regular-Italic/pfdintextcondpro-italic.ttf");
    font-style: italic;
    font-weight: 400;
}

/* Medium */
@font-face {
    font-family: "PFDInTextCondPro";
    src: local("PFDInTextCondPro"),
         local("PFDInTextCondPro-Medium"),
         url('../../fonts/pfdintextcondpro/Medium/pfdintextcondpro-medium.woff');
	font-style: normal;
    font-weight: 600;
}

/* Medium Italic */
@font-face {
    font-family: "PFDInTextCondPro";
    src: local("PFDInTextCondPro"),
         local("PFDInTextCondPro-Medium"),
         url("../../fonts/pfdintextcondpro/Medium-Italic/pfdintextcondpro-medital.ttf");
    font-style: italic;
    font-weight: 600;
}

/* Bold */
@font-face {
    font-family: "PFDInTextCondPro";
    src: local("PFDInTextCondPro"),
         local("PFDInTextCondPro-Bold"),
         url('../../fonts/pfdintextcondpro/Bold/pfdintextcondpro-bold.woff');
	font-style: normal;
    font-weight: bold;
}

/* Bold Italic */
@font-face {
    font-family: "PFDInTextCondPro";
    src: url("../../fonts/pfdintextcondpro/Bold-Italic/pfdintextcondpro-boldital.ttf");
    font-style: italic;
    font-weight: bold;
}