/* --- Fonts pfdintextcondpro --- */

/* Regular */
@font-face {
    font-family: 'PFDInTextCondPro';
	src: 
        local("PFDInTextCondPro"),
        local("PFDInTextCondPro-Regular"),
        url('../../fonts/pfdintextcondpro/Regular/pfdintextcondpro-regular.ttf');
	font-style: normal;
    font-weight: 400;
}

/* Regular Italic*/
@font-face {
    font-family: "PFDInTextCondPro";
    src: 
        local("PFDInTextCondPro"),
        local("PFDInTextCondPro-Regular"),
        url("../../fonts/pfdintextcondpro/Regular-Italic/pfdintextcondpro-italic.ttf");
    font-style: italic;
    font-weight: 400;
}

/* Medium */
@font-face {
    font-family: "PFDInTextCondPro";
    src: 
        local("PFDInTextCondPro"),
        local("PFDInTextCondPro-Medium"),
        url('../../fonts/pfdintextcondpro/Medium/pfdintextcondpro-medium.ttf');
	font-style: normal;
    font-weight: 600;
}

/* Medium Italic */
@font-face {
    font-family: "PFDInTextCondPro";
    src: 
        local("PFDInTextCondPro"),
        local("PFDInTextCondPro-Medium"),
        url("../../fonts/pfdintextcondpro/Medium-Italic/pfdintextcondpro-medital.ttf");
    font-style: italic;
    font-weight: 600;
}

/* Bold */
@font-face {
    font-family: "PFDInTextCondPro";
    src: 
        local("PFDInTextCondPro"),
        local("PFDInTextCondPro-Bold"),
        url('../../fonts/pfdintextcondpro/Bold/pfdintextcondpro-bold.ttf');
	font-style: normal;
    font-weight: bold;
}

/* Bold Italic */
@font-face {
    font-family: "PFDInTextCondPro";
    src: 
        local("PFDInTextCondPro"),
        local("PFDInTextCondPro-Bold"),
        url("../../fonts/pfdintextcondpro/Bold-Italic/pfdintextcondpro-boldital.ttf");
    font-style: italic;
    font-weight: bold;
}

/* --- Fonts for lightbox --- */
@font-face {
  font-family: 'lg';
  src: url("../../fonts/lightbox/lg.eot?n1z373");
  src: url("../../fonts/lightbox/lg.eot?#iefixn1z373") format("embedded-opentype"), url("../../fonts/lightbox/lg.woff?n1z373") format("woff"), url("../../fonts/lightbox/lg.ttf?n1z373") format("truetype"), url("../../fonts/lightbox/lg.svg?n1z373#lg") format("svg");
  font-weight: normal;
  font-style: normal;
}