/* --- Inner-promo --- */
.inner-promo {
	height: 390px;
	padding-top: 20px;
	color: white;
	background-color: $blue;

	&__heading {
		text-align: left;
		text-transform: uppercase;
		font-size: 50px;
		font-weight: $bold;
		line-height: 1.18;
		margin-bottom: 25px;
	}

	&__subheading {
		font-size: 22px;
		font-weight: $reg;
		line-height: 1.2;
		margin-bottom: 50px;
	}

	&__image {
		width: 50%;
		float: left;
	}

	&__item {
		width: auto;
		max-height: 270px;
	}

	&__logo {
		margin-bottom: 30px;

		&-img {
			display: block;
			margin-right: 10px;
			float: left;
		}

		&-text {
			margin-top: 16px;
			font-size: 15px;
			font-weight: $reg;
			line-height: 1;
			text-transform: uppercase;
			float: left;

			span {
				display: inline-block;
				padding: 8px 30px 0 8px;
				background-color: $green;

				&:last-child {
					padding-top: 2px;
					padding-right: 45px;
					padding-bottom: 8px;
				}
			}
		}
	}

	&__info {
		width: 50%;
		padding-top: 10px;
		float: left;
	}

	&__btn {
		display: inline-block;
		padding: 20px 27px;
		vertical-align: middle;
	}

	&__date {
		display: inline-block;
		width: 220px;
		padding: 18px 10px;
		font-size: 20px;
		font-weight: $reg;
		text-align: center;
		vertical-align: middle;
		background-color: #1a8ccf;
		@include box-sizing(border-box);
	}
}