mixin inner-promo(heading, headingCompact, image)
	section.inner-promo
		.center
			.inner-promo__container.clearfix
				.inner-promo__image
					.inner-promo__logo.clearfix
						img(src='../img/elem/promo__logo.png', alt='Волма логотип').inner-promo__logo-img
						p.inner-promo__logo-text
							if pageName == 'pgp'
								span 1 место по объему
								br
								span продаж #{headingCompact} в России
							else
								span 2 место по объему
								br
								span продаж ССС в России
					img(src='../img/elem/promo__item-' + image +'.png', alt=(heading)).inner-promo__item
				.inner-promo__info
					h1.inner-promo__heading #{heading}
					p.inner-promo__subheading Бесплатный шеф-монтаж на Вашем объекте
						br
						| Специально обученная бригада от завода производителя
					a(href='#', title='Получить бесплатный шэф-монтаж', data-win='popup--chief').btn.btn--green.btn--arrow.inner-promo__btn.open-popup получить бесплатный шэф-монтаж
						i
					span.inner-promo__date Только до 
						span.js-action__day 31
						| &nbsp;
						span.js-action__month декабря
						| !