<section class="sphere section">
    <div class="center">
        <table class="sphere__table table">
            <thead>
            <tr>
                <th class="table-cell--left">
                    <p class="table-cell__heading">СФЕРА ПРИМЕНЕНИЯ</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ПГП 80 ММ</p>
                    <p class="table-cell__subheading">Обычная<br>пустотелая</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ПГП 80 ММ</p>
                    <p class="table-cell__subheading">Обычная<br>полнотелая</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ПГП 100 ММ</p>
                    <p class="table-cell__subheading">Обычная<br>полнотелая</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ПГП 80 ММ</p>
                    <p class="table-cell__subheading">Влагостойкая<br>пустотелая</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ПГП 80 ММ</p>
                    <p class="table-cell__subheading">Влагостойкая<br>полнотелая</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ПГП 100 ММ</p>
                    <p class="table-cell__subheading">Влагостойкая<br>полнотелая</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="table-cell--left">Внутри сухих помещений (холлы, спальни, коридоры)</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Внутри влажных помещений (ванны, с/узлы, кухни)</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Внутри помещений с высокой влажностью (сауны, бани)</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Вне помещений и внутри неотапливаемых<br>(включая балконы, лоджии)</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Межкомнатные перегородки<span class="required"> *</span></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Межквартирные перегородки (двойные)<span class="required"> *</span></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            </tbody>
        </table>
        <p class="sphere__table-description"><span class="sphere__table-description-part"><i class="table__icon table__icon--plus"></i>Рекомендуется</span><span class="sphere__table-description-part"><i class="table__icon table__icon--minus"></i>Не допускается</span><span class="sphere__table-description-part"><span class="required"> *</span> - не несущие перегородки</span></p>
    </div>
</section>