mixin sphere(pageName)
	case pageName
		when 'pgp'
			section.sphere.section
				.center
					table.sphere__table.table
						thead
							tr
								th.table-cell--left
									p.table-cell__heading СФЕРА ПРИМЕНЕНИЯ
								th.table-cell--small
									p.table-cell__heading ПГП 80 ММ
									p.table-cell__subheading Обычная
										br
										| пустотелая
								th.table-cell--small
									p.table-cell__heading ПГП 80 ММ
									p.table-cell__subheading Обычная
										br
										| полнотелая
								th.table-cell--small
									p.table-cell__heading ПГП 100 ММ
									p.table-cell__subheading Обычная
										br
										| полнотелая
								th.table-cell--small
									p.table-cell__heading ПГП 80 ММ
									p.table-cell__subheading Влагостойкая
										br
										| пустотелая
								th.table-cell--small
									p.table-cell__heading ПГП 80 ММ
									p.table-cell__subheading Влагостойкая
										br
										| полнотелая
								th.table-cell--small
									p.table-cell__heading ПГП 100 ММ
									p.table-cell__subheading Влагостойкая
										br
										| полнотелая
						tbody
							tr
								td.table-cell--left Внутри сухих помещений (холлы, спальни, коридоры)
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Внутри влажных помещений (ванны, с/узлы, кухни)
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Внутри помещений с высокой влажностью (сауны, бани)
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left Вне помещений и внутри неотапливаемых
									br
									| (включая балконы, лоджии)
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left Межкомнатные перегородки
									span.required  *
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Межквартирные перегородки (двойные)
									span.required  *
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
					p.sphere__table-description
						span.sphere__table-description-part
							i.table__icon.table__icon--plus
							| Рекомендуется
						span.sphere__table-description-part
							i.table__icon.table__icon--minus
							| Не допускается
						span.sphere__table-description-part
							span.required  *
							|  - не несущие перегородки
		when 'gkl'
			section.sphere.section
				.center
					table.sphere__table.table
						thead
							tr
								th.table-cell--left
									p.table-cell__heading СФЕРА ПРИМЕНЕНИЯ
								th.table-cell--small
									p.table-cell__heading ГКЛ 
										br
										| 12,5 ММ
									p.table-cell__subheading Обычный
								th.table-cell--small
									p.table-cell__heading ГКЛ 
										br
										| 9,5 ММ
									p.table-cell__subheading Обычный
								th.table-cell--small
									p.table-cell__heading ГКЛВ 
										br
										| 12,5 ММ
									p.table-cell__subheading Влагостойкий
								th.table-cell--small
									p.table-cell__heading ГКЛВ 
										br
										| 9,5 ММ
									p.table-cell__subheading Влагостойкий
								th.table-cell--small
									p.table-cell__heading ГКЛО 
										br
										| 12,5 ММ
									p.table-cell__subheading Огнестойкий
								th.table-cell--small
									p.table-cell__heading ГКЛВО 
										br
										| 12,5 ММ
									p.table-cell__subheading Влагоогнестойкий
						tbody
							tr
								td.table-cell--left Внутри сухих помещений (холлы, спальни, коридоры)
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Внутри влажных помещений (ванны, с/узлы, кухни)
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Устройство перегородок на металлокаркасе
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--none
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--none
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Устройство потолка на металлокаркасе
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--none
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--none
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Облицовка стен на металлокаркасе
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--none
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--none
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Облицовка стен с применением монтажа клея
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Криволинейные конструкции (стен, потолка)
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Облицовка конструкций с целью повышения их огнестойкости в помещениях с повышенной пожарной опасностью
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
					p.sphere__table-description
						span.sphere__table-description-part
							i.table__icon.table__icon--plus
							| Рекомендуется
						span.sphere__table-description-part
							i.table__icon.table__icon--none
							| Допускается
						span.sphere__table-description-part
							i.table__icon.table__icon--minus
							| Не допускается
						span.sphere__table-description-part
							span.required  *
							|  - не несущие перегородки
		when 'utep'
			section.sphere.section
				.center
					table.sphere__table.table
						thead
							tr
								th(rowspan='2', colspan='2').table-cell--left
									p.table-cell__heading СФЕРА ПРИМЕНЕНИЯ
								th(colspan='3').table-cell--small
									p.table-cell__heading ГИПСОВЫЕ СМЕСИ
								th(colspan='4').table-cell--small
									p.table-cell__heading ЦЕМЕНТНЫЕ СМЕСИ
							tr
								th.table-cell--small
									p.table-cell__heading ВОЛМА МОНТАЖ
								th.table-cell--small
									p.table-cell__heading ВОЛМА МОНТАЖ МОРОЗ
								th.table-cell--small
									p.table-cell__heading ВОЛМА ЛИСТ МОНТАЖ
								th.table-cell--small
									p.table-cell__heading ВОЛМА-БЛОК
								th.table-cell--small
									p.table-cell__heading ВОЛМА-БЛОК МОРОЗОСТОЙКИЙ
								th.table-cell--small
									p.table-cell__heading ВОЛМА
										br
										| ДАЧА
										span.required *
								th.table-cell--small
									p.table-cell__heading ВОЛМА ТЕРМОФАСАД
						tbody
							tr
								td(colspan='2').table-cell--left Внутренние работы
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td(colspan='2').table-cell--left Наружные работы
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td(colspan='2').table-cell--left Монтаж при отрицательной температуре
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left(rowspan='3') Кладочный материал
								td.table-cell--left ПГП
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left Пено/газобетонные блоки
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left Кирпич, керамзито-бетонные блоки
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td(colspan='2').table-cell--left Облицовка ГКЛ
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td(colspan='2').table-cell--left Облицовка пенополистеролом и минеральной ватой
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td(colspan='2').table-cell--left Срок хранения
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
							tr
								td(colspan='2').table-cell--left Упаковка
								td.table-cell--center 5, 15, 30 кг
								td.table-cell--center 30 кг
								td.table-cell--center 30 кг
								td.table-cell--center 25 кг
								td.table-cell--center 25 кг
								td.table-cell--center 25 кг
								td.table-cell--center 25 кг
					p.sphere__table-description
						span.sphere__table-description-part
							i.table__icon.table__icon--plus
							| Рекомендуется
						span.sphere__table-description-part
							i.table__icon.table__icon--none
							| Допускается
						span.sphere__table-description-part
							i.table__icon.table__icon--minus
							| Не допускается
						span.sphere__table-description-part
							span.required  *
							|  -  подходит для ручного выравнивания стен, устройства черновой стяжки и кладки кирпича
		when 'plit'
			section.sphere.section
				.center
					table.sphere__table.table
						thead
							tr
								th(rowspan='2', colspan='2').table-cell--left
									p.table-cell__heading СФЕРА ПРИМЕНЕНИЯ
								th(colspan='3').table-cell--small
									p.table-cell__heading ГИПСОВЫЕ СМЕСИ
								th(colspan='3').table-cell--small
									p.table-cell__heading ЦЕМЕНТНЫЕ СМЕСИ
							tr
								th.table-cell--small
									p.table-cell__heading ВОЛМА ИНТЕРЬЕР
								th.table-cell--small
									p.table-cell__heading ВОЛМА КЕРАМИК
								th.table-cell--small
									p.table-cell__heading ВОЛМА КЕРАМИК ПЛЮС
								th.table-cell--small
									p.table-cell__heading ВОЛМА МУЛЬТИКЛЕЙ
								th.table-cell--small
									p.table-cell__heading ВОЛМА ЭКСТРАКЛЕЙ
								th.table-cell--small
									p.table-cell__heading ВОЛМА ТЕПЛИТ
						tbody
							tr
								td(rowspan='2').table-cell--left Внутренние работы
								td.table-cell--left Отапливаемые помещения
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Неотапливаемые помещения
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td(colspan='2').table-cell--left Наружные работы
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td(colspan='2').table-cell--left Лестничные марши
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td(rowspan='4').table-cell--left Основание
								td.table-cell--left "Теплый пол"
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left ГКЛ, ГВЛ, ПГП
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left Бетон, кирпич, цементные, цементно-известковые штукатурки, цементные стяжки
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Пено/газобетонные блоки
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td(rowspan='2').table-cell--left Керамическая плитка
								td.table-cell--left Стены
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left Пол
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td(rowspan='2').table-cell--left Керамогранит
								td.table-cell--left Стены
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left Пол
								td.table-cell--center
									i.table__icon.table__icon--none
								td.table-cell--center
									i.table__icon.table__icon--none
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td(rowspan='2').table-cell--left Искусственный или натуральный камень
								td.table-cell--left Стены
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--none
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left Пол
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td(rowspan='2').table-cell--left Формат плитки
								td.table-cell--left S= до 900 кв. см
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left S= более 900 кв. см
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
									span.required  *
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td(colspan='2').table-cell--left Срок хранения
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
							tr
								td(colspan='2').table-cell--left Упаковка
								td.table-cell--center 25 кг
								td.table-cell--center 25 кг
								td.table-cell--center 25 кг
								td.table-cell--center 25 кг
								td.table-cell--center 25 кг
								td.table-cell--center 25 кг

					p.sphere__table-description
						span.sphere__table-description-part
							i.table__icon.table__icon--plus
							| Рекомендуется
						span.sphere__table-description-part
							i.table__icon.table__icon--none
							| Допускается
						span.sphere__table-description-part
							i.table__icon.table__icon--minus
							| Не допускается
						span.sphere__table-description-part
							span.required  *
							|  - для керамической плитки и керамогранита на пол
		when 'pol'
			section.sphere.section
				.center
					table.sphere__table.table
						thead
							tr
								th(rowspan='2', colspan='2').table-cell--left
									p.table-cell__heading СФЕРА ПРИМЕНЕНИЯ
								th(colspan='3').table-cell--small
									p.table-cell__heading ГИПСОВЫЕ СМЕСИ
								th(colspan='3').table-cell--small
									p.table-cell__heading ЦЕМЕНТНЫЕ СМЕСИ
							tr
								th.table-cell--small
									p.table-cell__heading ВОЛМА НИВЕЛИР ЭКСПРЕСС
								th.table-cell--small
									p.table-cell__heading ВОЛМА НИВЕЛИР ТОП
								th.table-cell--small
									p.table-cell__heading ВОЛМА НИВЕЛИР АРЕНА
								th.table-cell--small
									p.table-cell__heading ВОЛМА РОВНИТЕЛЬ ГРУБЫЙ
								th.table-cell--small
									p.table-cell__heading ВОЛМА ДАЧА
										span.required *
						tbody
							tr
								td(rowspan='2').table-cell--left Внутренние работы
								td.table-cell--left Помещения с нормальной влажностью
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Помещения с повышенной влажностью
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td(colspan='2').table-cell--left Наружные работы
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td(rowspan='3').table-cell--left Основание
								td.table-cell--left Бетон
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Цементная стяжка
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Система «плавающий пол»
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td(colspan='2').table-cell--left Система «теплый пол»
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td(colspan='2').table-cell--left Срок хранения
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
							tr
								td(colspan='2').table-cell--left Упаковка
								td.table-cell--center 20 кг
								td.table-cell--center 20 кг
								td.table-cell--center 25 кг
								td.table-cell--center 25 кг
								td.table-cell--center 25 кг

					p.sphere__table-description
						span.sphere__table-description-part
							i.table__icon.table__icon--plus
							| Рекомендуется
						span.sphere__table-description-part
							i.table__icon.table__icon--none
							| Допускается
						span.sphere__table-description-part
							i.table__icon.table__icon--minus
							| Не допускается
						span.sphere__table-description-part
							span.required  *
							|  - подходит для ручного выравнивания стен,   устройства черновой стяжки и кладки кирпича
		when 'shtuk'
			section.sphere.section
				.center
					table.sphere__table.table
						thead
							tr
								th(rowspan='2', colspan='2').table-cell--left
									p.table-cell__heading СФЕРА ПРИМЕНЕНИЯ
								th(colspan='3').table-cell--small
									p.table-cell__heading ГИПСОВЫЕ СМЕСИ
								th(colspan='4').table-cell--small
									p.table-cell__heading ЦЕМЕНТНЫЕ СМЕСИ
							tr
								th.table-cell--small
									p.table-cell__heading ВОЛМА СЛОЙ
								th.table-cell--small
									p.table-cell__heading ВОЛМА ХОЛСТ
								th.table-cell--small
									p.table-cell__heading ВОЛМА ПЛАСТ
								th.table-cell--small
									p.table-cell__heading ВОЛМА АКВАСЛОЙ
								th.table-cell--small
									p.table-cell__heading ВОЛМА КВАПЛАСТ
								th.table-cell--small
									p.table-cell__heading ВОЛМА ЦОКОЛЬ
								th.table-cell--small
									p.table-cell__heading ВОЛМА
										br
										| ДАЧА
										span.required *
						tbody
							tr
								td.table-cell--left(rowspan='2') Внутренние работы
								td.table-cell--left Помещения с нормальной влажностью
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Помещения с повышенной влажностью
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left(rowspan='2') Наружные работы
								td.table-cell--left Фасады
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Цоколи
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left(rowspan='2') Выравнивание
								td.table-cell--left Стен
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Потолков
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left(rowspan='3') Основание
								td.table-cell--left Штукатурка гипсовая
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left Штукатурка цементная, цементно-известковая
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Бетон, кирпич Пено/газобетонные блоки
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td(colspan='2').table-cell--left Не требует финишного шпаклевания
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td(colspan='2').table-cell--left Срок хранения
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
							tr
								td(colspan='2').table-cell--left Упаковка
								td.table-cell--center 5, 15,30  кг
								td.table-cell--center 30 кг
								td.table-cell--center 30 кг
								td.table-cell--center 25 кг
								td.table-cell--center 25 кг
								td.table-cell--center 25 кг
								td.table-cell--center 25 кг
					p.sphere__table-description
						span.sphere__table-description-part
							i.table__icon.table__icon--plus
							| Рекомендуется
						span.sphere__table-description-part
							i.table__icon.table__icon--none
							| Допускается
						span.sphere__table-description-part
							i.table__icon.table__icon--minus
							| Не допускается
						span.sphere__table-description-part
							span.required  *
							|  -  подходит для ручного выравнивания стен, устройства черновой стяжки и кладки кирпича 
		when 'shpak'
			section.sphere.section
				.center
					table.sphere__table.table
						thead
							tr
								th(rowspan='2', colspan='2').table-cell--left
									p.table-cell__heading СФЕРА ПРИМЕНЕНИЯ
								th(colspan='4').table-cell--small
									p.table-cell__heading ГИПСОВЫЕ СМЕСИ
								th(colspan='3').table-cell--small
									p.table-cell__heading ЦЕМЕНТНЫЕ СМЕСИ
							tr
								th.table-cell--small
									p.table-cell__heading ВОЛМА СТАНДАРТ
								th.table-cell--small
									p.table-cell__heading ВОЛМА ШОВ
								th.table-cell--small
									p.table-cell__heading ВОЛМА УНИШОВ
								th.table-cell--small
									p.table-cell__heading ВОЛМА ФИНИШ
								th.table-cell--small
									p.table-cell__heading ВОЛМА БАЗА
								th.table-cell--small
									p.table-cell__heading ВОЛМА АКВА-СТАНДАРТ
								th.table-cell--small
									p.table-cell__heading ВОЛМА АКВАСТАНДАРТ СВЕТЛЫЙ
						tbody
							tr
								td.table-cell--left(rowspan='2') Внутренние работы
								td.table-cell--left Помещения с нормальной влажностью
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Помещения с повышенной влажностью
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left(rowspan='2') Наружные работы
								td.table-cell--left Фасады
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Цоколи
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left(rowspan='2') Выравнивание
								td.table-cell--left Стен
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Потолков
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left(rowspan='4') Виды работ
								td.table-cell--left Базовые
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--none
								td.table-cell--center
									i.table__icon.table__icon--none
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Финишные
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--none
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left Заделка стыков ГКЛ, ГВЛ без армирующей ленты
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left Заделка стыков ГКЛ, ГВЛ
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left(rowspan='3') Основание
								td.table-cell--left Бетон, пено/газобетонные блоки
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left Штукатурка гипсовая
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left Штукатурка цементная, цементно-известковая
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td(colspan='2').table-cell--left Срок хранения
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
							tr
								td(colspan='2').table-cell--left Упаковка
								td.table-cell--center 25 кг
								td.table-cell--center 5, 15, 25  кг
								td.table-cell--center 25 кг
								td.table-cell--center 5, 15, 25  кг
								td.table-cell--center 22 кг
								td.table-cell--center 22 кг
								td.table-cell--center 22 кг
					p.sphere__table-description
						span.sphere__table-description-part
							i.table__icon.table__icon--plus
							| Рекомендуется
						span.sphere__table-description-part
							i.table__icon.table__icon--none
							| Допускается
						span.sphere__table-description-part
							i.table__icon.table__icon--minus
							| Не допускается
		when 'mont'
			section.sphere.section
				.center
					table.sphere__table.table
						thead
							tr
								th(rowspan='2', colspan='2').table-cell--left
									p.table-cell__heading СФЕРА ПРИМЕНЕНИЯ
								th(colspan='4').table-cell--small
									p.table-cell__heading ГИПСОВЫЕ СМЕСИ
								th(colspan='3').table-cell--small
									p.table-cell__heading ЦЕМЕНТНЫЕ СМЕСИ
							tr
								th.table-cell--small
									p.table-cell__heading ВОЛМА МОНТАЖ
								th.table-cell--small
									p.table-cell__heading ВОЛМА МОНТАЖ МОРОЗ
								th.table-cell--small
									p.table-cell__heading ВОЛМА ЛИСТ МОНТАЖ
								th.table-cell--small
									p.table-cell__heading ВОЛМА-БЛОК
								th.table-cell--small
									p.table-cell__heading ВОЛМА-БЛОК МОРОЗОСТОЙКИЙ
								th.table-cell--small
									p.table-cell__heading ВОЛМА ДАЧА
										SPAN.REQUIRED *
								th.table-cell--small
									p.table-cell__heading ВОЛМА ТЕРМОФАСАД
						tbody
							tr
								td.table-cell--left(colspan='2') Внутренние работы
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left(colspan='2') Наружные работы
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td.table-cell--left(colspan='2') Монтаж при отрицательной температуре
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left(rowspan='3') Кладочный материал
								td.table-cell--left ПГП
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left Пено/газобетонные блоки
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left Кирпич, керамзито- бетонные блоки
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left(colspan='2') Облицовка ГКЛ
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
							tr
								td.table-cell--left(colspan='2') Облицовка пенополистеролом и минеральной ватой
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--minus
								td.table-cell--center
									i.table__icon.table__icon--plus
							tr
								td(colspan='2').table-cell--left Срок хранения
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
								td.table-cell--center 12 мес.
							tr
								td(colspan='2').table-cell--left Упаковка
								td.table-cell--center 5, 15, 30 кг
								td.table-cell--center 30 кг
								td.table-cell--center 30 кг
								td.table-cell--center 25 кг
								td.table-cell--center 25 кг
								td.table-cell--center 25 кг
								td.table-cell--center 25 кг
					p.sphere__table-description
						span.sphere__table-description-part
							i.table__icon.table__icon--plus
							| Рекомендуется
						span.sphere__table-description-part
							i.table__icon.table__icon--minus
							| Не допускается
						span.sphere__table-description-part
							span.required  *
							|  - подходит для ручного выравнивания стен, устройства черновой стяжки и кладки кирпича
		default
			p nothing provided