/* --- Sphere --- */
.sphere {
	padding: 40px 0 60px;
	background-color: $grey;

	&__table {

		td {
			padding: 8px 20px !important;
			line-height: 1;
		}

		&-description {
			margin-top: 20px;
			font-size: 14px;
			font-weight: $med;

			i {
				vertical-align: -6px;
				margin-right: 8px;
			}

			&-part {
				margin-right: 30px;
			}
		}
	}
}