<section class="sphere section">
    <div class="center">
        <table class="sphere__table table">
            <thead>
            <tr>
                <th rowspan="2" colspan="2" class="table-cell--left">
                    <p class="table-cell__heading">СФЕРА ПРИМЕНЕНИЯ</p>
                </th>
                <th colspan="4" class="table-cell--small">
                    <p class="table-cell__heading">ГИПСОВЫЕ СМЕСИ</p>
                </th>
                <th colspan="3" class="table-cell--small">
                    <p class="table-cell__heading">ЦЕМЕНТНЫЕ СМЕСИ</p>
                </th>
            </tr>
            <tr>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА СТАНДАРТ</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА ШОВ</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА УНИШОВ</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА ФИНИШ</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА БАЗА</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА АКВА-СТАНДАРТ</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА АКВАСТАНДАРТ СВЕТЛЫЙ</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="2" class="table-cell--left">Внутренние работы</td>
                <td class="table-cell--left">Помещения с нормальной влажностью</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Помещения с повышенной влажностью</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td rowspan="2" class="table-cell--left">Наружные работы</td>
                <td class="table-cell--left">Фасады</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Цоколи</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td rowspan="2" class="table-cell--left">Выравнивание</td>
                <td class="table-cell--left">Стен</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Потолков</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
            </tr>
            <tr>
                <td rowspan="4" class="table-cell--left">Виды работ</td>
                <td class="table-cell--left">Базовые</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--none"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--none"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Финишные</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--none"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Заделка стыков ГКЛ, ГВЛ без армирующей ленты</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Заделка стыков ГКЛ, ГВЛ</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
            </tr>
            <tr>
                <td rowspan="3" class="table-cell--left">Основание</td>
                <td class="table-cell--left">Бетон, пено/газобетонные блоки</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Штукатурка гипсовая</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Штукатурка цементная, цементно-известковая</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td colspan="2" class="table-cell--left">Срок хранения</td>
                <td class="table-cell--center">12 мес.</td>
                <td class="table-cell--center">12 мес.</td>
                <td class="table-cell--center">12 мес.</td>
                <td class="table-cell--center">12 мес.</td>
                <td class="table-cell--center">12 мес.</td>
                <td class="table-cell--center">12 мес.</td>
                <td class="table-cell--center">12 мес.</td>
            </tr>
            <tr>
                <td colspan="2" class="table-cell--left">Упаковка</td>
                <td class="table-cell--center">25 кг</td>
                <td class="table-cell--center">5, 15, 25  кг</td>
                <td class="table-cell--center">25 кг</td>
                <td class="table-cell--center">5, 15, 25  кг</td>
                <td class="table-cell--center">22 кг</td>
                <td class="table-cell--center">22 кг</td>
                <td class="table-cell--center">22 кг</td>
            </tr>
            </tbody>
        </table>
        <p class="sphere__table-description"><span class="sphere__table-description-part"><i class="table__icon table__icon--plus"></i>Рекомендуется</span><span class="sphere__table-description-part"><i class="table__icon table__icon--none"></i>Допускается</span><span class="sphere__table-description-part"><i class="table__icon table__icon--minus"></i>Не допускается</span></p>
    </div>
</section>