<section class="sphere section">
    <div class="center">
        <table class="sphere__table table">
            <thead>
            <tr>
                <th rowspan="2" colspan="2" class="table-cell--left">
                    <p class="table-cell__heading">СФЕРА ПРИМЕНЕНИЯ</p>
                </th>
                <th colspan="3" class="table-cell--small">
                    <p class="table-cell__heading">ГИПСОВЫЕ СМЕСИ</p>
                </th>
                <th colspan="3" class="table-cell--small">
                    <p class="table-cell__heading">ЦЕМЕНТНЫЕ СМЕСИ</p>
                </th>
            </tr>
            <tr>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА НИВЕЛИР ЭКСПРЕСС</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА НИВЕЛИР ТОП</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА НИВЕЛИР АРЕНА</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА РОВНИТЕЛЬ ГРУБЫЙ</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА ДАЧА<span class="required">*</span></p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="2" class="table-cell--left">Внутренние работы</td>
                <td class="table-cell--left">Помещения с нормальной влажностью</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Помещения с повышенной влажностью</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td colspan="2" class="table-cell--left">Наружные работы</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td rowspan="3" class="table-cell--left">Основание</td>
                <td class="table-cell--left">Бетон</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Цементная стяжка</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Система «плавающий пол»</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
            </tr>
            <tr>
                <td colspan="2" class="table-cell--left">Система «теплый пол»</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
            </tr>
            <tr>
                <td colspan="2" class="table-cell--left">Срок хранения</td>
                <td class="table-cell--center">12 мес.</td>
                <td class="table-cell--center">12 мес.</td>
                <td class="table-cell--center">12 мес.</td>
                <td class="table-cell--center">12 мес.</td>
                <td class="table-cell--center">12 мес.</td>
            </tr>
            <tr>
                <td colspan="2" class="table-cell--left">Упаковка</td>
                <td class="table-cell--center">20 кг</td>
                <td class="table-cell--center">20 кг</td>
                <td class="table-cell--center">25 кг</td>
                <td class="table-cell--center">25 кг</td>
                <td class="table-cell--center">25 кг</td>
            </tr>
            </tbody>
        </table>
        <p class="sphere__table-description"><span class="sphere__table-description-part"><i class="table__icon table__icon--plus"></i>Рекомендуется</span><span class="sphere__table-description-part"><i class="table__icon table__icon--none"></i>Допускается</span><span class="sphere__table-description-part"><i class="table__icon table__icon--minus"></i>Не допускается</span><span class="sphere__table-description-part"><span class="required"> *</span> - подходит для ручного выравнивания стен,   устройства черновой стяжки и кладки кирпича</span></p>
    </div>
</section>