<section class="sphere section">
    <div class="center">
        <table class="sphere__table table">
            <thead>
            <tr>
                <th rowspan="2" colspan="2" class="table-cell--left">
                    <p class="table-cell__heading">СФЕРА ПРИМЕНЕНИЯ</p>
                </th>
                <th colspan="3" class="table-cell--small">
                    <p class="table-cell__heading">ГИПСОВЫЕ СМЕСИ</p>
                </th>
                <th colspan="3" class="table-cell--small">
                    <p class="table-cell__heading">ЦЕМЕНТНЫЕ СМЕСИ</p>
                </th>
            </tr>
            <tr>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА ИНТЕРЬЕР</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА КЕРАМИК</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА КЕРАМИК ПЛЮС</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА МУЛЬТИКЛЕЙ</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА ЭКСТРАКЛЕЙ</p>
                </th>
                <th class="table-cell--small">
                    <p class="table-cell__heading">ВОЛМА ТЕПЛИТ</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="2" class="table-cell--left">Внутренние работы</td>
                <td class="table-cell--left">Отапливаемые помещения</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Неотапливаемые помещения</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td colspan="2" class="table-cell--left">Наружные работы</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td colspan="2" class="table-cell--left">Лестничные марши</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
            </tr>
            <tr>
                <td rowspan="4" class="table-cell--left">Основание</td>
                <td class="table-cell--left">"Теплый пол"</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">ГКЛ, ГВЛ, ПГП</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Бетон, кирпич, цементные, цементно-известковые штукатурки, цементные стяжки</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Пено/газобетонные блоки</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
            </tr>
            <tr>
                <td rowspan="2" class="table-cell--left">Керамическая плитка</td>
                <td class="table-cell--left">Стены</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Пол</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td rowspan="2" class="table-cell--left">Керамогранит</td>
                <td class="table-cell--left">Стены</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Пол</td>
                <td class="table-cell--center"><i class="table__icon table__icon--none"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--none"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td rowspan="2" class="table-cell--left">Искусственный или натуральный камень</td>
                <td class="table-cell--left">Стены</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--none"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">Пол</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td rowspan="2" class="table-cell--left">Формат плитки</td>
                <td class="table-cell--left">S= до 900 кв. см</td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td class="table-cell--left">S= более 900 кв. см</td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--minus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i><span class="required"> *</span></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
                <td class="table-cell--center"><i class="table__icon table__icon--plus"></i></td>
            </tr>
            <tr>
                <td colspan="2" class="table-cell--left">Срок хранения</td>
                <td class="table-cell--center">12 мес.</td>
                <td class="table-cell--center">12 мес.</td>
                <td class="table-cell--center">12 мес.</td>
                <td class="table-cell--center">12 мес.</td>
                <td class="table-cell--center">12 мес.</td>
                <td class="table-cell--center">12 мес.</td>
            </tr>
            <tr>
                <td colspan="2" class="table-cell--left">Упаковка</td>
                <td class="table-cell--center">25 кг</td>
                <td class="table-cell--center">25 кг</td>
                <td class="table-cell--center">25 кг</td>
                <td class="table-cell--center">25 кг</td>
                <td class="table-cell--center">25 кг</td>
                <td class="table-cell--center">25 кг</td>
            </tr>
            </tbody>
        </table>
        <p class="sphere__table-description"><span class="sphere__table-description-part"><i class="table__icon table__icon--plus"></i>Рекомендуется</span><span class="sphere__table-description-part"><i class="table__icon table__icon--none"></i>Допускается</span><span class="sphere__table-description-part"><i class="table__icon table__icon--minus"></i>Не допускается</span><span class="sphere__table-description-part"><span class="required"> *</span> - для керамической плитки и керамогранита на пол</span></p>
    </div>
</section>