/* --- Header --- */
.header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	color: white;
	background-color: #1a8ccf;
	box-shadow: 0px 2px 7px -2px RGBA(0, 0, 0, 0.17);
	@include transition(transform, 0.36s, ease);

	&--hidden {
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}

	.center {
		width: 1380px;
	}

	&__top {
		border-bottom: 1px $blue solid;
	}

	&__logo {
		display: block;
		float: left;
		margin-top: 10px;
	}

	&__navigation {
		float: left;
		margin-top: 28px;
		margin-left: 160px;

		&-item {
			display: block;
			padding: 5px 14px 0;
			float: left;

			&:last-child {
				border-left: 1px $blue solid;
			}
		}

		&-link {
			display: inline-block;
			padding-bottom: 5px;
			text-decoration: none;
			color: inherit;
			font-weight: $med;

			&:hover, &:focus {
				border-bottom: 2px $blue--dark solid;
			}
		}
	}

	&__basket {
		display: block;
		position: relative;
		padding: 19px 30px 19px 75px;
		background-color: $blue;
		font-weight: $med;
		text-transform: uppercase;
		text-decoration: none;
		color: inherit;
		float: right;
		@include transition(background-color, 0.2s, ease);

		&:hover,
		&:focus {
			background-color: $blue--dark;
		}

		&:before {
			content: '';
			display: block;
			height: 23px;
			width: 23px;
			position: absolute;
			top: calc(50% - 12px);
			left: 30px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url('../img/elem/header__basket-icon.png');
		}

		&--filled {
			.header__basket-empty {
				display: none;
			}
		}

		&--empty {
			.header__basket-label,
			.header__basket-sum {
				display: none;
			}
		}

		&-label {
			font-size: 14px;
			margin-bottom: 7px;
		}

		&-sum {
			font-size: 20px;

			&:after {
				content: ' ₽';
				font-weight: $reg;
				font-size: 18px;
			}
		}

		&-empty {
			text-align: center;
			line-height: 1.2;
			padding-top: 3px;
		}
	}

	&__contacts {
		margin-top: 20px;
		margin-right: 27px;
		text-align: right;
		float: right;

		&-text {
			&--phone {
				font-size: 24px;
				font-weight: $med;
				margin-bottom: 5px;

				a {
					color: inherit;
					text-decoration: none;
				}
			}

			&--time {
				font-size: 13px;
				font-weight: $reg;
			}
		}
	}

	&__menu {
		@include flexbox(row, space-between, center);

		&-item {
			display: inline-block;
			border-bottom: 4px transparent solid;
			@include box-sizing(border-box);

			&:hover,
			&:focus {
				border-bottom: 4px $blue--dark solid;
			}

			&--active {
				border-bottom: 4px $green solid;

				&:hover,
				&:focus {
					border-bottom: 4px $green solid;
				}
			}
		}

		&-link {
			display: block;
			padding: 17px 0 13px;
			color: inherit;
			font-weight: $med;
			line-height: 1.2;
			text-decoration: none;
			text-transform: uppercase;
			@include box-sizing(border-box);
			// border-bottom: 2px transparent solid;
		}
	}
}

@media (max-width: 1400px) {
	.header {
		.center {
			width: 1100px;
		}

		&__navigation {
			margin-left: 25px;

			&-item {
				padding: 5px 10px 0;
			}
		}

		&__contacts {
			margin-right: 25px;
		}

		&__basket {
			padding: 19px 20px 19px 65px;
		}

		/* &__menu {
			display: block;

			&-item {
				display: block;
				width: 25%;
				float: left;
				border-bottom-color: transparent;

				span {
					padding-bottom: 2px;
				}

				&:hover,
				&:focus {
					border-bottom-color: transparent;

					span {
						border-bottom: 2px $blue--dark solid;
					}
				}

				&--active  {
					&:hover,
					&:focus {
						span {
							border-bottom: 2px $green solid;
						}
					}

					span {
						border-bottom: 2px $green solid;
					}
				}
			}
		} */
	}
}