mixin montage(videoLink, heading)
	section.montage.section
		.center
			h2.section__heading.montage__heading #{heading}
			.montage__container.clearfix
				.montage__video.lightgallery--video
					a(href=(videoLink), title='Видео монтажа ПГП ВОЛМА')
						img(src='../img/elem/montage__video.jpg', alt='Видео монтажа ПГП ВОЛМА')
				.montage__content
					p.montage__text С другой стороны новая модель организационной деятельности представляет 
						br
						| собой интересный ксперимент проверки соответствующий условий активизации. Задача организации, в особенности же сложившаяся структура организации
						br
						| требуют от нас анализа форм развития.
					p.montage__text Значимость этих проблем настолько очевидна, что постоянное 
						br
						| информационно-пропагандистское обеспечение нашей деятельности
						br
						| представляет собой интересный эксперимент проверки модели развития.