/* --- Montage --- */
.montage {
	padding: 60px 0 70px;
	background-color: white;

	&__heading {
		margin-bottom: 50px;
	}

	&__video {
		display: block;
		line-height: 0;
		box-shadow: 0px 0px 10px 0px RGBA(0, 0, 0, 0.07);
		float: left;
	}

	&__content {
		width: 50%;
		margin-top: 60px;
		padding-left: 50px;
		float: left;
		@include box-sizing(border-box);
	}

	&__text {
		line-height: 1.2;
		margin-bottom: 20px;
		font-weight: $reg;

		&:first-child {
			position: relative;
			padding-top: 25px;

			&:before {
				content: '';
				display: block;
				height: 2px;
				width: 30px;
				position: absolute;
				top: 0;
				left: 0;
				background-color: #00af16;
			}
		}
	}
}