<section class="inner-promo">
    <div class="center">
        <div class="inner-promo__container clearfix">
            <div class="inner-promo__image">
                <div class="inner-promo__logo clearfix"><img src="../img/elem/promo__logo.png" alt="Волма логотип" class="inner-promo__logo-img">
                    <p class="inner-promo__logo-text"><span>2 место по объему</span><br><span>продаж ССС в России</span>
                    </p>
                </div><img src="../img/elem/promo__item-utep.png" alt="Утеплитель" class="inner-promo__item">
            </div>
            <div class="inner-promo__info">
                <h1 class="inner-promo__heading">Утеплитель</h1>
                <p class="inner-promo__subheading">Бесплатный шеф-монтаж на Вашем объекте<br>Специально обученная бригада от завода производителя</p><a href="#" title="Получить бесплатный шэф-монтаж" data-win="popup--chief" class="btn btn--green btn--arrow inner-promo__btn open-popup">получить бесплатный шэф-монтаж<i></i></a><span class="inner-promo__date">Только до <span class="js-action__day">31</span>&nbsp;<span class="js-action__month">декабря</span>!</span>
            </div>
        </div>
    </div>
</section>