mixin technical(pageName)
	case pageName
		when 'pgp'
			.technical
				table.technical__table.table
					thead
						tr
							th.table-cell--left Тип
							th(colspan='2')
								p.table-cell__heading ПУСТОТЕЛАЯ
							th(colspan='4')
								p.table-cell__heading ПОЛНОТЕЛАЯ
						tr
							th.table-cell--left Вид
							th 
								p.table-cell__heading ПГП ОБЫЧНАЯ
							th 
								p.table-cell__heading ПГП ВЛАГОСТОЙКАЯ
							th 
								p.table-cell__heading ПГП ОБЫЧНАЯ
							th 
								p.table-cell__heading ПГП ВЛАГОСТОЙКАЯ
							th 
								p.table-cell__heading ПГП ОБЫЧНАЯ
							th 
								p.table-cell__heading ПГП ВЛАГОСТОЙКАЯ

					tbody
							tr
								td.table-cell--left Габариты
								td.table-cell--center(colspan='4') 667*500*80 мм
								td.table-cell--center(colspan='2') 667*500*100 мм
							tr
								td.table-cell--left Цвет. Маркировка
								td.table-cell--center -
								td.table-cell--center ЗЕЛЕНЫЙ
								td.table-cell--center -
								td.table-cell--center ЗЕЛЕНЫЙ
								td.table-cell--center -
								td.table-cell--center ЗЕЛЕНЫЙ
							tr
								td.table-cell--left Вес плиты
								td.table-cell--center 20-22 кг
								td.table-cell--center 21-23 кг
								td.table-cell--center 26-28 кг
								td.table-cell--center 28-30 кг
								td.table-cell--center(colspan='2') 35-37 кг
							tr
								td.table-cell--left Водопоглощение
								td.table-cell--center -
								td.table-cell--center НЕ БОЛЕЕ 5%
								td.table-cell--center -
								td.table-cell--center НЕ БОЛЕЕ 5%
								td.table-cell--center -
								td.table-cell--center НЕ БОЛЕЕ 5%
							tr
								td.table-cell--left Прочность при сжатии
								td.table-cell--center(colspan='2') 5,0 МПа
								td.table-cell--center(colspan='4') 5,0 МПа
							tr
								td.table-cell--left Прочность при сгибе
								td.table-cell--center(colspan='2') 2,4 МПа
								td.table-cell--center(colspan='4') 2,4 МПа
							tr
								td.table-cell--left Отпускная влажность
								td.table-cell--center(colspan='6') НЕ БОЛЕЕ 8%
							tr
								td.table-cell--left Паропроницаемость
								td.table-cell--center(colspan='6') 0,11 Мг/М*Ч*ПА
							tr
								td.table-cell--left Коэфф. теплопроводности
								td.table-cell--center(colspan='6') 0,29-0,35 Вт/М°С
		when 'gkl'
			.technical
				table.technical__table.table
					thead
						tr
							th.table-cell--left
							th(colspan='2')
								p.table-cell__heading ГКЛ
								p.table-cell__subheading (СтП - строительная плита)
							th(colspan='2')
								p.table-cell__heading ГКЛВ
								p.table-cell__subheading (СтПВ - строительная плита влагостойкая)
							th
								p.table-cell__heading ГКЛО
								p.table-cell__subheading (СтПО - строительная плита с повышенной сопротивляемостью воздействию открытого пламени)
							th
								p.table-cell__heading ГКЛВО
								p.table-cell__subheading (СтПВО - строительная плита влагостойкая, с повышенной сопротивляемостью воздействию открытого пламени)

					tbody
							tr
								td.table-cell--left Длина
								td.table-cell--center 2500&nbsp;мм
								td.table-cell--center 3500&nbsp;мм
								td.table-cell--center 2500&nbsp;мм
								td.table-cell--center 3500&nbsp;мм
								td.table-cell--center 2500&nbsp;мм
								td.table-cell--center 2500&nbsp;мм
							tr
								td.table-cell--left Ширина
								td.table-cell--center 1200&nbsp;мм
								td.table-cell--center 1200&nbsp;мм
								td.table-cell--center 1200&nbsp;мм
								td.table-cell--center 1200&nbsp;мм
								td.table-cell--center 1200&nbsp;мм
								td.table-cell--center 1200&nbsp;мм
							tr
								td.table-cell--left Толщина
								td.table-cell--center 9,5&nbsp;мм
								td.table-cell--center 12,5&nbsp;мм
								td.table-cell--center 9,5&nbsp;мм
								td.table-cell--center 12,5&nbsp;мм
								td.table-cell--center 12,5&nbsp;мм
								td.table-cell--center 12,5&nbsp;мм
							tr
								td.table-cell--left Масса&nbsp;1м
									sup 2
									| &nbsp;листа&nbsp;не&nbsp;более
								td.table-cell--center 8,1&nbsp;кг
								td.table-cell--center 10,6&nbsp;кг
								td.table-cell--center 9,5&nbsp;кг
								td.table-cell--center 12,5&nbsp;кг
								td.table-cell--center 12,5&nbsp;кг
								td.table-cell--center 12,5&nbsp;кг
							tr
								td.table-cell--left Водопоглощение
								td.table-cell--center(colspan='2') -
								td.table-cell--center(colspan='2') Не более 10%
								td.table-cell--center -
								td.table-cell--center Не более 9%

		default
			p none