/* --- Map --- */
.map {
	padding: 60px 0 0;
	background-color: $grey--dark;

	&__heading {
		margin-bottom: 50px;
	}

	&__container {
		box-shadow: 0px 0px 10px 0px #BFBFBF inset;
	}

	&__block {
		height: 500px;
		// background-image: url('../img/elem/map__block-bg.jpg');
		background-position: center;
		background-repeat: no-repeat;
	}

	&__infobox-wrapper {
		display:none;
	}

	&__baloon {
		max-width: 450px;
		font-family: $font;
		line-height: 1.2;

		&-heading {
			font-weight: bold;
			font-size: 20px;
			margin-bottom: 5px;
		}

		&-text {
			font-size: 14px;
			font-weight: normal;
			line-height: 1.2;
		}
	}
}

#map__infobox {
    background: $blue;
    color: white;
    font-size: 14px;
    font-weight: $reg;
    font-family: $font;
    padding: 10px;
    position: relative;
    margin-right: -100px;

    p {
    	line-height: 1.2;
    }
}

.infoBox {
	margin-left: 170px !important;
	margin-top: -43px !important;

	& > img {
		display: none !important;
	}
}