section.map.section
	.center
		h2.section__heading.map__heading Отгрузка с любого ближайшего к Вам завода или склада
	.map__container
		.map__block#map__block
		//- .map__infobox-wrapper
		//- 	#map__infobox
		//- 		p г. Тверь,
		//- 			br
		//- 			| ул. Авангардная, 25 а