<section class="map section">
    <div class="center">
        <h2 class="section__heading map__heading">Отгрузка с любого ближайшего к Вам завода или склада</h2>
    </div>
    <div class="map__container">
        <div id="map__block" class="map__block"></div>
    </div>
</section>